<div>

	<div class="container search">
		<div class="row">
			<div class="col-9">


			    <div class="input-group">
	              <input type="search" class="form-control border border-secondary" id="mfileTextSearch" 
						#mfileTextSearch [(ngModel)]="searchText"
						(keyup.enter)="$event.target.blur();searchList();false"
					    placeholder="Search for name, type, link"> 
				  <div *ngIf="searchText" class="input-group-append icon-clear-inside">
					<span >
					    <i class="fas fa-times-circle" (click)="onSearchTextClear()" title="Clear"></i>
				    </span>
				  </div>
				  <div class="input-group-append">
				    <button type="button" class="btn btn-outline-secondary" (click)="searchList()"><i class="fas fa-search"></i></button>
				  </div>
				</div>
			

				<div class="text-center">
                    <span  class="pointer" (click)="toggleMoreSearch()">
                        <span class="refine-search-text">Refine Search &nbsp;</span>
                        <span>
                            <i *ngIf="!moreSearchOpened"  class="fas fa-plus-circle" title="More"></i>
                            <i *ngIf="moreSearchOpened" class="fas fa-minus-circle"  title="Less"></i>
                        </span>
                    </span>
				</div>
			    <div class="shadow" *ngIf="moreSearchOpened">
					<div class="card">
						<div class="card-body">
	    <div class="single-line-edit">
	      <div class="row">
	        <div class="col-3"><label for="mfileEditLabels">Labels</label></div>
	        <div class="col-8">




	        <ng-template [ngIf]="detail['labels'] && detail['labels']['selection']">
	            <div class="badge badge-pill badge-secondary" *ngFor="let element of detail['labels']['selection']; let i = index;">
	                      {{element}}
				    <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromArrayField('labels', i)" title="Remove"></i>
				</div>
	        </ng-template>
	
	        <div class="input-group mt-3">
	             <input type="search" class="form-control border"
	             		id="mfileEditLabelsNew" #mfileEditLabelsNew
					[(ngModel)]="detail['labels']['new']" [ngModelOptions]="{standalone: true}"
					(keydown.enter)="$event.target.blur();onAddArrayItem('labels');false"
				    > 
			    <div class="input-group-append">
			        <button type="button" class="btn btn-outline-secondary" (click)="onAddArrayItem('labels')"><i class="fas fa-plus"></i></button>
			    </div>
			</div>

 

	      </div>
	      
	      <div class="col-1">
		    <div class="icon-clear" (click)="clearValueFromDetail('labels')"
		        *ngIf="checkValueDefinedFromDetail('labels')"
		        ><i class="fas fa-times-circle" title="Clear"></i></div>
	      </div>
	    </div>
      </div>
      
 
	    <div class="single-line-edit">
	      <div class="row">
	        <div class="col-3"><label for="mfileEditSize">Size</label></div>
	        <div class="col-8">


	        <input type="number" class="form-control" id="mfileEditSize" 
	                [(ngModel)]="detail['size']" name="mfileEditSize"
	                #mfileEditSize="ngModel">

	      </div>
	      
	      <div class="col-1">
		    <div class="icon-clear" (click)="clearValueFromDetail('size')"
		        *ngIf="checkValueDefinedFromDetail('size')"
		        ><i class="fas fa-times-circle" title="Clear"></i></div>
	      </div>
	    </div>
      </div>
      
 
	    <div class="single-line-edit">
	      <div class="row">
	        <div class="col-3"><label for="mfileEditUploaded">Uploaded</label></div>
	        <div class="col-8">

 
	        <div class="input-group">
		      <input class="form-control" id="mfileEditUploaded" placeholder="{{dateFormat}}"
		             [(ngModel)]="detail['uploaded']['from']" name="mfileEditUploaded"
		             ngbDatepicker #mfileEditUploaded="ngModel">
		      <span>&nbsp; ~ &nbsp;</span>
		      <input class="form-control" id="mfileEditUploaded" placeholder="{{dateFormat}}"
		             [(ngModel)]="detail['uploaded']['to']" name="mfileEditUploaded"
		             ngbDatepicker #mfileEditUploaded="ngModel">

		      <div class="input-group-append">
		        <button class="btn btn-outline-secondary" (click)="onDateSelectionToggle('uploaded')" type="button">
		          <i class="fas fa-calendar-alt"></i>
		        </button>
		      </div>
		    </div><!-- input group --> 
		    <div class="date-selection-pop" *ngIf="detail['uploaded']['pop']">
			    <ngb-datepicker #dp [minDate]="minDate" (select)="onDateSelection('uploaded', $event)" [displayMonths]="2" [dayTemplate]="mfileEditUploadedT">
				</ngb-datepicker>
				<ng-template #mfileEditUploadedT let-mfileEditUploadedDate="date" let-mfileEditUploadedFocused="focused">
				  <span class="custom-day"
				        [class.focused]="mfileEditUploadedFocused"
				        [class.range]="isRange('uploaded', mfileEditUploadedDate)"
				        [class.faded]="isHovered('uploaded', mfileEditUploadedDate) || isInside('uploaded', mfileEditUploadedDate)"
				        (mouseenter)="hoveredDate = mfileEditUploadedDate"
				        (mouseleave)="hoveredDate = null">
				    {{ mfileEditUploadedDate.day }}
				  </span>
				</ng-template>
		    </div>      

	      </div>
	      
	      <div class="col-1">
		    <div class="icon-clear" (click)="clearValueFromDetail('uploaded')"
		        *ngIf="checkValueDefinedFromDetail('uploaded')"
		        ><i class="fas fa-times-circle" title="Clear"></i></div>
	      </div>
	    </div>
      </div>
      
 
	    <div class="single-line-edit">
	      <div class="row">
	        <div class="col-3"><label for="mfileEditHasThumbnail">Has Thumbnail</label></div>
	        <div class="col-8">


	        <div class="form-check">
	          <div class="form-check-inline">
		        <input type="radio" name="mfileEditHasThumbnail" 
		        	class="form-check-input"
		        	id="mfileEditHasThumbnailYes" [value]="true" 
		        	[(ngModel)]="detail['hasThumbnail']"
		        	#mfileEditHasThumbnail="ngModel">
		      	<label class="form-check-label">Yes</label>
		      </div>
	          <div class="form-check-inline">
		        <input type="radio" name="mfileEditHasThumbnail" 
		        	class="form-check-input"
		        	id="mfileEditHasThumbnailNo" [value]="false"
		        	[(ngModel)]="detail['hasThumbnail']"
		        	#mfileEditHasThumbnail="ngModel">
		      	<label class="form-check-label">No</label>
		      </div>
		    </div>

	      </div>
	      
	      <div class="col-1">
		    <div class="icon-clear" (click)="clearValueFromDetail('hasThumbnail')"
		        *ngIf="checkValueDefinedFromDetail('hasThumbnail')"
		        ><i class="fas fa-times-circle" title="Clear"></i></div>
	      </div>
	    </div>
      </div>
      
 

						  <div class="action-buttons" style="margin-top: 10px;">
								<button type="button" class="btn btn-outline-success" (click)="onSearchClear()">Reset</button>
								<button type="button" class="btn btn-success" (click)="searchList()">Search</button>
						  </div>
						</div>
					</div>
		        </div>
		        <div *ngIf="!moreSearchOpened" style="text-align: left;">
					<span class="badge badge-pill badge-info" *ngFor="let value of searchMoreDetail">
					    <a (click)="toggleMoreSearch()" class="pointer"> {{value[0]}}: {{value[1]}}</a>
					    <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromDetailAndSearchList(value[0])" title="Clear"></i>
					</span>
				</div>
		    
			
		    </div>
			<div class="col-3">
		        <div class="action-buttons">
					
					
				</div>
			</div>
		</div>


		<hr/>
		<div class="row">
			<div class="col-3">
				<input type="radio" name="view-filter" id="table-view" class="view-radio"
					(click)="setListViewFilter('table')" [checked]="isShowListView('table')">
					<label for="table-view"><i class="fa fa-list-alt"></i></label>
				<input type="radio" name="view-filter" id="list-view" class="view-radio"
					(click)="setListViewFilter('list')" [checked]="isShowListView('list')">
				  <label for="list-view"><i class="fa fa-th-list"></i></label>
				<input type="radio" name="view-filter" id="grid-view" class="view-radio"
					(click)="setListViewFilter('grid')" [checked]="isShowListView('grid')">
				  <label for="grid-view"><i class="fa fa-th"></i></label>
			</div>
			<div class="col-6">
			  <div *ngIf="total_pages > 1">
				  <ul class="pagination justify-content-center">
				    <li class="page-item"
				            [ngClass]="{'disabled': page<=1}">
				      <a class="page-link" routerLink="." (click)="onPreviousPage()"
				         aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				    </li>
				    
				    <li *ngIf="left_more" class="page-item"><a class="page-link">...</a></li>
				    
				    <li *ngFor="let p of pages;  let i = index" class="page-item"
				    		[ngClass]="{'active': p==page}">
				    	<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
				    </li>
				    
				    <li *ngIf="right_more" class="page-item"><a class="page-link">...</a></li>
				    
				    <li class="page-item"
				            [ngClass]="{'disabled': page>=total_pages}">
				      <a class="page-link" routerLink="." (click)="onNextPage()"
				         aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Next</span>
				      </a>
				    </li>
				  </ul>
			  </div>
			</div>
			<div class="col-3">
				<div class="total_counts">
					Total: <b>{{total_count}}</b>			
					<a class="ml-3" routerLink="." (click)="onRefresh()"><i class="fa fa-sync-alt"></i></a>
				</div>
			</div>			

		</div>
	</div>

	<table *ngIf="isShowListView('table')" class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>

		        <th scope="col">Name</th>
		        <th scope="col">Type</th>
		        <th scope="col">Labels</th>
		        <th scope="col">Size</th>
		        <th scope="col">Link</th>
		        <th scope="col">Uploaded</th>
		        <th scope="col">Has Thumbnail</th>
		        <th scope="col" style="width:3.8rem;"></th>
	    	</tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index" [ngClass]="{'clicked-row': clickedId==detail['_id']}">
	            <td scope="row" >
	            	{{(page-1)*per_page+i+1}}
	            </td>

	            <td >
	            	                
                    {{detail['name']}}

	            </td>
	            <td >
	            	                
                    {{detail['type']}}

	            </td>
	            <td >
	            	                
                    <div *ngIf="detail['labels'] && detail['labels']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['labels']['selection']" let-idx="index">
                            <div class="badge badge-pill badge-secondary">
                                {{element}}
                            </div>
                        </ng-template>
                    </div>

	            </td>
	            <td >
	            	                  {{detail['size']}} 

	            </td>
	            <td >
	            	                
                    {{detail['link']}}

	            </td>
	            <td >
	            	                  {{detail['uploaded']?detail['uploaded']['value']:""}}

	            </td>
	            <td >
	            	                  {{detail['hasThumbnail']}} 

	            </td>
	            
	            <td>
	            	<a [routerLink]="['../edit', detail['_id'] ]" [skipLocationChange]="false"><i class="fas fa-edit" title="Edit"></i></a>
	            	
					
	            </td>
	        </tr>
	    </tbody>
	</table>

	<div class="grids" *ngIf="isShowListView('grid')">
		<div class="grid-block" *ngFor="let detail of list;  let i = index">
			<div class="card text-left h-100 clickable-card "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="card-body" >
					<div class="card-text">

      <div>
        <div class="d-inline-block"><label>Name:</label></div>
        <div class="ml-3 d-inline-block">                
                    {{detail['name']}}

        </div>
      </div>
      <div>
        <div class="d-inline-block"><label>Type:</label></div>
        <div class="ml-3 d-inline-block">                
                    {{detail['type']}}

        </div>
      </div>
      <div>
        <div class="d-inline-block"><label>Labels:</label></div>
        <div class="ml-3 d-inline-block">                
                    <div *ngIf="detail['labels'] && detail['labels']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['labels']['selection']" let-idx="index">
                            <div class="badge badge-pill badge-secondary">
                                {{element}}
                            </div>
                        </ng-template>
                    </div>

        </div>
      </div>
      <div>
        <div class="d-inline-block"><label>Size:</label></div>
        <div class="ml-3 d-inline-block">                  {{detail['size']}} 

        </div>
      </div>
      <div>
        <div class="d-inline-block"><label>Link:</label></div>
        <div class="ml-3 d-inline-block">                
                    {{detail['link']}}

        </div>
      </div>
      <div>
        <div class="d-inline-block"><label>Uploaded:</label></div>
        <div class="ml-3 d-inline-block">                  {{detail['uploaded']?detail['uploaded']['value']:""}}

        </div>
      </div>
      <div>
        <div class="d-inline-block"><label>Has Thumbnail:</label></div>
        <div class="ml-3 d-inline-block">                  {{detail['hasThumbnail']}} 

        </div>
      </div>

					</div>
				</div>
				
				<div class="card-action-icons">
					<a [routerLink]="['../edit', detail['_id'] ]" [skipLocationChange]="false"><i class="fas fa-edit" title="Edit"></i></a>
					
					
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">			<div class="col-3">
			</div>
			<div class="col-6">
			  <div *ngIf="total_pages > 1">
				  <ul class="pagination justify-content-center">
				    <li class="page-item"
				            [ngClass]="{'disabled': page<=1}">
				      <a class="page-link" routerLink="." (click)="onPreviousPage()"
				         aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				    </li>
				    
				    <li *ngIf="left_more" class="page-item"><a class="page-link">...</a></li>
				    
				    <li *ngFor="let p of pages;  let i = index" class="page-item"
				    		[ngClass]="{'active': p==page}">
				    	<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
				    </li>
				    
				    <li *ngIf="right_more" class="page-item"><a class="page-link">...</a></li>
				    
				    <li class="page-item"
				            [ngClass]="{'disabled': page>=total_pages}">
				      <a class="page-link" routerLink="." (click)="onNextPage()"
				         aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Next</span>
				      </a>
				    </li>
				  </ul>
			  </div>
			</div>
			<div class="col-3">
				<div class="total_counts">
					Total: <b>{{total_count}}</b>
				</div>
			</div>			

		</div>
	</div>
	
</div>


