<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons">
        <!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title" *ngIf="!embeddedView">{{action}} General Information</h4>
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('title')">

        <fieldset class="form-group">
          <label for="EditTitle">Title</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTitle" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['title']" name="EditTitle"
                    #EditTitle="ngModel">
                <div *ngIf="detail['title']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('title')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditTitle.valid || EditTitle.pristine || EditTitle.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditTitle.errors && EditTitle.errors.required">
              Title is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('description')">

        <fieldset class="form-group">
          <label for="EditDescription">Description</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditDescription" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['description']" name="EditDescription"
                    #EditDescription="ngModel">
                <div *ngIf="detail['description']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('description')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditDescription.valid || EditDescription.pristine || EditDescription.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditDescription.errors && EditDescription.errors.required">
              Description is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('signaturePicture')">

        <fieldset class="form-group">
          <label for="EditSignaturePicture">Signature Picture</label>
          
          <div class="form-check"

                [ngClass]="{'ng-valid': true} "
              >
              <input type="text" class="form-control rounded" id="EditSignaturePicture" style="display: none;"
                  
                  [(ngModel)]="detail['signaturePicture']" name="EditSignaturePicture"
                  #EditSignaturePicture="ngModel">
              <div style="display: inline-block; width: 80%;" >
                  <file-upload [(downloadUrl)]="detail['signaturePicture']"></file-upload>
              </div>
              <span *ngIf="detail['signaturePicture']" 
                class="icon-clear" (click)="clearValueFromDetail('signaturePicture')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </span>     
          </div>
          <div [hidden]="EditSignaturePicture.valid || EditSignaturePicture.pristine"
            class="alert alert-danger">

          </div>
        </fieldset>				

    
</div><div *ngIf="!hiddenFields.includes('tag')">

        <fieldset class="form-group">
          <label for="EditTag">Tag</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTag" 
                    
                    
                    
                 
                    [(ngModel)]="detail['tag']" name="EditTag"
                    #EditTag="ngModel">
                <div *ngIf="detail['tag']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('tag')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditTag.valid || EditTag.pristine || EditTag.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div>
         </div>	
	     <div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('title')">

        <fieldset class="form-group">
          <label for="EditTitle">Title</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTitle" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['title']" name="EditTitle"
                    #EditTitle="ngModel">
                <div *ngIf="detail['title']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('title')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditTitle.valid || EditTitle.pristine || EditTitle.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditTitle.errors && EditTitle.errors.required">
              Title is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('description')">

        <fieldset class="form-group">
          <label for="EditDescription">Description</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditDescription" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['description']" name="EditDescription"
                    #EditDescription="ngModel">
                <div *ngIf="detail['description']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('description')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditDescription.valid || EditDescription.pristine || EditDescription.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditDescription.errors && EditDescription.errors.required">
              Description is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('signaturePicture')">

        <fieldset class="form-group">
          <label for="EditSignaturePicture">Signature Picture</label>
          
          <div class="form-check"

                [ngClass]="{'ng-valid': true} "
              >
              <input type="text" class="form-control rounded" id="EditSignaturePicture" style="display: none;"
                  
                  [(ngModel)]="detail['signaturePicture']" name="EditSignaturePicture"
                  #EditSignaturePicture="ngModel">
              <div style="display: inline-block; width: 80%;" >
                  <file-upload [(downloadUrl)]="detail['signaturePicture']"></file-upload>
              </div>
              <span *ngIf="detail['signaturePicture']" 
                class="icon-clear" (click)="clearValueFromDetail('signaturePicture')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </span>     
          </div>
          <div [hidden]="EditSignaturePicture.valid || EditSignaturePicture.pristine"
            class="alert alert-danger">

          </div>
        </fieldset>				

    
</div><div *ngIf="!hiddenFields.includes('tag')">

        <fieldset class="form-group">
          <label for="EditTag">Tag</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTag" 
                    
                    
                    
                 
                    [(ngModel)]="detail['tag']" name="EditTag"
                    #EditTag="ngModel">
                <div *ngIf="detail['tag']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('tag')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditTag.valid || EditTag.pristine || EditTag.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div>
         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			type="button" (click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

