<div id="slides" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{imageObject[0].imageURL}}" alt="Los Angeles">
      	<div class="carousel-caption d-none d-md-block">
    		<h1>{{imageObject[0].heading}}</h1>
   			<p class="new-carousel-subcaption">{{imageObject[0].subheading}}</p>
  		</div>
    </div>
    <div class="carousel-item">
      <img src="{{imageObject[1].imageURL}}" alt="Los Angeles">
      	<div class="carousel-caption d-none d-md-block">
    		<h1>{{imageObject[1].heading}}</h1>
   			<p class="new-carousel-subcaption">{{imageObject[1].subheading}}</p>
  		</div>
    </div>
    <div class="carousel-item">
      <img src="{{imageObject[2].imageURL}}" alt="Los Angeles">
      	<div class="carousel-caption d-none d-md-block">
    		<h1>{{imageObject[2].heading}}</h1>
   			<p class="new-carousel-subcaption">{{imageObject[2].subheading}}</p>
  		</div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slides" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slides" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  <!-- End of The slideshow -->
</div>

 <div class="container-fluid mt-3">
  <div class="row">
    <div class="col-3">
            <home-event-component></home-event-component>
    </div>
    <div class="col-9">
      <div class="row">
          <home-hot-classes-component></home-hot-classes-component>

      </div>
      <div class="row">
          colum 2, row 2.2

      </div>
    </div>
  </div>
 </div>

