		
<div class="detail" *ngIf="detail">
<div *ngIf="!disableActionButtions" class="action-buttons">
    <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
    <a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    <a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
    <a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
    <a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
</div>

	<div id="slides" class="carousel slide">
		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item  active">
				<img src="{{detail['signaturePicture']}}" alt="" class="slide-image">

				<div class="carousel-caption d-none d-md-block">
					<h3 class="mb-5">{{detail['title']}}</h3>

					<h5>{{detail['subtitle']}}</h5>
					<p>{{detail['description']}}</p>
				</div>
			</div>
		</div>
	</div>




</div>
