<label>{{ inputData.stepTitle }}</label>



	<div class="gridview" *ngIf="isShowListView('grid')">
		<div class="grid-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<div class="card text-left h-100 clickable-card "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="grid-fields pointer" (click)="onItemChecked(i)" >

      <div class="card-header grid-head">
        <div class="ml-1 d-inline-block">
          <h5>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['first_name']}}

            </div>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['last_name']}}

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div *ngIf="detail['email']">
            <div class="d-inline-block"><label>Email:</label></div>
            <div class="ml-3 d-inline-block">                
                    {{detail['email']}}

            </div>
          </div>
          <div *ngIf="detail['phoneNumber']">
            <div class="d-inline-block"><label>Phone Number:</label></div>
            <div class="ml-3 d-inline-block">                
                    {{detail['phoneNumber']}}

            </div>
          </div>
          <div *ngIf="detail['grade']">
            <div class="d-inline-block"><label>Grade:</label></div>
            <div class="ml-3 d-inline-block">                  {{detail['grade']}} 

            </div>
          </div>
      </div>

				</div>
				<div class="card-action-icons">
					
						<a [routerLink]="['.']" [queryParamsHandling]="preserve" (click)="onEdit(detail._id)"><i class="fas fa-edit" title="Edit"></i></a>
					
					
					<input  type="checkbox" [(ngModel)]="checkedItem[i]"/>
				</div>
			</div>
		</div>
	</div>

<div class="add-area">
	<a href="javascript:void(0)" (click)="onAdd()"><i class="fas fa-plus-square" title="Add"></i> Add a new student</a>
	<div *ngIf="isAdding">
		<div class="modal-back">
			<div class="modal-front">
				<app-student-edit [initData]="parentData" [embeddedView]="true" (done)="onActionDone($event)"></app-student-edit>
			</div>
		</div>
	</div>
	<div *ngIf="isEditing">
		<div class="modal-back">
			<div class="modal-front">
				<app-student-edit [id]="parentId" [embeddedView]="true" (done)="onActionDone($event)"></app-student-edit>
			</div>
		</div>
	</div>
</div>



