
	<div class="listview" *ngIf="isShowListView('list')">
		<div class="list-block" *ngFor="let detail of list;  let i = index">
			<hr *ngIf="i==0" class="list-diverder">
			<div class="list-card text-left clickable-card "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="list-fields w-75 pointer" (click)="onDetailLinkClicked(detail['_id'])">

      <div class="list-body-fields ml-1 d-inline-block">
        <h5>
          <div class="mr-1 d-inline-block">
                            
                    {{detail['first_name']}}

          </div>
          <div class="mr-1 d-inline-block">
                            
                    {{detail['last_name']}}

          </div>
        </h5>
        <div class="mr-3 d-inline-block">
          <div class="d-inline-block"><label>Email:</label></div>
          <div class="ml-3 d-inline-block">                
                    {{detail['email']}}

          </div>
        </div>
        <div class="mr-3 d-inline-block">
          <div class="d-inline-block"><label>Grade:</label></div>
          <div class="ml-3 d-inline-block">                  {{detail['grade']}} 

          </div>
        </div>
      </div>

				</div>

			</div>
			<hr class="list-diverder">
		</div>
	</div>