
		<div class="listview" *ngIf="isShowListView('list')">
		<div class="list-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<hr *ngIf="i==0" class="list-diverder">
			<div class="list-card text-left clickable-card "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="list-fields pointer" (click)="onDetailLinkClicked(detail['_id'])" >

      <div class="list-body-fields">
        <h5>
          <div class="mr-1 d-inline-block">
                            
                    {{detail['title']}}

          </div>
        </h5>
        <div *ngIf="detail['description']" class="mr-3 d-inline-flex flex-wrap">
          <div><label>Description:</label></div>
          <div class="ml-3">                 
                    <div mra-richtext-show="courseDetailDescription" [content]="detail['description']"></div>

          </div>
        </div>
      </div>

				</div>
			</div>
			<hr class="list-diverder">
		</div>
	</div>

	
	<div class="gridview" *ngIf="isShowListView('grid')">
		<div class="grid-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<div class="card text-left h-100 clickable-card "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="grid-fields pointer" (click)="onDetailLinkClicked(detail['_id'])" >

      <div class="card-header grid-head">
        <div>
          <h5>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['title']}}

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div *ngIf="detail['description']" class="d-flex flex-wrap">
            <div class=""><label>Description:</label></div>
            <div class="ml-3">                 
                    <div mra-richtext-show="courseDetailDescription" [content]="detail['description']"></div>
</div>
          </div>
      </div>

				</div>
			</div>
		</div>
	</div>

		<table *ngIf="isShowListView('table')" class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>

				<th class="pointer" scope="col" (click)="toggleListSort('title', 'Title')">
					Title
					<span *ngIf="listSortField === 'title'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th scope="col">Description</th>

	    	</tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index; let list_index = index;" [ngClass]="{'clicked-row': clickedId==detail['_id']}">
	            <td scope="row" (click)="onDetailLinkClicked(detail['_id'])"  class="pointer read-more">
	            	{{(page-1)*per_page+i+1}}
	            </td>

	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                
                    {{detail['title']}}

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                 
                    <div mra-richtext-show="courseDetailDescription" [content]="detail['description']"></div>

	            </td>
	        </tr>
	    </tbody>
	</table>

