<div>
	<div style="margin-top: 100px; margin-bottom: 100px;">
		<h1 class = "title">Courses</h1>
		<h2 class = "subtitle">self made courses for all ages</h2> 
	</div>

	<div class="container search">
		<div class="row">
			<div class="col-9">
			    <div class="input-group">
	              <input type="search" class="form-control border border-secondary" id="courseTextSearch" 
						#courseTextSearch [(ngModel)]="searchText"
						(keyup.enter)="$event.target.blur();searchList();false"
					    placeholder="Search for title, description"> 
				  <div *ngIf="searchText" class="input-group-append icon-clear-inside">
					<span >
					    <i class="fas fa-times-circle" (click)="onSearchTextClear()" title="Clear"></i>
				    </span>
				  </div>
				  <div class="input-group-append">
				    <button type="button" class="btn btn-outline-secondary" (click)="searchList()"><i class="fas fa-search"></i></button>
				  </div>
				</div>
		    </div>
			<div class="col-3">
			</div>
		</div>
		<hr/>
	</div>

	<ng-template ngFor let-detail [ngForOf]="list" let-i="index">
	  <div class="row" *ngIf="i%2 == 0">
		<div class="col-6">
			<div class="card">
			  <h5 class="card-header">{{list[i].title}}</h5>
			  <div class="card-body">
			    <p class="card-text">{{list[i].description}}</p>
			    <a (click)="onDetailLinkClicked(list[i]['_id'])" class="btn btn-primary" style="background-color:#00BFFF; color: white; border:#00bfff">Details</a>
			  </div>
			</div>
		</div>
		<div class="col-6">
			<div class="card" *ngIf="list[i+1]">
			  <h5 class="card-header">{{list[i+1].title}}</h5>
			  <div class="card-body">
			    <p class="card-text">{{list[i+1].description}}</p>
			    <a (click)="onDetailLinkClicked(list[i]['_id'])" class="btn btn-primary" style="background-color:#00BFFF; color: white; border:#00bfff">Details</a>
			  </div>
			</div>
		</div>
	  </div>
	  <br/>
	</ng-template>
</div>


