
	<div class="listview" *ngIf="isShowListView('list')">
		<div class="list-block" *ngFor="let detail of list;  let i = index">
			<hr *ngIf="i==0" class="list-diverder">
			<div class="list-card text-left  "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="list-fields w-75 " >

      <div class="list-head-picture mr-1 d-inline-block">                
                    <file-display [downloadUrl]="detail['signaturePicture']" [isLarge]="false"></file-display>

      </div>
    
      <div class="list-body-fields ml-1 d-inline-block">
        <h5>
          <div class="mr-1 d-inline-block">
                            
                    {{detail['title']}}

          </div>
        </h5>
        <div class="mr-3 d-inline-block">
          <div class="d-inline-block"><label>Author:</label></div>
          <div class="ml-3 d-inline-block">                
                    {{detail['author']}}

          </div>
        </div>
        <div class="mr-3 d-inline-block">
          <div class="d-inline-block"><label>Publish Date:</label></div>
          <div class="ml-3 d-inline-block">                  {{detail['publishDate']?detail['publishDate']['value']:""}}

          </div>
        </div>
        <div class="read-more" (click)="onDetailLinkClicked(detail['_id'])">
        Read more ...
        </div>
      </div>

				</div>
				<div class="card-action-icons d-inline-block w-25">
					<a [routerLink]="['../edit', detail['_id'] ]" [skipLocationChange]="false"><i class="fas fa-edit" title="Edit"></i></a>
					<a routerLink="." (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a>
					<input *ngIf="list.length > 1" type="checkbox" [(ngModel)]="checkedItem[i]"/>
				</div>
			</div>
			<hr class="list-diverder">
		</div>
	</div>