
		<div class="listview" *ngIf="isShowListView('list')">
		<div class="list-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<hr *ngIf="i==0" class="list-diverder">
			<div class="list-card text-left  "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="list-fields "  >

      <div class="list-head-picture">                
                    <lib-mdds-file-display [downloadUrl]="detail['signaturePicture']" [isLarge]="false" [aspectRatio]=""></lib-mdds-file-display>

      </div>
    
      <div class="list-body-fields">
        <h5>
          <div class="mr-1 d-inline-block">
                            
                    {{detail['title']}}

          </div>
        </h5>
        <div *ngIf="detail['author']" class="mr-3 d-inline-flex flex-wrap">
          <div><label>Author:</label></div>
          <div class="ml-3">                
                    {{detail['author']}}

          </div>
        </div>
        <div *ngIf="detail['publishDate']" class="mr-3 d-inline-flex flex-wrap">
          <div><label>Publish Date:</label></div>
          <div class="ml-3">                  {{detail['publishDate']?detail['publishDate']['value']:""}}

          </div>
        </div>
        <div class="read-more" (click)="onDetailLinkClicked(detail['_id'])">
        Read more ...
        </div>
      </div>

				</div>
			</div>
			<hr class="list-diverder">
		</div>
	</div>

	
	<div class="gridview" *ngIf="isShowListView('grid')">
		<div class="grid-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<div class="card text-left h-100  "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="grid-fields "  >

      <div class="card-header grid-head">
        <div class="grid-head-picture">                
                    <lib-mdds-file-display [downloadUrl]="detail['signaturePicture']" [isLarge]="false" [aspectRatio]=""></lib-mdds-file-display>

        </div>
        <div>
          <h5>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['title']}}

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div *ngIf="detail['author']" class="d-flex flex-wrap">
            <div class=""><label>Author:</label></div>
            <div class="ml-3">                
                    {{detail['author']}}
</div>
          </div>
          <div *ngIf="detail['publishDate']" class="d-flex flex-wrap">
            <div class=""><label>Publish Date:</label></div>
            <div class="ml-3">                  {{detail['publishDate']?detail['publishDate']['value']:""}}
</div>
          </div>
        <div class="read-more" (click)="onDetailLinkClicked(detail['_id'])">
          Read more ...
        </div>
      </div>

				</div>
			</div>
		</div>
	</div>

		<table *ngIf="isShowListView('table')" class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>

				<th scope="col">Signature Picture</th>

				<th class="pointer" scope="col" (click)="toggleListSort('title', 'Title')">
					Title
					<span *ngIf="listSortField === 'title'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th class="pointer" scope="col" (click)="toggleListSort('author', 'Author')">
					Author
					<span *ngIf="listSortField === 'author'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th class="pointer" scope="col" (click)="toggleListSort('publishDate', 'Publish Date')">
					Publish Date
					<span *ngIf="listSortField === 'publishDate'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th><th scope="col" style="width:4.8rem;"></th>
	    	</tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index; let list_index = index;" [ngClass]="{'clicked-row': clickedId==detail['_id']}">
	            <td scope="row" >
	            	{{(page-1)*perPage+i+1}}
	            </td>

	            <td >
	            	                
                    <lib-mdds-file-display [downloadUrl]="detail['signaturePicture']" [isLarge]="false" [aspectRatio]=""></lib-mdds-file-display>

	            </td>
	            <td >
	            	                
                    {{detail['title']}}

	            </td>
	            <td >
	            	                
                    {{detail['author']}}

	            </td>
	            <td >
	            	                  {{detail['publishDate']?detail['publishDate']['value']:""}}

	            </td>
	            <td>
					
	            	
	            	
					
					<span class="read-more-in-table" (click)="onDetailLinkClicked(detail['_id'])">Detail <i class="fas fa-arrow-right" ></i></span>
	            </td>
	        </tr>
	    </tbody>
	</table>

