<div class="edit" *ngIf="detail">
	<div *ngIf="!subEdit" class="action-buttons">
        <!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title" *ngIf="!subEdit">{{action}} Student</h4>    
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('first_name')">

	      <fieldset class="form-group">
	        <label for="studentEditFirst_name">First Name</label>

	        <input type="text" class="form-control" id="studentEditFirst_name" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['first_name']" name="studentEditFirst_name"
	                #studentEditFirst_name="ngModel">

	        <div [hidden]="studentEditFirst_name.valid || studentEditFirst_name.pristine || studentEditFirst_name.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="studentEditFirst_name.errors && studentEditFirst_name.errors.required">
    	        First_name is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('last_name')">

	      <fieldset class="form-group">
	        <label for="studentEditLast_name">Last Name</label>

	        <input type="text" class="form-control" id="studentEditLast_name" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['last_name']" name="studentEditLast_name"
	                #studentEditLast_name="ngModel">

	        <div [hidden]="studentEditLast_name.valid || studentEditLast_name.pristine || studentEditLast_name.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="studentEditLast_name.errors && studentEditLast_name.errors.required">
    	        Last_name is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('date_of_birth')">

	      <fieldset class="form-group">
	        <label for="studentEditDate_of_birth">Date of Birth </label> <span> ({{dateFormat}})</span>
	        <div class="input-group">
		      <input class="form-control" id="studentEditDate_of_birth" placeholder="{{dateFormat}}"
	                 
		        	  
		             [(ngModel)]="detail['date_of_birth']['date']" name="studentEditDate_of_birth"
		             ngbDatepicker #studentEditDate_of_birthDate="ngbDatepicker" #studentEditDate_of_birth="ngModel">
		      <div class="input-group-append">
		        <button class="btn btn-outline-secondary" (click)="studentEditDate_of_birthDate.toggle()" type="button">
		          <i class="fas fa-calendar-alt"></i>
		        </button>
		      </div>
		    </div><!-- input group -->         
	        <div [hidden]="studentEditDate_of_birth.valid || studentEditDate_of_birth.pristine || (studentEditDate_of_birth.errors && studentEditDate_of_birth.errors.ngbDate)"
	             class="alert alert-danger">

 
	        </div>
	        <div [hidden]="studentEditDate_of_birth.valid || studentEditDate_of_birth.untouched || !(studentEditDate_of_birth.errors && studentEditDate_of_birth.errors.ngbDate)"
     			class="alert alert-danger">
	          <div *ngIf="studentEditDate_of_birth.errors && studentEditDate_of_birth.errors.ngbDate">
    	        Date_of_birth must be in {{dateFormat}} format.
  	          </div>
	        </div>
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('email')">

	      <fieldset class="form-group">
	        <label for="studentEditEmail">Email</label>

	        <input type="text" class="form-control" id="studentEditEmail" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['email']" name="studentEditEmail"
	                #studentEditEmail="ngModel">

	        <div [hidden]="studentEditEmail.valid || studentEditEmail.pristine || studentEditEmail.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="studentEditEmail.errors && studentEditEmail.errors.required">
    	        Email is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('grade')">

	      <fieldset class="form-group">
	        <label for="studentEditGrade">Grade</label>
	        <input type="number" class="form-control" id="studentEditGrade" 
	                
	                
	                required
		        	 
	                [(ngModel)]="detail['grade']" name="studentEditGrade"
	                #studentEditGrade="ngModel">
	        <div [hidden]="studentEditGrade.valid || studentEditGrade.pristine || studentEditGrade.errors.minnumber"
     			class="alert alert-danger">

	          <div *ngIf="studentEditGrade.errors && studentEditGrade.errors.required">
    	        Grade is required.
  	          </div>
 

	        </div>

	      </fieldset>
    
</div>
         </div>	
	     <div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('first_name')">

	      <fieldset class="form-group">
	        <label for="studentEditFirst_name">First Name</label>

	        <input type="text" class="form-control" id="studentEditFirst_name" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['first_name']" name="studentEditFirst_name"
	                #studentEditFirst_name="ngModel">

	        <div [hidden]="studentEditFirst_name.valid || studentEditFirst_name.pristine || studentEditFirst_name.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="studentEditFirst_name.errors && studentEditFirst_name.errors.required">
    	        First_name is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('last_name')">

	      <fieldset class="form-group">
	        <label for="studentEditLast_name">Last Name</label>

	        <input type="text" class="form-control" id="studentEditLast_name" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['last_name']" name="studentEditLast_name"
	                #studentEditLast_name="ngModel">

	        <div [hidden]="studentEditLast_name.valid || studentEditLast_name.pristine || studentEditLast_name.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="studentEditLast_name.errors && studentEditLast_name.errors.required">
    	        Last_name is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('date_of_birth')">

	      <fieldset class="form-group">
	        <label for="studentEditDate_of_birth">Date of Birth </label> <span> ({{dateFormat}})</span>
	        <div class="input-group">
		      <input class="form-control" id="studentEditDate_of_birth" placeholder="{{dateFormat}}"
	                 
		        	  
		             [(ngModel)]="detail['date_of_birth']['date']" name="studentEditDate_of_birth"
		             ngbDatepicker #studentEditDate_of_birthDate="ngbDatepicker" #studentEditDate_of_birth="ngModel">
		      <div class="input-group-append">
		        <button class="btn btn-outline-secondary" (click)="studentEditDate_of_birthDate.toggle()" type="button">
		          <i class="fas fa-calendar-alt"></i>
		        </button>
		      </div>
		    </div><!-- input group -->         
	        <div [hidden]="studentEditDate_of_birth.valid || studentEditDate_of_birth.pristine || (studentEditDate_of_birth.errors && studentEditDate_of_birth.errors.ngbDate)"
	             class="alert alert-danger">

 
	        </div>
	        <div [hidden]="studentEditDate_of_birth.valid || studentEditDate_of_birth.untouched || !(studentEditDate_of_birth.errors && studentEditDate_of_birth.errors.ngbDate)"
     			class="alert alert-danger">
	          <div *ngIf="studentEditDate_of_birth.errors && studentEditDate_of_birth.errors.ngbDate">
    	        Date_of_birth must be in {{dateFormat}} format.
  	          </div>
	        </div>
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('email')">

	      <fieldset class="form-group">
	        <label for="studentEditEmail">Email</label>

	        <input type="text" class="form-control" id="studentEditEmail" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['email']" name="studentEditEmail"
	                #studentEditEmail="ngModel">

	        <div [hidden]="studentEditEmail.valid || studentEditEmail.pristine || studentEditEmail.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="studentEditEmail.errors && studentEditEmail.errors.required">
    	        Email is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('grade')">

	      <fieldset class="form-group">
	        <label for="studentEditGrade">Grade</label>
	        <input type="number" class="form-control" id="studentEditGrade" 
	                
	                
	                required
		        	 
	                [(ngModel)]="detail['grade']" name="studentEditGrade"
	                #studentEditGrade="ngModel">
	        <div [hidden]="studentEditGrade.valid || studentEditGrade.pristine || studentEditGrade.errors.minnumber"
     			class="alert alert-danger">

	          <div *ngIf="studentEditGrade.errors && studentEditGrade.errors.required">
    	        Grade is required.
  	          </div>
 

	        </div>

	      </fieldset>
    
</div>
         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			type="button" (click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

