<div class="detail" *ngIf="detail">
<div *ngIf="!disableActionButtions" class="action-buttons">
    <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
    <a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    
    
    
</div>
	<div class="card text-left transparent-border ">
		<div class="grid-fields">

      <div class="card-header grid-head">
        <div class="grid-head-picture mr-1">                
                    <file-display [downloadUrl]="detail['photo']" [isLarge]="false"></file-display>

        </div>
        <div class="ml-1 d-inline-block">
          <h5>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['firstName']}}

            </div>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['lastName']}}

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div>
            <div class="d-inline-block"><label>Email:</label></div>
            <div class="ml-3 d-inline-block">                
                    {{detail['email']}}

            </div>
          </div>
          <div>
            <div class="d-inline-block"><label>Phone Number:</label></div>
            <div class="ml-3 d-inline-block">                
                    {{detail['phoneNumber']}}

            </div>
          </div>
          <div>
            <div class="d-inline-block"><label>Courses:</label></div>
            <div class="ml-3 d-inline-block">                
               	  <a routerLink="."  (click)="onDisplayRefClicked('courses', detail['courses'], $event)">
	            	{{detail['courses']?detail['courses']['value']:""}}
	              </a>

            </div>
          </div>
          <div>
            <div class="d-inline-block"><label>Introduction:</label></div>
            <div class="ml-3 d-inline-block">                
                    {{detail['introduction']}}

            </div>
          </div>
      </div>

		</div>
	</div>


</div>

