<div class="edit" *ngIf="detail">
	<div *ngIf="!subEdit" class="action-buttons">
        <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a>
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title" *ngIf="!subEdit">{{action}} Course</h4>    
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('title')">

	      <fieldset class="form-group">
	        <label for="courseEditTitle">Title</label>

	        <input type="text" class="form-control" id="courseEditTitle" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['title']" name="courseEditTitle"
	                #courseEditTitle="ngModel">

	        <div [hidden]="courseEditTitle.valid || courseEditTitle.pristine || courseEditTitle.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="courseEditTitle.errors && courseEditTitle.errors.required">
    	        Title is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('description')">

	      <fieldset class="form-group">
	        <label for="courseEditDescription">Description</label>

	        <input type="text" class="form-control" id="courseEditDescription" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['description']" name="courseEditDescription"
	                #courseEditDescription="ngModel">

	        <div [hidden]="courseEditDescription.valid || courseEditDescription.pristine || courseEditDescription.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="courseEditDescription.errors && courseEditDescription.errors.required">
    	        Description is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div>
         </div>	
	     <div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('title')">

	      <fieldset class="form-group">
	        <label for="courseEditTitle">Title</label>

	        <input type="text" class="form-control" id="courseEditTitle" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['title']" name="courseEditTitle"
	                #courseEditTitle="ngModel">

	        <div [hidden]="courseEditTitle.valid || courseEditTitle.pristine || courseEditTitle.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="courseEditTitle.errors && courseEditTitle.errors.required">
    	        Title is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('description')">

	      <fieldset class="form-group">
	        <label for="courseEditDescription">Description</label>

	        <input type="text" class="form-control" id="courseEditDescription" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['description']" name="courseEditDescription"
	                #courseEditDescription="ngModel">

	        <div [hidden]="courseEditDescription.valid || courseEditDescription.pristine || courseEditDescription.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="courseEditDescription.errors && courseEditDescription.errors.required">
    	        Description is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div>
         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			(click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

