

		<div *ngIf="detail && showFields.includes('signaturePicture')">                
                    <file-display [downloadUrl]="detail['signaturePicture']" [isLarge]="false" [aspectRatio]=""></file-display>
</div>
		<div *ngIf="detail && showFields.includes('title')">                
                    {{detail['title']}}
</div>
		<div *ngIf="detail && showFields.includes('author')">                
                    {{detail['author']}}
</div>
		<div *ngIf="detail && showFields.includes('publishDate')">                  {{detail['publishDate']?detail['publishDate']['value']:""}}
</div>
		<div *ngIf="detail && showFields.includes('content')">                 
                    <div mra-richtext-show="eventDetailContent" [content]="detail['content']"></div>
</div>
