<div class="detail" *ngIf="detail">
	
	<div class="card transparent-border">
		<div class="post-head-picture" *ngIf="detail['signaturePicture']">
			                
                    <file-display [downloadUrl]="detail['signaturePicture']" [isLarge]="true"></file-display>

		</div>
		<div class="card-body">
			<h3 class="card-title">                
                    {{detail['title']}}
</h3>
			<h6 class="card-subtitle mb-2 text-muted">
				                
                    {{detail['author']}}
, 
				                  {{detail['publishDate']?detail['publishDate']['value']:""}}

			</h6>

			<div class="card-text">
					                 
                    <div mra-richtext-show="eventDetailContent"></div>
                   {{detail['content']?detail['content']['value']:""}}

			</div>
		</div>
	</div>

</div>
