<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons">
		<!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>

	<div class="card" style="text-align: left;">
		<div class="card-body">
			<h4 class="card-title" *ngIf="!embeddedView && !options['title']">{{action}} StudentClass</h4>
			<h4 class="card-title" *ngIf="options['title']" [ngStyle]="style['card-title']">
				{{options['title']}}
			</h4>
			<p	*ngIf="options['subtitle']" [ngStyle]="style['card-subtitle']">
				{{options['subtitle']}}
			</p>
			<form (ngSubmit)="onSubmit()" #editForm="ngForm">

				<div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('student')">

        <fieldset class="form-group">
          <label for="EditStudent">Student </label>
          
          
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('student')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditStudent" 
                  [ngClass]="{'pointer ref-badge': detail['student']['_id']}"
                  (focus)="onRefSelect('student')"
                    required
                 
                  [ngModel]="detail['student']['value']" name="EditStudent"
                  #EditStudent="ngModel"> 
              <div *ngIf="detail['student']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('student')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditStudent.valid || EditStudent.pristine"
               class="alert alert-danger">

            <div *ngIf="EditStudent.errors && EditStudent.errors.required && !(detail['student']?.date)">
              Student is required.
              </div>
 
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('class')">

        <fieldset class="form-group">
          <label for="EditClass">Class </label>
          
          
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('class')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditClass" 
                  [ngClass]="{'pointer ref-badge': detail['class']['_id']}"
                  (focus)="onRefSelect('class')"
                    required
                 
                  [ngModel]="detail['class']['value']" name="EditClass"
                  #EditClass="ngModel"> 
              <div *ngIf="detail['class']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('class')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditClass.valid || EditClass.pristine"
               class="alert alert-danger">

            <div *ngIf="EditClass.errors && EditClass.errors.required && !(detail['class']?.date)">
              Class is required.
              </div>
 
          </div>
        </fieldset>
    
</div>

				</div>
				<div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('student')">

        <fieldset class="form-group">
          <label for="EditStudent">Student </label>
          
          
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('student')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditStudent" 
                  [ngClass]="{'pointer ref-badge': detail['student']['_id']}"
                  (focus)="onRefSelect('student')"
                    required
                 
                  [ngModel]="detail['student']['value']" name="EditStudent"
                  #EditStudent="ngModel"> 
              <div *ngIf="detail['student']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('student')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditStudent.valid || EditStudent.pristine"
               class="alert alert-danger">

            <div *ngIf="EditStudent.errors && EditStudent.errors.required && !(detail['student']?.date)">
              Student is required.
              </div>
 
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('class')">

        <fieldset class="form-group">
          <label for="EditClass">Class </label>
          
          
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('class')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditClass" 
                  [ngClass]="{'pointer ref-badge': detail['class']['_id']}"
                  (focus)="onRefSelect('class')"
                    required
                 
                  [ngModel]="detail['class']['value']" name="EditClass"
                  #EditClass="ngModel"> 
              <div *ngIf="detail['class']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('class')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditClass.valid || EditClass.pristine"
               class="alert alert-danger">

            <div *ngIf="EditClass.errors && EditClass.errors.required && !(detail['class']?.date)">
              Class is required.
              </div>
 
          </div>
        </fieldset>
    
</div>

				</div>

				<div class="action-buttons-center">
					<button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Submit</button>
					<button class="btn btn-outline-success" type="button" (click)="editCancel()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>

<ng-template academics-ref-select></ng-template>