		
<div class="detail" *ngIf="detail">
<div *ngIf="!disableActionButtions" class="action-buttons">
    <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
    <a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    
    
    
    
</div>

	<div id="slides" class="carousel slide">
		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item  active">
				<img src="{{detail['signaturePicture']}}" alt="" class="slide-image">

				<div class="carousel-caption d-md-block">
					<p class="carousel-caption-h3 mb-5">{{detail['title']}}</p>

					<p class="carousel-caption-h5">{{detail['subtitle']}}</p>
					<p class="carousel-caption-p">{{detail['description']}}</p>
				</div>
			</div>
		</div>
	</div>




</div>
