		
<div class="detail" *ngIf="detail">
<div *ngIf="!disableActionButtions" class="action-buttons">
    <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
    <a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    
    
    
</div>
	<div id="slides" class="carousel slide">
		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item  active">
				<img src="{{detail['signaturePicture']}}" alt="{{detail['title']}}">

				<div class="carousel-caption d-none d-md-block">
					<h5>{{detail['subtitle']}}</h5>
					<p>{{detail['description']}}</p>
				</div>
			</div>
		</div>
	</div>


</div>