<div class="edit" *ngIf="detail">
	<div *ngIf="!subEdit" class="action-buttons">
        <!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title" *ngIf="!subEdit">{{action}} Event</h4>    
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('title')">

        <fieldset class="form-group">
          <label for="EditTitle">Title</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTitle" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['title']" name="EditTitle"
                    #EditTitle="ngModel">
                <div *ngIf="detail['title']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('title')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditTitle.valid || EditTitle.pristine || EditTitle.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditTitle.errors && EditTitle.errors.required">
              Title is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('author')">

        <fieldset class="form-group">
          <label for="EditAuthor">Author</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditAuthor" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['author']" name="EditAuthor"
                    #EditAuthor="ngModel">
                <div *ngIf="detail['author']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('author')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditAuthor.valid || EditAuthor.pristine || EditAuthor.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditAuthor.errors && EditAuthor.errors.required">
              Author is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('content')">

        <fieldset class="form-group">
          <label for="EditContent">Content</label>
          
          <div mra-richtext-select="EditContent"></div>
          <div class="action-buttons" style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-success" (click)="onEdtiorPreview('EditContent')">Preview</button>
          </div>
        
          <div [hidden]="EditContent.valid"
           class="alert alert-danger">

            <div *ngIf="EditContent.errors && EditContent.errors.required">
              Content is required.
              </div>
 

        
          </div>
        </fieldset>

    
</div>
         </div>	
	     <div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('title')">

        <fieldset class="form-group">
          <label for="EditTitle">Title</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTitle" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['title']" name="EditTitle"
                    #EditTitle="ngModel">
                <div *ngIf="detail['title']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('title')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditTitle.valid || EditTitle.pristine || EditTitle.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditTitle.errors && EditTitle.errors.required">
              Title is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('author')">

        <fieldset class="form-group">
          <label for="EditAuthor">Author</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditAuthor" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['author']" name="EditAuthor"
                    #EditAuthor="ngModel">
                <div *ngIf="detail['author']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('author')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditAuthor.valid || EditAuthor.pristine || EditAuthor.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditAuthor.errors && EditAuthor.errors.required">
              Author is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('content')">

        <fieldset class="form-group">
          <label for="EditContent">Content</label>
          
          <div mra-richtext-select="EditContent"></div>
          <div class="action-buttons" style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-success" (click)="onEdtiorPreview('EditContent')">Preview</button>
          </div>
        
          <div [hidden]="EditContent.valid"
           class="alert alert-danger">

            <div *ngIf="EditContent.errors && EditContent.errors.required">
              Content is required.
              </div>
 

        
          </div>
        </fieldset>

    
</div>
         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			type="button" (click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

