<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons my-3">
	</div>

	<div class="card" style="text-align: left;">
		<div class="card-body">
			<h4 class="card-title" *ngIf="!embeddedView && !options['title']">{{action}} Event and News</h4>
			<h4 class="card-title" *ngIf="options['title']" [ngStyle]="style['card-title']">
				{{options['title']}}
			</h4>
			<p	*ngIf="options['subtitle']" [ngStyle]="style['card-subtitle']">
				{{options['subtitle']}}
			</p>
			<form (ngSubmit)="onSubmit()" #editForm="ngForm">
				<ng-template [ngIf]="action == 'Edit'">
					<ng-template [ngIf]="!hiddenFields.includes('title')">
				<fieldset class="form-group">
					<label for="EditTitle">Title</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTitle" 
                    required
                    maxlength="100"
                    [(ngModel)]="detail['title']" name="EditTitle"
                    #EditTitle="ngModel">
            <div *ngIf="detail['title']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('title')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditTitle.valid || EditTitle.pristine || EditTitle.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditTitle.errors && EditTitle.errors.required">
              Title is required.
            </div>
            <div *ngIf="EditTitle.errors && EditTitle.errors.maxlength">
                Title must be at most 100 characters long.
            </div>
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('author')">
				<fieldset class="form-group">
					<label for="EditAuthor">Author</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditAuthor" 
                    required
                    maxlength="50"
                    [(ngModel)]="detail['author']" name="EditAuthor"
                    #EditAuthor="ngModel">
            <div *ngIf="detail['author']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('author')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditAuthor.valid || EditAuthor.pristine || EditAuthor.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditAuthor.errors && EditAuthor.errors.required">
              Author is required.
            </div>
            <div *ngIf="EditAuthor.errors && EditAuthor.errors.maxlength">
                Author must be at most 50 characters long.
            </div>
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('content')">
				<fieldset class="form-group">
					<label for="EditContent">Content</label>
						
          <div libMddsRichtext="EditContent" [content]="detail['content']"></div>
          <div class="action-buttons my-3" style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-success" (click)="onEdtiorPreview('EditContent')">Preview</button>
          </div>
        
          <div [hidden]="EditContent.valid"
           class="alert alert-danger">
            <div *ngIf="EditContent.errors && EditContent.errors.required">
              Content is required.
            </div>        
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('signaturePicture')">
				<fieldset class="form-group">
					<label for="EditSignaturePicture">Signature Picture</label>
						
          <div class="form-check"
                [ngClass]="{'ng-valid': detail['signaturePicture'],
                            'ng-invalid': !detail['signaturePicture']}"
              >
              <input type="text" class="form-control rounded" id="EditSignaturePicture" style="display: none;"
                  required
                  [(ngModel)]="detail['signaturePicture']" name="EditSignaturePicture"
                  #EditSignaturePicture="ngModel">
              <div style="display: inline-block; width: 80%;" >
                  <lib-mdds-file-select [(downloadUrl)]="detail['signaturePicture']" [aspectRatio]=""></lib-mdds-file-select>
              </div>
              <span *ngIf="detail['signaturePicture']" 
                class="icon-clear" (click)="clearValueFromDetail('signaturePicture')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </span>     
          </div>
          <div [hidden]="EditSignaturePicture.valid || EditSignaturePicture.pristine"
            class="alert alert-danger">
              <div *ngIf="EditSignaturePicture.errors && EditSignaturePicture.errors.required">
               SignaturePicture is required.
              </div>
          </div>

				</fieldset>
					</ng-template>
				</ng-template>
				<ng-template [ngIf]="action == 'Create' || action == 'Add' ">
					<ng-template [ngIf]="!hiddenFields.includes('title')">
				<fieldset class="form-group">
					<label for="EditTitle">Title</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTitle" 
                    required
                    maxlength="100"
                    [(ngModel)]="detail['title']" name="EditTitle"
                    #EditTitle="ngModel">
            <div *ngIf="detail['title']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('title')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditTitle.valid || EditTitle.pristine || EditTitle.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditTitle.errors && EditTitle.errors.required">
              Title is required.
            </div>
            <div *ngIf="EditTitle.errors && EditTitle.errors.maxlength">
                Title must be at most 100 characters long.
            </div>
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('author')">
				<fieldset class="form-group">
					<label for="EditAuthor">Author</label>
						
          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditAuthor" 
                    required
                    maxlength="50"
                    [(ngModel)]="detail['author']" name="EditAuthor"
                    #EditAuthor="ngModel">
            <div *ngIf="detail['author']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('author')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>
          <div [hidden]="EditAuthor.valid || EditAuthor.pristine || EditAuthor.errors.minlength"
           class="alert alert-danger">
            <div *ngIf="EditAuthor.errors && EditAuthor.errors.required">
              Author is required.
            </div>
            <div *ngIf="EditAuthor.errors && EditAuthor.errors.maxlength">
                Author must be at most 50 characters long.
            </div>
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('content')">
				<fieldset class="form-group">
					<label for="EditContent">Content</label>
						
          <div libMddsRichtext="EditContent" [content]="detail['content']"></div>
          <div class="action-buttons my-3" style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-success" (click)="onEdtiorPreview('EditContent')">Preview</button>
          </div>
        
          <div [hidden]="EditContent.valid"
           class="alert alert-danger">
            <div *ngIf="EditContent.errors && EditContent.errors.required">
              Content is required.
            </div>        
          </div>

				</fieldset>
					</ng-template>
					<ng-template [ngIf]="!hiddenFields.includes('signaturePicture')">
				<fieldset class="form-group">
					<label for="EditSignaturePicture">Signature Picture</label>
						
          <div class="form-check"
                [ngClass]="{'ng-valid': detail['signaturePicture'],
                            'ng-invalid': !detail['signaturePicture']}"
              >
              <input type="text" class="form-control rounded" id="EditSignaturePicture" style="display: none;"
                  required
                  [(ngModel)]="detail['signaturePicture']" name="EditSignaturePicture"
                  #EditSignaturePicture="ngModel">
              <div style="display: inline-block; width: 80%;" >
                  <lib-mdds-file-select [(downloadUrl)]="detail['signaturePicture']" [aspectRatio]=""></lib-mdds-file-select>
              </div>
              <span *ngIf="detail['signaturePicture']" 
                class="icon-clear" (click)="clearValueFromDetail('signaturePicture')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </span>     
          </div>
          <div [hidden]="EditSignaturePicture.valid || EditSignaturePicture.pristine"
            class="alert alert-danger">
              <div *ngIf="EditSignaturePicture.errors && EditSignaturePicture.errors.required">
               SignaturePicture is required.
              </div>
          </div>

				</fieldset>
					</ng-template>
				</ng-template>
				<div class="action-buttons-center my-3">
					<button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Submit</button>
					<button class="btn btn-outline-success" type="button" (click)="editCancel()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
