
<div class="detail" *ngIf="detail">
	<div *ngIf="!options['disableActionButtions']"><div *ngIf="!disableActionButtions && !options['disableActionButtions']" class="action-buttons my-3">
    <a *ngIf="!options['disableActionList']" routerLink="../../list"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    <a *ngIf="!options['disableActionEdit']" [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
    <a *ngIf="!options['disableActionNew']" [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
    <a *ngIf="!options['disableActionDelete']" routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
</div>
</div>
	<div class="card text-left transparent-border ">
		<div class="grid-fields">

      <div class="card-header grid-head">
        <div class="ml-1">
          <h5>
            <div class="mr-1 d-inline-block">
              
                    {{detail['first_name']}}
            </div>
            <div class="mr-1 d-inline-block">
              
                    {{detail['last_name']}}
            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Date of Birth:</label></div>
                <div class="ml-3">  {{detail['date_of_birth']? (detail['date_of_birth']['originalValue'] | date:'medium') : ''}}</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Grade:</label></div>
                <div class="ml-3">
                    {{detail['grade']}}</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Email:</label></div>
                <div class="ml-3">
                    {{detail['email']}}</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Phone Number:</label></div>
                <div class="ml-3">
                    {{detail['phoneNumber']}}</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>School:</label></div>
                <div class="ml-3">
                    {{detail['school']}}</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Guardian One Name:</label></div>
                <div class="ml-3">
                    {{detail['GuardianOneName']}}</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Guardian One Phone:</label></div>
                <div class="ml-3">
                    {{detail['GuardianOnePhone']}}</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Guardian One Email:</label></div>
                <div class="ml-3">
                    {{detail['GuardianOneEmail']}}</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Guardian Two Name:</label></div>
                <div class="ml-3">
                    {{detail['GuardianTwoName']}}</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Guardian Two Phone:</label></div>
                <div class="ml-3">
                    {{detail['GuardianTwoPhone']}}</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Guardian Two Email:</label></div>
                <div class="ml-3">
                    {{detail['GuardianTwoEmail']}}</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Notes:</label></div>
                <div class="ml-3">
                    <div [innerHTML]="detail['notes']"></div></div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Muser Id:</label></div>
                <div class="ml-3">
                    {{detail['muser_id']}}</div>
            </div>
          </div>
      </div>

		</div>
	</div>
	<div *ngIf="!options['disablePipeline']">
</div>
	<div *ngIf="!options['disableRefLink']">
    <br/>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a [routerLink]="['./classenroll/list']"
                    class="nav-link" routerLinkActive="active">Enrolled Classes</a>
        </li><li class="nav-item">
            <a [routerLink]="['./studentclass/list']"
                    class="nav-link" routerLinkActive="active">Attended Classes</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>
</div>
