<div class="detail" *ngIf="detail">
	
	<div class="action-buttons">
        <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
        <a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
		<a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
		<a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
		<a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
	</div>
	

<div class="card text-left transparent-border ">
	<div class="grid-fields">

      <div class="card-header grid-head">
        <div class="ml-1 d-inline-block">
          <h5>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['first_name']}}

            </div>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['last_name']}}

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div>
            <div class="d-inline-block"><label>Date of Birth:</label></div>
            <div class="ml-3 d-inline-block">                  {{detail['date_of_birth']?detail['date_of_birth']['value']:""}}

            </div>
          </div>
          <div>
            <div class="d-inline-block"><label>Grade:</label></div>
            <div class="ml-3 d-inline-block">                  {{detail['grade']}} 

            </div>
          </div>
          <div>
            <div class="d-inline-block"><label>Email:</label></div>
            <div class="ml-3 d-inline-block">                
                    {{detail['email']}}

            </div>
          </div>
      </div>

	</div>
</div>
	
		
	<br/>
	
	<ul class="nav nav-tabs">
	  
	    <li class="nav-item">
	    <a [routerLink]="['./studentclass/list']"
	        class="nav-link" routerLinkActive="active">StudentClass</a>
	  </li>
    </ul>
		<router-outlet></router-outlet>
	
</div>

