<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons">
		<!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>

	<div class="card" style="text-align: left;">
		<div class="card-body">
			<h4 class="card-title" *ngIf="!embeddedView && !options['title']">{{action}} Pipeline</h4>
			<h4 class="card-title" *ngIf="options['title']" [ngStyle]="style['card-title']">
				{{options['title']}}
			</h4>
			<p	*ngIf="options['subtitle']" [ngStyle]="style['card-subtitle']">
				{{options['subtitle']}}
			</p>
			<form (ngSubmit)="onSubmit()" #editForm="ngForm">

				<div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('category')">

        <fieldset class="form-group">
          <label for="EditCategory">Category</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditCategory" 
                    required
                    
                    maxlength="100"
                
                    [(ngModel)]="detail['category']" name="EditCategory"
                    #EditCategory="ngModel">
            <div *ngIf="detail['category']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('category')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditCategory.valid || EditCategory.pristine || EditCategory.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditCategory.errors && EditCategory.errors.required">
              Category is required.
              </div>
 

            <div *ngIf="EditCategory.errors && EditCategory.errors.maxlength">
                Category must be at most 100 characters long.
              </div>
          </div>
        
        </fieldset>

    
</div>

				</div>
				<div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('category')">

        <fieldset class="form-group">
          <label for="EditCategory">Category</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditCategory" 
                    required
                    
                    maxlength="100"
                
                    [(ngModel)]="detail['category']" name="EditCategory"
                    #EditCategory="ngModel">
            <div *ngIf="detail['category']"
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('category')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditCategory.valid || EditCategory.pristine || EditCategory.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditCategory.errors && EditCategory.errors.required">
              Category is required.
              </div>
 

            <div *ngIf="EditCategory.errors && EditCategory.errors.maxlength">
                Category must be at most 100 characters long.
              </div>
          </div>
        
        </fieldset>

    
</div>

				</div>

				<div class="action-buttons-center">
					<button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Submit</button>
					<button class="btn btn-outline-success" type="button" (click)="editCancel()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
