<div class="detail" *ngIf="detail">
	

<div class="card text-left transparent-border ">
	<div class="grid-fields">

      <div class="card-header grid-head">
        <div class="ml-1 d-inline-block">
          <h5>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['title']}}

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div>
            <div class="d-inline-block"><label>Description:</label></div>
            <div class="ml-3 d-inline-block">                
                    {{detail['description']}}

            </div>
          </div>
          <div>
            <div class="d-inline-block"><label>Order:</label></div>
            <div class="ml-3 d-inline-block">                  {{detail['order']}} 

            </div>
          </div>
          <div>
            <div class="d-inline-block"><label>Enable:</label></div>
            <div class="ml-3 d-inline-block">                  {{detail['enable']}} 

            </div>
          </div>
      </div>

	</div>
</div>
	
</div>

