<div class="detail" *ngIf="detail">
<div *ngIf="!disableActionButtions" class="action-buttons">
    <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
    <a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    
    
    
</div>

	<div class="card text-left transparent-border " [ngStyle]="style">
	  <div class="grid-fields">
		<div class="card-header grid-head">
		  <div *ngIf="detail['signaturePicture']" class="grid-head-picture mr-5">                
                    <file-display [downloadUrl]="detail['signaturePicture']" [isLarge]="true"></file-display>

		  </div>
		  <div class="ml-1 d-inline-block">
			<h2>
			  <div class="mr-1 d-inline-block">
				                
                    {{detail['title']}}

			  </div>
			</h2>
		  </div>
		</div>
		<div class="card-body">
			<div>
			  <h4 class="info-description-text">                
                    {{detail['description']}}

			  </h4>
			</div>
		</div>
	  </div>
	</div>




</div>
