<div class="detail" *ngIf="detail">
	

<div class="card text-left transparent-border ">
	<div class="grid-fields">

      <div class="card-header grid-head">
        <div class="ml-1 d-inline-block">
          <h5>
            <div class="mr-1 d-inline-block">
                              
               	  <a routerLink="."  (click)="onDisplayRefClicked('student', detail['student'], $event)">
	            	{{detail['student']?detail['student']['value']:""}}
	              </a>

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div>
            <div class="d-inline-block"><label>Class:</label></div>
            <div class="ml-3 d-inline-block">                
               	  <a routerLink="."  (click)="onDisplayRefClicked('class', detail['class'], $event)">
	            	{{detail['class']?detail['class']['value']:""}}
	              </a>

            </div>
          </div>
      </div>

	</div>
</div>
	
</div>

