<div class="container">
    <h3 class="mt-5 mb-3 text-center">Enrollment Summary</h3>
    <div class="card mx-auto" style="width: 75%;">
        <div class="card-body">
            <div *ngIf="enrollmentDetail">
                <p>
                    <span class="h5 pr-3">Student(s):</span>
                    <span *ngFor="let s of enrollmentDetail.student; let if = index" class="pr-3">{{s.first_name}} {{s.last_name}}</span>
                </p>
            </div>
            <div *ngIf="classDetail">
                <p>
                    <span class="h5 pr-3">Class:</span> {{classDetail.title}} (from {{classDetail.startTime}} to {{classDetail.endTime}})
                </p>

                <p>
                    <span class="h5 pr-3">Class Price (per student):</span> {{classDetail.price}}
                </p>
            </div>

        </div>
    </div>

    <div *ngIf="totalPrice > 0 && !showPayment" class="mx-auto mt-5" style="width: 75%;">
        <h5>Is this the first time the student(s) enrolled in a LKA class?</h5>

        <div class="form-check">
            <div class="form-check m-3">
                <input type="radio" name="EditStatus" class="form-check-input" required id="EditStatusprocessing" [value]="true" [(ngModel)]="firstEnroll" #EditStatus="ngModel">
                <label class="form-check-label">Yes. Enrollment is for new LKA student(s).</label>
            </div>

            <div class="form-check m-3">
                <input type="radio" name="EditStatus" class="form-check-input" required id="EditStatuspaid" [value]="false" [(ngModel)]="firstEnroll" #EditStatus="ngModel">
                <label class="form-check-label">No. Enrollment is for returned LKA student(s).</label>
            </div>
        </div>
        <div class="text-center mb-3 mt-3">
            <button type="submit" class="btn btn-primary" (click)="makePayment()">Make Payment</button>
        </div>
    </div>

    <div *ngIf="showPayment">
        <h3 class="mt-5 mb-3 text-center">Payment Summary</h3>

        <div class="card mx-auto" style="width: 75%;">
            <div class="card-body">
                <p>
                    <span class="h5 pr-3">Payment Total:</span> ${{totalPrice.toFixed(2)}}
                </p>
                <p *ngIf="firstEnroll"><i><b>Note:</b> $50 registration fee for each new student is added to class price.</i></p>
            </div>
        </div>

        <h3 class="mt-5 mb-3 text-center">Payment Options</h3>
        <div class="pl-5">
            <h5>Option 1. Pay with Zelle(<i style="color: darkgreen">Zero transaction fee</i>)</h5>
            <div class="my-3 d-flex flex-column align-items-center">
                <div>Zelle® is a fast, safe, easy and contact-free way to send and receive money. Look for Zelle in your bank accounts. Use Zelle to pay <b style="color: red">${{totalPrice.toFixed(2)}}</b> to the following account:</div>
                <div>info.lkastaff@gmail.com</div>
            </div>

            <div class="text-center mb-3 mt-3">
                <a class="btn btn-outline-primary" routerLink="/academics/classenroll/list">Done with Zelle Pay</a>
            </div>


            <h5>Option 2. By check or other payment channels.</h5>
            <div class="my-3 d-flex flex-column align-items-center">
                <p> Pay <b style="color: red">${{totalPrice.toFixed(2)}}</b> with online bill pay or mail/drop off the tuition check to the following address before the session/class starts:</p>
                <div class="pl-5 pt-3 pb-3">
                    <div>Light of knowledge Academy</div>
                    <div>20432 Silverado Ave Suite #6,</div>
                    <div>Cupertino, CA 95014</div>
                </div>
            </div>

            <div class="text-center mb-3 mt-3">
                <a class="btn btn-outline-primary" routerLink="/academics/classenroll/list">I'll mail/drop off or pay with other channels.</a>
            </div>

            <h5>Option 3. PayPal QR Code Pay: (<i style="color: red">1.9% transaction fee</i>)</h5>
            <div class="my-3 d-flex flex-column align-items-center">
                <p class="pl-5"><i>Scan the following QR Code with PayPal app to pay <b style="color: red">${{paypalQRPrice.toFixed(2)}}</b></i></p>
                <img style="width: 300px;" src="assets/images/LKA-Paypal-QRCode.png">
            </div>
            <div class="text-center mb-3 mt-3">
                <a class="btn btn-outline-primary" routerLink="/academics/classenroll/list">Done with PayPal QR Code Pay</a>
            </div>
            <!--p class="pl-5 small"><i><b>Note:</b>Starting Octobor 1, 2020, 1.9% additional transaction fee will incure and you payment total would be <b>${{paypalQRPrice.toFixed(2)}}</b></i></p -->

            <!--
            <h5>Option 4. Paypal Pay: (<i style="color: red">2.9% transaction fee</i>)</h5>
            <p class="pl-5"><i><b>Note:</b> 2.9% additional online transaction fee will incure. Your payment total would be: <b style="color: red;">${{onlinePrice.toFixed(2)}}</b></i></p>
            -->
        </div>
    </div>
    <!-- Set up a container element for the button 
    <div class="mx-auto w-50" id="paypal-button-container"></div> -->

</div>