<div class="edit" *ngIf="detail">
	<div *ngIf="!subEdit" class="action-buttons">
        <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a>
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title" *ngIf="!subEdit">{{action}} Class</h4>    
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('title')">

	      <fieldset class="form-group">
	        <label for="classEditTitle">Title</label>

	        <input type="text" class="form-control" id="classEditTitle" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['title']" name="classEditTitle"
	                #classEditTitle="ngModel">

	        <div [hidden]="classEditTitle.valid || classEditTitle.pristine || classEditTitle.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="classEditTitle.errors && classEditTitle.errors.required">
    	        Title is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('course')">

	      <fieldset class="form-group">
	        <label for="classEditCourse">Course </label>
		    <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('course')"><i class="fas fa-list" title="Search"></i></a>  -->
		    <div class="input-group">
		    	<!--  [attr.disabled]="true" -->
		        <input class="form-control rounded" id="classEditCourse" 
		             [ngClass]="{'pointer ref-badge': detail['course']['_id']}"
		             (focus)="onRefSelect('course')"
	                 required
		        	  
		             [ngModel]="detail['course']['value']" name="classEditCourse"
		             #classEditCourse="ngModel"> 
		    <div *ngIf="detail['course']['value']" 
		          class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('course')">
		          <i class="fas fa-times-circle" title="Clear"></i></div>
			</div>
	        <div [hidden]="classEditCourse.valid || classEditCourse.pristine"
	             class="alert alert-danger">

	          <div *ngIf="classEditCourse.errors && classEditCourse.errors.required && !(detail['course']?.date)">
    	        Course is required.
  	          </div>
 
	        </div>
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('description')">

	      <fieldset class="form-group">
	        <label for="classEditDescription">Description</label>

	        <input type="text" class="form-control" id="classEditDescription" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['description']" name="classEditDescription"
	                #classEditDescription="ngModel">

	        <div [hidden]="classEditDescription.valid || classEditDescription.pristine || classEditDescription.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="classEditDescription.errors && classEditDescription.errors.required">
    	        Description is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('teacher')">

	      <fieldset class="form-group">
	        <label for="classEditTeacher">Teacher </label>
		    <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('teacher')"><i class="fas fa-list" title="Search"></i></a>  -->
		    <div class="input-group">
		    	<!--  [attr.disabled]="true" -->
		        <input class="form-control rounded" id="classEditTeacher" 
		             [ngClass]="{'pointer ref-badge': detail['teacher']['_id']}"
		             (focus)="onRefSelect('teacher')"
	                 required
		        	  
		             [ngModel]="detail['teacher']['value']" name="classEditTeacher"
		             #classEditTeacher="ngModel"> 
		    <div *ngIf="detail['teacher']['value']" 
		          class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('teacher')">
		          <i class="fas fa-times-circle" title="Clear"></i></div>
			</div>
	        <div [hidden]="classEditTeacher.valid || classEditTeacher.pristine"
	             class="alert alert-danger">

	          <div *ngIf="classEditTeacher.errors && classEditTeacher.errors.required && !(detail['teacher']?.date)">
    	        Teacher is required.
  	          </div>
 
	        </div>
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('price')">

	      <fieldset class="form-group">
	        <label for="classEditPrice">Price</label>
	        <input type="number" class="form-control" id="classEditPrice" 
	                
	                
	                required
		        	 
	                [(ngModel)]="detail['price']" name="classEditPrice"
	                #classEditPrice="ngModel">
	        <div [hidden]="classEditPrice.valid || classEditPrice.pristine || classEditPrice.errors.minnumber"
     			class="alert alert-danger">

	          <div *ngIf="classEditPrice.errors && classEditPrice.errors.required">
    	        Price is required.
  	          </div>
 

	        </div>

	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('startTime')">

	      <fieldset class="form-group">
	        <label for="classEditStartTime">StartTime </label> <span> ({{dateFormat}})</span>
	        <div class="input-group">
		      <input class="form-control" id="classEditStartTime" placeholder="{{dateFormat}}"
	                 required
		        	  
		             [(ngModel)]="detail['startTime']['date']" name="classEditStartTime"
		             ngbDatepicker #classEditStartTimeDate="ngbDatepicker" #classEditStartTime="ngModel">
		      <div class="input-group-append">
		        <button class="btn btn-outline-secondary" (click)="classEditStartTimeDate.toggle()" type="button">
		          <i class="fas fa-calendar-alt"></i>
		        </button>
		      </div>
		    </div><!-- input group -->         
	        <div [hidden]="classEditStartTime.valid || classEditStartTime.pristine || (classEditStartTime.errors && classEditStartTime.errors.ngbDate)"
	             class="alert alert-danger">

	          <div *ngIf="classEditStartTime.errors && classEditStartTime.errors.required && !(detail['startTime']?.date)">
    	        StartTime is required.
  	          </div>
 
	        </div>
	        <div [hidden]="classEditStartTime.valid || classEditStartTime.untouched || !(classEditStartTime.errors && classEditStartTime.errors.ngbDate)"
     			class="alert alert-danger">
	          <div *ngIf="classEditStartTime.errors && classEditStartTime.errors.ngbDate">
    	        StartTime must be in {{dateFormat}} format.
  	          </div>
	        </div>
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('endTime')">

	      <fieldset class="form-group">
	        <label for="classEditEndTime">EndTime </label> <span> ({{dateFormat}})</span>
	        <div class="input-group">
		      <input class="form-control" id="classEditEndTime" placeholder="{{dateFormat}}"
	                 required
		        	  
		             [(ngModel)]="detail['endTime']['date']" name="classEditEndTime"
		             ngbDatepicker #classEditEndTimeDate="ngbDatepicker" #classEditEndTime="ngModel">
		      <div class="input-group-append">
		        <button class="btn btn-outline-secondary" (click)="classEditEndTimeDate.toggle()" type="button">
		          <i class="fas fa-calendar-alt"></i>
		        </button>
		      </div>
		    </div><!-- input group -->         
	        <div [hidden]="classEditEndTime.valid || classEditEndTime.pristine || (classEditEndTime.errors && classEditEndTime.errors.ngbDate)"
	             class="alert alert-danger">

	          <div *ngIf="classEditEndTime.errors && classEditEndTime.errors.required && !(detail['endTime']?.date)">
    	        EndTime is required.
  	          </div>
 
	        </div>
	        <div [hidden]="classEditEndTime.valid || classEditEndTime.untouched || !(classEditEndTime.errors && classEditEndTime.errors.ngbDate)"
     			class="alert alert-danger">
	          <div *ngIf="classEditEndTime.errors && classEditEndTime.errors.ngbDate">
    	        EndTime must be in {{dateFormat}} format.
  	          </div>
	        </div>
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('dayOfWeek')">


          <fieldset class="form-group">
	        <label for="classEditDayOfWeek">DayOfWeek</label>

            <div class="form-check"
                ngModelGroup="classEditDayOfWeek"
                classDirectiveDayOfWeekRequired
                
                #classEditDayOfWeek="ngModelGroup" 
		        >

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekMon" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekMon"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Mon']"
		        	#classEditDayOfWeekMon="ngModel">
		      	<label class="form-check-label">Mon</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekTue" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekTue"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Tue']"
		        	#classEditDayOfWeekTue="ngModel">
		      	<label class="form-check-label">Tue</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekWed" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekWed"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Wed']"
		        	#classEditDayOfWeekWed="ngModel">
		      	<label class="form-check-label">Wed</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekThu" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekThu"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Thu']"
		        	#classEditDayOfWeekThu="ngModel">
		      	<label class="form-check-label">Thu</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekFri" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekFri"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Fri']"
		        	#classEditDayOfWeekFri="ngModel">
		      	<label class="form-check-label">Fri</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekSat" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekSat"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Sat']"
		        	#classEditDayOfWeekSat="ngModel">
		      	<label class="form-check-label">Sat</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekSun" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekSun"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Sun']"
		        	#classEditDayOfWeekSun="ngModel">
		      	<label class="form-check-label">Sun</label>
		      </div>

		      <span *ngIf="multiselectionSelected('dayOfWeek')" 
		          class="icon-clear" (click)="clearValueFromDetail('dayOfWeek')">
		          <i class="fas fa-times-circle" title="Clear"></i></span>
		    </div>

	        <div [hidden]="classEditDayOfWeek.valid || classEditDayOfWeek.pristine"
     			class="alert alert-danger">

	          <div *ngIf="classEditDayOfWeek.errors && classEditDayOfWeek.errors.required">
    	        DayOfWeek is required.
  	          </div>
 
	        </div>
	      </fieldset>
 
    
</div>
         </div>	
	     <div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('title')">

	      <fieldset class="form-group">
	        <label for="classEditTitle">Title</label>

	        <input type="text" class="form-control" id="classEditTitle" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['title']" name="classEditTitle"
	                #classEditTitle="ngModel">

	        <div [hidden]="classEditTitle.valid || classEditTitle.pristine || classEditTitle.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="classEditTitle.errors && classEditTitle.errors.required">
    	        Title is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('course')">

	      <fieldset class="form-group">
	        <label for="classEditCourse">Course </label>
		    <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('course')"><i class="fas fa-list" title="Search"></i></a>  -->
		    <div class="input-group">
		    	<!--  [attr.disabled]="true" -->
		        <input class="form-control rounded" id="classEditCourse" 
		             [ngClass]="{'pointer ref-badge': detail['course']['_id']}"
		             (focus)="onRefSelect('course')"
	                 required
		        	  
		             [ngModel]="detail['course']['value']" name="classEditCourse"
		             #classEditCourse="ngModel"> 
		    <div *ngIf="detail['course']['value']" 
		          class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('course')">
		          <i class="fas fa-times-circle" title="Clear"></i></div>
			</div>
	        <div [hidden]="classEditCourse.valid || classEditCourse.pristine"
	             class="alert alert-danger">

	          <div *ngIf="classEditCourse.errors && classEditCourse.errors.required && !(detail['course']?.date)">
    	        Course is required.
  	          </div>
 
	        </div>
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('description')">

	      <fieldset class="form-group">
	        <label for="classEditDescription">Description</label>

	        <input type="text" class="form-control" id="classEditDescription" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['description']" name="classEditDescription"
	                #classEditDescription="ngModel">

	        <div [hidden]="classEditDescription.valid || classEditDescription.pristine || classEditDescription.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="classEditDescription.errors && classEditDescription.errors.required">
    	        Description is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('teacher')">

	      <fieldset class="form-group">
	        <label for="classEditTeacher">Teacher </label>
		    <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('teacher')"><i class="fas fa-list" title="Search"></i></a>  -->
		    <div class="input-group">
		    	<!--  [attr.disabled]="true" -->
		        <input class="form-control rounded" id="classEditTeacher" 
		             [ngClass]="{'pointer ref-badge': detail['teacher']['_id']}"
		             (focus)="onRefSelect('teacher')"
	                 required
		        	  
		             [ngModel]="detail['teacher']['value']" name="classEditTeacher"
		             #classEditTeacher="ngModel"> 
		    <div *ngIf="detail['teacher']['value']" 
		          class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('teacher')">
		          <i class="fas fa-times-circle" title="Clear"></i></div>
			</div>
	        <div [hidden]="classEditTeacher.valid || classEditTeacher.pristine"
	             class="alert alert-danger">

	          <div *ngIf="classEditTeacher.errors && classEditTeacher.errors.required && !(detail['teacher']?.date)">
    	        Teacher is required.
  	          </div>
 
	        </div>
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('price')">

	      <fieldset class="form-group">
	        <label for="classEditPrice">Price</label>
	        <input type="number" class="form-control" id="classEditPrice" 
	                
	                
	                required
		        	 
	                [(ngModel)]="detail['price']" name="classEditPrice"
	                #classEditPrice="ngModel">
	        <div [hidden]="classEditPrice.valid || classEditPrice.pristine || classEditPrice.errors.minnumber"
     			class="alert alert-danger">

	          <div *ngIf="classEditPrice.errors && classEditPrice.errors.required">
    	        Price is required.
  	          </div>
 

	        </div>

	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('startTime')">

	      <fieldset class="form-group">
	        <label for="classEditStartTime">StartTime </label> <span> ({{dateFormat}})</span>
	        <div class="input-group">
		      <input class="form-control" id="classEditStartTime" placeholder="{{dateFormat}}"
	                 required
		        	  
		             [(ngModel)]="detail['startTime']['date']" name="classEditStartTime"
		             ngbDatepicker #classEditStartTimeDate="ngbDatepicker" #classEditStartTime="ngModel">
		      <div class="input-group-append">
		        <button class="btn btn-outline-secondary" (click)="classEditStartTimeDate.toggle()" type="button">
		          <i class="fas fa-calendar-alt"></i>
		        </button>
		      </div>
		    </div><!-- input group -->         
	        <div [hidden]="classEditStartTime.valid || classEditStartTime.pristine || (classEditStartTime.errors && classEditStartTime.errors.ngbDate)"
	             class="alert alert-danger">

	          <div *ngIf="classEditStartTime.errors && classEditStartTime.errors.required && !(detail['startTime']?.date)">
    	        StartTime is required.
  	          </div>
 
	        </div>
	        <div [hidden]="classEditStartTime.valid || classEditStartTime.untouched || !(classEditStartTime.errors && classEditStartTime.errors.ngbDate)"
     			class="alert alert-danger">
	          <div *ngIf="classEditStartTime.errors && classEditStartTime.errors.ngbDate">
    	        StartTime must be in {{dateFormat}} format.
  	          </div>
	        </div>
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('endTime')">

	      <fieldset class="form-group">
	        <label for="classEditEndTime">EndTime </label> <span> ({{dateFormat}})</span>
	        <div class="input-group">
		      <input class="form-control" id="classEditEndTime" placeholder="{{dateFormat}}"
	                 required
		        	  
		             [(ngModel)]="detail['endTime']['date']" name="classEditEndTime"
		             ngbDatepicker #classEditEndTimeDate="ngbDatepicker" #classEditEndTime="ngModel">
		      <div class="input-group-append">
		        <button class="btn btn-outline-secondary" (click)="classEditEndTimeDate.toggle()" type="button">
		          <i class="fas fa-calendar-alt"></i>
		        </button>
		      </div>
		    </div><!-- input group -->         
	        <div [hidden]="classEditEndTime.valid || classEditEndTime.pristine || (classEditEndTime.errors && classEditEndTime.errors.ngbDate)"
	             class="alert alert-danger">

	          <div *ngIf="classEditEndTime.errors && classEditEndTime.errors.required && !(detail['endTime']?.date)">
    	        EndTime is required.
  	          </div>
 
	        </div>
	        <div [hidden]="classEditEndTime.valid || classEditEndTime.untouched || !(classEditEndTime.errors && classEditEndTime.errors.ngbDate)"
     			class="alert alert-danger">
	          <div *ngIf="classEditEndTime.errors && classEditEndTime.errors.ngbDate">
    	        EndTime must be in {{dateFormat}} format.
  	          </div>
	        </div>
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('dayOfWeek')">


          <fieldset class="form-group">
	        <label for="classEditDayOfWeek">DayOfWeek</label>

            <div class="form-check"
                ngModelGroup="classEditDayOfWeek"
                classDirectiveDayOfWeekRequired
                
                #classEditDayOfWeek="ngModelGroup" 
		        >

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekMon" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekMon"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Mon']"
		        	#classEditDayOfWeekMon="ngModel">
		      	<label class="form-check-label">Mon</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekTue" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekTue"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Tue']"
		        	#classEditDayOfWeekTue="ngModel">
		      	<label class="form-check-label">Tue</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekWed" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekWed"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Wed']"
		        	#classEditDayOfWeekWed="ngModel">
		      	<label class="form-check-label">Wed</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekThu" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekThu"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Thu']"
		        	#classEditDayOfWeekThu="ngModel">
		      	<label class="form-check-label">Thu</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekFri" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekFri"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Fri']"
		        	#classEditDayOfWeekFri="ngModel">
		      	<label class="form-check-label">Fri</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekSat" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekSat"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Sat']"
		        	#classEditDayOfWeekSat="ngModel">
		      	<label class="form-check-label">Sat</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekSun" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekSun"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Sun']"
		        	#classEditDayOfWeekSun="ngModel">
		      	<label class="form-check-label">Sun</label>
		      </div>

		      <span *ngIf="multiselectionSelected('dayOfWeek')" 
		          class="icon-clear" (click)="clearValueFromDetail('dayOfWeek')">
		          <i class="fas fa-times-circle" title="Clear"></i></span>
		    </div>

	        <div [hidden]="classEditDayOfWeek.valid || classEditDayOfWeek.pristine"
     			class="alert alert-danger">

	          <div *ngIf="classEditDayOfWeek.errors && classEditDayOfWeek.errors.required">
    	        DayOfWeek is required.
  	          </div>
 
	        </div>
	      </fieldset>
 
    
</div>
         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			(click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

<ng-template manage-ref-select></ng-template>
