<p style="font-size:70px;">Meet the Staff!</p>
<button class="learn-more-button mt-3">Go Learn More</button>



<div *ngFor="let item of list">
  <div class="card" style="width: 25rem; margin: 2rem">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.firstName}} {{item.lastName}}</h5>
      <p class="card-text">{{item.introduction}}</p>
      <a href="#" class="btn btn-primary" style="background-color: #00BFFF">Check out more about {{item.firstName}} {{item.lastName}}</a>
    </div>
</div>