

<div class="mt-4 mb-4">
	<h3>Your Class Enrollments</h3>
</div>
<ul *ngIf="categoryBy" class="nav nav-pills category-nav">
	<li *ngFor="let ele of categoryDisplays; let idx = index;" class="nav-item" >
		<a class="nav-link" [ngClass]="{'active': idx === selectedCategory }" [routerLink]="['.']" [queryParamsHandling]="preserve" (click)="categorySelected(idx)">{{ele}}</a>
	</li>
</ul>

<div>
	<div class="container search">
		<div class="row">
			<div class="col">
		        <div class="action-buttons">
					
					
				</div>
			</div>
		</div>
		<hr/>
		<div class="row justify-content-end">
		
			<div *ngIf="list.length > 2" class="sort-selection mr-5">
					<div class="dropdown" style="width: 100%;">
						<button class="sort-dropdown btn btn-light btn-sm dropdown-toggle"
							type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Sort: <span *ngIf="listSortField && !viewHiddenFields.includes(listSortField)">{{listSortFieldDisplay}}
									<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up"></i>
									<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down"></i>
							</span>
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item pointer" (click)="setListSortAndRefresh('class', 'Class', 'asc')">Class<i class="fas fa-arrow-up"></i></a>
							<a class="dropdown-item pointer" (click)="setListSortAndRefresh('class', 'Class', 'desc')">Class<i class="fas fa-arrow-down"></i></a>
							<a class="dropdown-item pointer" (click)="setListSortAndRefresh('status', 'Status', 'asc')">Status<i class="fas fa-arrow-up"></i></a>
							<a class="dropdown-item pointer" (click)="setListSortAndRefresh('status', 'Status', 'desc')">Status<i class="fas fa-arrow-down"></i></a>
							<a class="dropdown-item pointer" (click)="setListSortAndRefresh('createdAt', 'Created Time', 'asc')">CreatedAt<i class="fas fa-arrow-up"></i></a>
							<a class="dropdown-item pointer" (click)="setListSortAndRefresh('createdAt', 'Created Time', 'desc')">CreatedAt<i class="fas fa-arrow-down"></i></a>
						</div>
					</div>
			</div>
			
		</div>
		<div class="d-flex justify-content-between">
			<div>
				<div *ngIf="list.length > 0">

					<input type="radio" name="view-filter" id="table-view" class="view-radio"
						(click)="setListViewFilter('table')" [checked]="isShowListView('table')">
						<label for="table-view"><i class="fa fa-list-alt"></i></label>

					<input type="radio" name="view-filter" id="list-view" class="view-radio"
						(click)="setListViewFilter('list')" [checked]="isShowListView('list')">
					<label for="list-view"><i class="fa fa-th-list"></i></label>

					<input type="radio" name="view-filter" id="grid-view" class="view-radio"
						(click)="setListViewFilter('grid')" [checked]="isShowListView('grid')">
						<label for="grid-view"><i class="fa fa-th"></i></label>

				</div>

			</div>

			<div>
				<div class="total_counts">
					<span *ngIf="list.length > 2">Total: <b>{{total_count}}</b></span>
					<a class="ml-3" routerLink="." (click)="onRefresh()"><i class="fa fa-sync-alt"></i></a>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center mt-2">
				<div *ngIf="total_pages > 1">
					<ul class="pagination justify-content-center">
						<li class="page-item"
								[ngClass]="{'disabled': page<=1}">
						<a class="page-link" routerLink="." (click)="onPreviousPage()"
							aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
						</li>

						<li *ngIf="left_more" class="page-item"><a class="page-link">...</a></li>

						<li *ngFor="let p of pages;  let i = index" class="page-item"
								[ngClass]="{'active': p==page}">
							<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
						</li>

						<li *ngIf="right_more" class="page-item"><a class="page-link">...</a></li>
						<li class="page-item"
								[ngClass]="{'disabled': page>=total_pages}">
						<a class="page-link" routerLink="." (click)="onNextPage()"
							aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
						</li>
					</ul>
				</div>
		</div>

	</div>
	<div class="no-records" *ngIf="list.length === 0">
		<span *ngIf="loaded">No records found.</span>
		<span *ngIf="!loaded">Loading...</span>
	</div>
	<div *ngIf="list.length > 0">
	<table *ngIf="isShowListView('table')" class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>

				<th scope="col">Student</th>

				<th class="pointer" scope="col" (click)="toggleListSort('class', 'Class')">
					Class
					<span *ngIf="listSortField === 'class'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th class="pointer" scope="col" (click)="toggleListSort('status', 'Status')">
					Status
					<span *ngIf="listSortField === 'status'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th class="pointer" scope="col" (click)="toggleListSort('createdAt', 'Created Time')">
					Created Time
					<span *ngIf="listSortField === 'createdAt'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
	    	</tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index; let list_index = index;" [ngClass]="{'clicked-row': clickedId==detail['_id']}">
	            <td scope="row" (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	{{(page-1)*per_page+i+1}}
	            </td>

	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                
                    <div *ngIf="detail['student'] && detail['student']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['student']['selection']" let-idx="index">
                            <div class="badge-click badge badge-pill badge-secondary" 
                                (click)="onDisplayRefClicked('student', detail['student']['selection'][idx], $event)">
                                {{element.value}}
                            </div>
                        </ng-template>
                    </div>

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                
               	  <a routerLink="."  (click)="onDisplayRefClicked('class', detail['class'], $event)">
	            	{{detail['class']?detail['class']['value']:""}}
	              </a>

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                
                    {{detail['status']}}

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                  {{detail['createdAt']?detail['createdAt']['value']:""}}

	            </td>
	        </tr>
	    </tbody>
	</table>


	<div class="listview" *ngIf="isShowListView('list')">
		<div class="list-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<hr *ngIf="i==0" class="list-diverder">
			<div class="list-card text-left clickable-card "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="list-fields pointer" (click)="onDetailLinkClicked(detail['_id'])" >

      <div class="list-body-fields ml-1 d-inline-block">
        <h5>
          <div class="mr-1 d-inline-block">
                            
                    <div *ngIf="detail['student'] && detail['student']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['student']['selection']" let-idx="index">
                            <div class="badge-click badge badge-pill badge-secondary" 
                                (click)="onDisplayRefClicked('student', detail['student']['selection'][idx], $event)">
                                {{element.value}}
                            </div>
                        </ng-template>
                    </div>

          </div>
        </h5>
        <div *ngIf="detail['class']" class="mr-3 d-inline-block">
          <div class="d-inline-block"><label>Class:</label></div>
          <div class="ml-3 d-inline-block">                
               	  <a routerLink="."  (click)="onDisplayRefClicked('class', detail['class'], $event)">
	            	{{detail['class']?detail['class']['value']:""}}
	              </a>

          </div>
        </div>
        <div *ngIf="detail['status']" class="mr-3 d-inline-block">
          <div class="d-inline-block"><label>Status:</label></div>
          <div class="ml-3 d-inline-block">                
                    {{detail['status']}}

          </div>
        </div>
        <div *ngIf="detail['createdAt']" class="mr-3 d-inline-block">
          <div class="d-inline-block"><label>Created Time:</label></div>
          <div class="ml-3 d-inline-block">                  {{detail['createdAt']?detail['createdAt']['value']:""}}

          </div>
        </div>
      </div>

				</div>
			</div>
			<hr class="list-diverder">
		</div>
	</div>



	<div class="gridview" *ngIf="isShowListView('grid')">
		<div class="grid-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<div class="card text-left h-100 clickable-card "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="grid-fields pointer" (click)="onDetailLinkClicked(detail['_id'])" >

      <div class="card-header grid-head">
        <div class="ml-1 d-inline-block">
          <h5>
            <div class="mr-1 d-inline-block">
                              
                    <div *ngIf="detail['student'] && detail['student']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['student']['selection']" let-idx="index">
                            <div class="badge-click badge badge-pill badge-secondary" 
                                (click)="onDisplayRefClicked('student', detail['student']['selection'][idx], $event)">
                                {{element.value}}
                            </div>
                        </ng-template>
                    </div>

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div *ngIf="detail['class']">
            <div class="d-inline-block"><label>Class:</label></div>
            <div class="ml-3 d-inline-block">                
               	  <a routerLink="."  (click)="onDisplayRefClicked('class', detail['class'], $event)">
	            	{{detail['class']?detail['class']['value']:""}}
	              </a>

            </div>
          </div>
          <div *ngIf="detail['status']">
            <div class="d-inline-block"><label>Status:</label></div>
            <div class="ml-3 d-inline-block">                
                    {{detail['status']}}

            </div>
          </div>
          <div *ngIf="detail['createdAt']">
            <div class="d-inline-block"><label>Created Time:</label></div>
            <div class="ml-3 d-inline-block">                  {{detail['createdAt']?detail['createdAt']['value']:""}}

            </div>
          </div>
      </div>

				</div>
			</div>
		</div>
	</div>


	</div>
	<div class="container">
		<div class="row justify-content-end">
		
			
		</div>
		<div class="d-flex justify-content-between">
			<div>
			</div>

			<div>
				<div class="total_counts">
					<span *ngIf="list.length > 2">Total: <b>{{total_count}}</b></span>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center mt-2">
				<div *ngIf="total_pages > 1">
					<ul class="pagination justify-content-center">
						<li class="page-item"
								[ngClass]="{'disabled': page<=1}">
						<a class="page-link" routerLink="." (click)="onPreviousPage()"
							aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
						</li>

						<li *ngIf="left_more" class="page-item"><a class="page-link">...</a></li>

						<li *ngFor="let p of pages;  let i = index" class="page-item"
								[ngClass]="{'active': p==page}">
							<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
						</li>

						<li *ngIf="right_more" class="page-item"><a class="page-link">...</a></li>
						<li class="page-item"
								[ngClass]="{'disabled': page>=total_pages}">
						<a class="page-link" routerLink="." (click)="onNextPage()"
							aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
						</li>
					</ul>
				</div>
		</div>

	</div>
	
</div>


<ng-template academics-ref-select></ng-template>
