<div class="detail" *ngIf="detail">
<div *ngIf="!disableActionButtions" class="action-buttons">
    <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
    <a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    
    
    
</div>

	<div class="card text-left transparent-border ">
		<div class="info-term-text">
			<div>                 
                    <div mra-richtext-show="termsDetailContent" [content]="detail['content']"></div>

			</div>
			<div>
				<input class="mr-3" *ngIf="detail['acknowledge']" type="checkbox" [(ngModel)]="termChecked" (change)="onTermChecked()"/>				
				<label>                
                    {{detail['acknowledge']}}

				</label>
			</div>
		</div>
	</div>



    <br/>
    <ul class="nav nav-tabs">
        
    </ul>
    <router-outlet></router-outlet>

</div>
