
<div class="detail" *ngIf="detail">
	<div *ngIf="!options['disableActionButtions']"><div *ngIf="!disableActionButtions" class="action-buttons my-3">
    <a routerLink="../../list"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    
    
    
    
</div>
</div>
	<div class="card text-left transparent-border ">
		<div class="grid-fields">

      <div class="card-body">
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Content:</label></div>
                <div class="ml-3">
                    <div libMddsRichtextShow="termsDetailContent" [content]="detail['content']"></div></div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Acknowledge:</label></div>
                <div class="ml-3">
                    {{detail['acknowledge']}}</div>
            </div>
          </div>
      </div>

		</div>
	</div>
	<div *ngIf="!options['disablePipeline']">
</div>
	<div *ngIf="!options['disableRefLink']">
    <br/>
    <ul class="nav nav-tabs">
        
    </ul>
    <router-outlet></router-outlet>
</div>
</div>
