<div class="detail" *ngIf="detail">
	<div class="action-buttons">
        <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
        <a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
		<a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
		<a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
		<a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
	</div>
	
	<div class="card text-left">
	  <div class="card-body">
	    <h4 class="card-title">{{ItemCamelName}} Detail
	    	<a class="float-right" style="font-size: 1rem;" routerLink="." (click)="onRefresh()"><i class="fa fa-sync-alt"></i></a>
	    </h4>    
		<div class="card-text">

          <div class="row">
      
			<div class="col-3"><label>Account</label></div>
			<div class="col-9">                
               	  <a routerLink="."  (click)="onDisplayRefClicked('account', detail['account'], $event)">
	            	{{detail['account']?detail['account']['value']:""}}
	              </a>
</div>

          </div>

          <div class="row">
      
			<div class="col-3"><label>Role</label></div>
			<div class="col-9">                
                    <div *ngIf="detail['role'] && detail['role']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['role']['selection']" let-idx="index">
                            <div class="badge-click badge badge-pill badge-secondary" 
                                (click)="onDisplayRefClicked('role', detail['role']['selection'][idx], $event)">
                                {{element.value}}
                            </div>
                        </ng-template>
                    </div>
</div>

          </div>
 
 
		</div>
	  </div>
	</div>

    <router-outlet></router-outlet>
</div>
