<div class="detail" *ngIf="detail">
	<div *ngIf="!options['disableActionButtions']"><div *ngIf="!disableActionButtions" class="action-buttons">
    <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
    <a routerLink="../../list"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    <a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
    <a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
    <a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
    <a routerLink="." class="btn btn-outline-primary" (click)="onArchive(detail['_id'], null, detail['archived'])">
        <ng-template [ngIf]="!detail['archived']">Archive</ng-template>
        <ng-template [ngIf]="detail['archived']">Unarchive</ng-template>
    </a>
</div>
</div>
	<div class="card transparent-border">
		<div class="post-head-picture" *ngIf="detail['signaturePicture']">
			
                    <lib-mdds-file-display [downloadUrl]="detail['signaturePicture']" [isLarge]="true" [aspectRatio]=""></lib-mdds-file-display>

		</div>
		<div class="card-body">
			<h3 class="card-title">
                    {{detail['title']}}
</h3>
			<h6 class="card-subtitle mb-2 text-muted">
				
                    {{detail['author']}}
 &nbsp;&nbsp;
				  {{detail['publishDate']?detail['publishDate']['value']:""}}

			</h6>

			<div class="card-text">
					
                    <div libMddsRichtextShow="articleDetailContent" [content]="detail['content']"></div>

			</div>
		</div>
	</div>




</div>
