

	<div class="gridview" *ngIf="isShowListView('grid')">
		<div class="grid-block" *ngFor="let detail of list;  let i = index">
			<div class="card text-left h-100 clickable-card "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="grid-fields pointer" (click)="onDetailLinkClicked(detail['_id'])">

      <div class="card-header grid-head">
        <div class="grid-head-picture mr-1">                
                    <file-display [downloadUrl]="detail['photo']" [isLarge]="false"></file-display>

        </div>
        <div class="ml-1 d-inline-block">
          <h5>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['firstName']}}

            </div>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['lastName']}}

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div>
            <div class="d-inline-block"><label>Courses:</label></div>
            <div class="ml-3 d-inline-block">                
               	  <a routerLink="."  (click)="onDisplayRefClicked('courses', detail['courses'], $event)">
	            	{{detail['courses']?detail['courses']['value']:""}}
	              </a>

            </div>
          </div>
          <div>
            <div class="d-inline-block"><label>Introduction:</label></div>
            <div class="ml-3 d-inline-block">                
                    {{detail['introduction']}}

            </div>
          </div>
      </div>

				</div>
			</div>
		</div>
	</div>
