<div>

	<div class="container search">
		<div class="row">
			<div class="col-9">



				<div class="text-center">
                    <span  class="pointer" (click)="toggleMoreSearch()">
                        <span class="refine-search-text">Refine Search &nbsp;</span>
                        <span>
                            <i *ngIf="!moreSearchOpened"  class="fas fa-plus-circle" title="More"></i>
                            <i *ngIf="moreSearchOpened" class="fas fa-minus-circle"  title="Less"></i>
                        </span>
                    </span>
				</div>
			    <div class="shadow" *ngIf="moreSearchOpened">
					<div class="card">
						<div class="card-body">
	    <div class="single-line-edit">
	      <div class="row">
	        <div class="col-3"><label for="maccountroleEditAccount">Account</label></div>
	        <div class="col-8">


		    <div class="input-group">
		        <input class="form-control rounded" id="maccountroleEditAccount" 
		             [ngClass]="{'pointer ref-badge': detail['account']['_id']}"
		             (focus)="detail['account']['_id']?onRefShow('account', 'select', detail['account']['_id']):onRefSelect('account')"
		        	  
		             [ngModel]="detail['account']['value']" name="maccountroleEditAccount"
		             #maccountroleEditAccount="ngModel"> 
			</div>

	      </div>
	      
	      <div class="col-1">
		    <div class="icon-clear" (click)="clearValueFromDetail('account')"
		        *ngIf="checkValueDefinedFromDetail('account')"
		        ><i class="fas fa-times-circle" title="Clear"></i></div>
	      </div>
	    </div>
      </div>
      
 
	    <div class="single-line-edit">
	      <div class="row">
	        <div class="col-3"><label for="maccountroleEditRole">Role</label></div>
	        <div class="col-8">



            <ng-template [ngIf]="detail['role'] && detail['role']['selection']">
                <div class="badge badge-pill badge-secondary" *ngFor="let element of detail['role']['selection']; let i = index;">
                    {{element.value}}
				    <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromArrayField('role', i)" title="Remove"></i>
				</div>
            </ng-template>
			<button type="button" class="btn btn-light ml-3" (click)="onRefSelect('role')">
				<i class="fas fa-plus" title="Add"></i>
			</button>
 

	      </div>
	      
	      <div class="col-1">
		    <div class="icon-clear" (click)="clearValueFromDetail('role')"
		        *ngIf="checkValueDefinedFromDetail('role')"
		        ><i class="fas fa-times-circle" title="Clear"></i></div>
	      </div>
	    </div>
      </div>
      
 

						  <div class="action-buttons" style="margin-top: 10px;">
								<button type="button" class="btn btn-outline-success" (click)="onSearchClear()">Reset</button>
								<button type="button" class="btn btn-success" (click)="searchList()">Search</button>
						  </div>
						</div>
					</div>
		        </div>
		        <div *ngIf="!moreSearchOpened" style="text-align: left;">
					<span class="badge badge-pill badge-info" *ngFor="let value of searchMoreDetail">
					    <a (click)="toggleMoreSearch()" class="pointer"> {{value[0]}}: {{value[1]}}</a>
					    <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromDetailAndSearchList(value[0])" title="Clear"></i>
					</span>
				</div>
		    
			
		    </div>
			<div class="col-3">
		        <div class="action-buttons">
					<a [routerLink]="['../new' ]" [skipLocationChange]="false" class="btn btn-outline-primary">Create</a>
					<a routerLink="." class="btn btn-outline-primary" (click)="onDeleteSelected()"
						[ngClass]="{'disabled': !isItemSelected()}">Delete</a>
				</div>
			</div>
		</div>


		<hr/>
		<div class="row">
			<div class="col-3">

				<input type="radio" name="view-filter" id="list-view" class="view-radio"
					(click)="setListViewFilter('list')" [checked]="isShowListView('list')">
				  <label for="list-view"><i class="fa fa-th-list"></i></label>

				<input type="radio" name="view-filter" id="grid-view" class="view-radio"
					(click)="setListViewFilter('grid')" [checked]="isShowListView('grid')">
					<label for="grid-view"><i class="fa fa-th"></i></label>

				<input type="radio" name="view-filter" id="table-view" class="view-radio"
					(click)="setListViewFilter('table')" [checked]="isShowListView('table')">
					<label for="table-view"><i class="fa fa-list-alt"></i></label>

			</div>
			<div class="col-6">
			  <div *ngIf="total_pages > 1">
				  <ul class="pagination justify-content-center">
				    <li class="page-item"
				            [ngClass]="{'disabled': page<=1}">
				      <a class="page-link" routerLink="." (click)="onPreviousPage()"
				         aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				    </li>

				    <li *ngIf="left_more" class="page-item"><a class="page-link">...</a></li>

				    <li *ngFor="let p of pages;  let i = index" class="page-item"
				    		[ngClass]="{'active': p==page}">
				    	<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
				    </li>

				    <li *ngIf="right_more" class="page-item"><a class="page-link">...</a></li>
				    <li class="page-item"
				            [ngClass]="{'disabled': page>=total_pages}">
				      <a class="page-link" routerLink="." (click)="onNextPage()"
				         aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Next</span>
				      </a>
				    </li>
				  </ul>
			  </div>
			</div>
			<div class="col-3">
				<div class="total_counts">
					Total: <b>{{total_count}}</b>
					<input type="checkbox" class="ml-3 mr-1" [(ngModel)]="checkAll" (change)="onCheckAllChange()">All
					<a class="ml-3" routerLink="." (click)="onRefresh()"><i class="fa fa-sync-alt"></i></a>
				</div>
			</div>			

		</div>
	</div>
	
	<div class="listview" *ngIf="isShowListView('list')">
		<div class="list-block" *ngFor="let detail of list;  let i = index">
			<hr *ngIf="i==0" class="list-diverder">
			<div class="list-card text-left clickable-card"
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="list-fields w-75 pointer" (click)="onDetailLinkClicked(detail['_id'])">

      <div class="list-body-fields ml-1 d-inline-block">
        <h5>
          <div class="mr-1 d-inline-block">
                            
               	  <a routerLink="."  (click)="onDisplayRefClicked('account', detail['account'], $event)">
	            	{{detail['account']?detail['account']['value']:""}}
	              </a>

          </div>
        </h5>
        <div class="mr-3 d-inline-block">
          <div class="d-inline-block"><label>Role:</label></div>
          <div class="ml-3 d-inline-block">                
                    <div *ngIf="detail['role'] && detail['role']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['role']['selection']" let-idx="index">
                            <div class="badge-click badge badge-pill badge-secondary" 
                                (click)="onDisplayRefClicked('role', detail['role']['selection'][idx], $event)">
                                {{element.value}}
                            </div>
                        </ng-template>
                    </div>

          </div>
        </div>
      </div>

				</div>
				
				<div class="card-action-icons d-inline-block w-25">
					<a [routerLink]="['../edit', detail['_id'] ]" [skipLocationChange]="false"><i class="fas fa-edit" title="Edit"></i></a>
					<a routerLink="." (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a>
					<input type="checkbox" [(ngModel)]="checkedItem[i]"/>
				</div>
			</div>
			<hr class="list-diverder">
		</div>
	</div>

	<div class="gridview" *ngIf="isShowListView('grid')">
		<div class="grid-block" *ngFor="let detail of list;  let i = index">
			<div class="card text-left h-100 clickable-card"
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="grid-fields pointer" (click)="onDetailLinkClicked(detail['_id'])">

      <div class="card-header grid-head">
        <div class="ml-1 d-inline-block">
          <h5>
            <div class="mr-1 d-inline-block">
                              
               	  <a routerLink="."  (click)="onDisplayRefClicked('account', detail['account'], $event)">
	            	{{detail['account']?detail['account']['value']:""}}
	              </a>

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div>
            <div class="d-inline-block"><label>Role:</label></div>
            <div class="ml-3 d-inline-block">                
                    <div *ngIf="detail['role'] && detail['role']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['role']['selection']" let-idx="index">
                            <div class="badge-click badge badge-pill badge-secondary" 
                                (click)="onDisplayRefClicked('role', detail['role']['selection'][idx], $event)">
                                {{element.value}}
                            </div>
                        </ng-template>
                    </div>

            </div>
          </div>
      </div>

				</div>
				
				<div class="card-action-icons">
					<a [routerLink]="['../edit', detail['_id'] ]" [skipLocationChange]="false"><i class="fas fa-edit" title="Edit"></i></a>
					<a routerLink="." (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a>
					<input type="checkbox" [(ngModel)]="checkedItem[i]"/>
				</div>
			</div>
		</div>
	</div>


	<table *ngIf="isShowListView('table')" class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>

		        <th scope="col">Account</th>
		        <th scope="col">Role</th>
		        <th scope="col" style="width:7.8rem;"></th>
	    	</tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index" [ngClass]="{'clicked-row': clickedId==detail['_id']}">
	            <td scope="row" (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	{{(page-1)*per_page+i+1}}
	            </td>

	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                
               	  <a routerLink="."  (click)="onDisplayRefClicked('account', detail['account'], $event)">
	            	{{detail['account']?detail['account']['value']:""}}
	              </a>

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                
                    <div *ngIf="detail['role'] && detail['role']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['role']['selection']" let-idx="index">
                            <div class="badge-click badge badge-pill badge-secondary" 
                                (click)="onDisplayRefClicked('role', detail['role']['selection'][idx], $event)">
                                {{element.value}}
                            </div>
                        </ng-template>
                    </div>

	            </td>
	            
	            <td>
	            	<a [routerLink]="['../edit', detail['_id'] ]" [skipLocationChange]="false"><i class="fas fa-edit" title="Edit"></i></a>
	            	<a routerLink="." (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a>
					<input type="checkbox" [(ngModel)]="checkedItem[i]"/>
	            </td>
	        </tr>
	    </tbody>
	</table>



	<div class="container">
		<div class="row">			<div class="col-3">
			</div>
			<div class="col-6">
			  <div *ngIf="total_pages > 1">
				  <ul class="pagination justify-content-center">
				    <li class="page-item"
				            [ngClass]="{'disabled': page<=1}">
				      <a class="page-link" routerLink="." (click)="onPreviousPage()"
				         aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				    </li>

				    <li *ngIf="left_more" class="page-item"><a class="page-link">...</a></li>

				    <li *ngFor="let p of pages;  let i = index" class="page-item"
				    		[ngClass]="{'active': p==page}">
				    	<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
				    </li>

				    <li *ngIf="right_more" class="page-item"><a class="page-link">...</a></li>
				    <li class="page-item"
				            [ngClass]="{'disabled': page>=total_pages}">
				      <a class="page-link" routerLink="." (click)="onNextPage()"
				         aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Next</span>
				      </a>
				    </li>
				  </ul>
			  </div>
			</div>
			<div class="col-3">
				<div class="total_counts">
					Total: <b>{{total_count}}</b>
				</div>
			</div>			

		</div>
	</div>
	
</div>


<ng-template roles-ref-select></ng-template>
