<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons">
        <!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title" *ngIf="!embeddedView">{{action}} Class</h4>
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('title')">

        <fieldset class="form-group">
          <label for="EditTitle">Title</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTitle" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['title']" name="EditTitle"
                    #EditTitle="ngModel">
            <div *ngIf="detail['title']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('title')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditTitle.valid || EditTitle.pristine || EditTitle.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditTitle.errors && EditTitle.errors.required">
              Title is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('course')">

        <fieldset class="form-group">
          <label for="EditCourse">Program </label>
          
          
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('course')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditCourse" 
                  [ngClass]="{'pointer ref-badge': detail['course']['_id']}"
                  (focus)="onRefSelect('course')"
                    required
                 
                  [ngModel]="detail['course']['value']" name="EditCourse"
                  #EditCourse="ngModel"> 
              <div *ngIf="detail['course']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('course')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditCourse.valid || EditCourse.pristine"
               class="alert alert-danger">

            <div *ngIf="EditCourse.errors && EditCourse.errors.required && !(detail['course']?.date)">
              Course is required.
              </div>
 
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('description')">

        <fieldset class="form-group">
          <label for="EditDescription">Description</label>
          
          
          <div mra-richtext-select="EditDescription" [content]="detail['description']"></div>
          <div class="action-buttons" style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-success" (click)="onEdtiorPreview('EditDescription')">Preview</button>
          </div>
        
          <div [hidden]="EditDescription.valid"
           class="alert alert-danger">

            <div *ngIf="EditDescription.errors && EditDescription.errors.required">
              Description is required.
              </div>
 

        
          </div>
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('teacher')">

        <fieldset class="form-group">
          <label for="EditTeacher">Instructor </label>
          
          
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('teacher')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditTeacher" 
                  [ngClass]="{'pointer ref-badge': detail['teacher']['_id']}"
                  (focus)="onRefSelect('teacher')"
                    required
                 
                  [ngModel]="detail['teacher']['value']" name="EditTeacher"
                  #EditTeacher="ngModel"> 
              <div *ngIf="detail['teacher']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('teacher')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditTeacher.valid || EditTeacher.pristine"
               class="alert alert-danger">

            <div *ngIf="EditTeacher.errors && EditTeacher.errors.required && !(detail['teacher']?.date)">
              Teacher is required.
              </div>
 
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('price')">

        <fieldset class="form-group">
          <label for="EditPrice">Price</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditPrice" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['price']" name="EditPrice"
                    #EditPrice="ngModel">
            <div *ngIf="detail['price']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('price')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditPrice.valid || EditPrice.pristine || EditPrice.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditPrice.errors && EditPrice.errors.required">
              Price is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('season')">

        <fieldset class="form-group">
          <label for="EditSeason">Season</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditSeason" 
                    
                    
                    
                 
                    [(ngModel)]="detail['season']" name="EditSeason"
                    #EditSeason="ngModel">
            <div *ngIf="detail['season']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('season')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditSeason.valid || EditSeason.pristine || EditSeason.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('startTime')">

        <fieldset class="form-group">
          <label for="EditStartTime">Start Time </label> <span> ({{dateFormat}})</span>
          
          
          <div class="input-group">
            <input class="form-control" id="EditStartTime" placeholder="{{dateFormat}}"
                    required
                 
                  [(ngModel)]="detail['startTime']['date']" name="EditStartTime"
                  ngbDatepicker [minDate]="minDate" #EditStartTimeDate="ngbDatepicker" #EditStartTime="ngModel">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="EditStartTimeDate.toggle()" type="button">
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div><!-- input group -->         
          <div [hidden]="EditStartTime.valid || EditStartTime.pristine || (EditStartTime.errors && EditStartTime.errors.ngbDate)"
               class="alert alert-danger">

            <div *ngIf="EditStartTime.errors && EditStartTime.errors.required && !(detail['startTime']?.date)">
              StartTime is required.
              </div>
 
          </div>
          <div [hidden]="EditStartTime.valid || EditStartTime.untouched || !(EditStartTime.errors && EditStartTime.errors.ngbDate)"
           class="alert alert-danger">
            <div *ngIf="EditStartTime.errors && EditStartTime.errors.ngbDate">
              StartTime must be in {{dateFormat}} format.
              </div>
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('endTime')">

        <fieldset class="form-group">
          <label for="EditEndTime">End Time </label> <span> ({{dateFormat}})</span>
          
          
          <div class="input-group">
            <input class="form-control" id="EditEndTime" placeholder="{{dateFormat}}"
                    required
                 
                  [(ngModel)]="detail['endTime']['date']" name="EditEndTime"
                  ngbDatepicker [minDate]="minDate" #EditEndTimeDate="ngbDatepicker" #EditEndTime="ngModel">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="EditEndTimeDate.toggle()" type="button">
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div><!-- input group -->         
          <div [hidden]="EditEndTime.valid || EditEndTime.pristine || (EditEndTime.errors && EditEndTime.errors.ngbDate)"
               class="alert alert-danger">

            <div *ngIf="EditEndTime.errors && EditEndTime.errors.required && !(detail['endTime']?.date)">
              EndTime is required.
              </div>
 
          </div>
          <div [hidden]="EditEndTime.valid || EditEndTime.untouched || !(EditEndTime.errors && EditEndTime.errors.ngbDate)"
           class="alert alert-danger">
            <div *ngIf="EditEndTime.errors && EditEndTime.errors.ngbDate">
              EndTime must be in {{dateFormat}} format.
              </div>
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('duration')">

        <fieldset class="form-group">
          <label for="EditDuration">Duration</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditDuration" 
                    
                    
                    
                 
                    [(ngModel)]="detail['duration']" name="EditDuration"
                    #EditDuration="ngModel">
            <div *ngIf="detail['duration']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('duration')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditDuration.valid || EditDuration.pristine || EditDuration.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('dayOfWeek')">

          <fieldset class="form-group">
          <label for="EditDayOfWeek">Day of Week</label>
          
          

            <div class="form-check"
                ngModelGroup="EditDayOfWeek"
                
                #EditDayOfWeek="ngModelGroup" 
            >

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekMon" 
              class="form-check-input"
              id="EditDayOfWeekMon"
              [(ngModel)]="detail['dayOfWeek']['selection']['Mon']"
              #EditDayOfWeekMon="ngModel">
            <label class="form-check-label">Mon</label>
          </div>

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekTue" 
              class="form-check-input"
              id="EditDayOfWeekTue"
              [(ngModel)]="detail['dayOfWeek']['selection']['Tue']"
              #EditDayOfWeekTue="ngModel">
            <label class="form-check-label">Tue</label>
          </div>

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekWed" 
              class="form-check-input"
              id="EditDayOfWeekWed"
              [(ngModel)]="detail['dayOfWeek']['selection']['Wed']"
              #EditDayOfWeekWed="ngModel">
            <label class="form-check-label">Wed</label>
          </div>

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekThu" 
              class="form-check-input"
              id="EditDayOfWeekThu"
              [(ngModel)]="detail['dayOfWeek']['selection']['Thu']"
              #EditDayOfWeekThu="ngModel">
            <label class="form-check-label">Thu</label>
          </div>

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekFri" 
              class="form-check-input"
              id="EditDayOfWeekFri"
              [(ngModel)]="detail['dayOfWeek']['selection']['Fri']"
              #EditDayOfWeekFri="ngModel">
            <label class="form-check-label">Fri</label>
          </div>

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekSat" 
              class="form-check-input"
              id="EditDayOfWeekSat"
              [(ngModel)]="detail['dayOfWeek']['selection']['Sat']"
              #EditDayOfWeekSat="ngModel">
            <label class="form-check-label">Sat</label>
          </div>

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekSun" 
              class="form-check-input"
              id="EditDayOfWeekSun"
              [(ngModel)]="detail['dayOfWeek']['selection']['Sun']"
              #EditDayOfWeekSun="ngModel">
            <label class="form-check-label">Sun</label>
          </div>

          <span *ngIf="multiselectionSelected('dayOfWeek')" 
              class="icon-clear" (click)="clearValueFromDetail('dayOfWeek')">
              <i class="fas fa-times-circle" title="Clear"></i></span>
        </div>

          <div [hidden]="EditDayOfWeek.valid || EditDayOfWeek.pristine"
           class="alert alert-danger">

          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('timeSlot')">

        <fieldset class="form-group">
          <label for="EditTimeSlot">Time Slot</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTimeSlot" 
                    
                    
                    
                 
                    [(ngModel)]="detail['timeSlot']" name="EditTimeSlot"
                    #EditTimeSlot="ngModel">
            <div *ngIf="detail['timeSlot']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('timeSlot')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditTimeSlot.valid || EditTimeSlot.pristine || EditTimeSlot.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('hot')">

        <fieldset class="form-group">
          <label for="EditHot">Hot</label>
          
          
          <div class="form-check"

              [ngClass]="{'ng-valid': true} "
            >
            <div class="form-check-inline">
              <input type="radio" name="EditHot" 
                class="form-check-input"
                id="EditHotYes" [value]="true" 
                
                 
                [(ngModel)]="detail['hot']"
                #EditHot="ngModel">
              <label class="form-check-label">Yes</label>
            </div>
            <div class="form-check-inline">
              <input type="radio" name="EditHot" 
                class="form-check-input"
                id="EditHotNo" [value]="false"
                
                 
                [(ngModel)]="detail['hot']"
                #EditHot="ngModel">
              <label class="form-check-label">No</label>
            </div>
            <div *ngIf="detail['hot'] == true || detail['hot'] == false" 
              class="form-check-inline" (click)="clearValueFromDetail('hot')">
              <i class="fas fa-times-circle" title="Clear"></i>
            </div> 
          </div>
          <div [hidden]="EditHot.valid || EditHot.pristine"
           class="alert alert-danger">
 
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('enrollTerm')">

        <fieldset class="form-group">
          <label for="EditEnrollTerm">Enroll Term </label>
          
          
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('enrollTerm')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditEnrollTerm" 
                  [ngClass]="{'pointer ref-badge': detail['enrollTerm']['_id']}"
                  (focus)="onRefSelect('enrollTerm')"
                    required
                 
                  [ngModel]="detail['enrollTerm']['value']" name="EditEnrollTerm"
                  #EditEnrollTerm="ngModel"> 
              <div *ngIf="detail['enrollTerm']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('enrollTerm')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditEnrollTerm.valid || EditEnrollTerm.pristine"
               class="alert alert-danger">

            <div *ngIf="EditEnrollTerm.errors && EditEnrollTerm.errors.required && !(detail['enrollTerm']?.date)">
              EnrollTerm is required.
              </div>
 
          </div>
        </fieldset>
    
</div>

         </div>	
	     <div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('title')">

        <fieldset class="form-group">
          <label for="EditTitle">Title</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTitle" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['title']" name="EditTitle"
                    #EditTitle="ngModel">
            <div *ngIf="detail['title']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('title')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditTitle.valid || EditTitle.pristine || EditTitle.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditTitle.errors && EditTitle.errors.required">
              Title is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('course')">

        <fieldset class="form-group">
          <label for="EditCourse">Program </label>
          
          
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('course')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditCourse" 
                  [ngClass]="{'pointer ref-badge': detail['course']['_id']}"
                  (focus)="onRefSelect('course')"
                    required
                 
                  [ngModel]="detail['course']['value']" name="EditCourse"
                  #EditCourse="ngModel"> 
              <div *ngIf="detail['course']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('course')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditCourse.valid || EditCourse.pristine"
               class="alert alert-danger">

            <div *ngIf="EditCourse.errors && EditCourse.errors.required && !(detail['course']?.date)">
              Course is required.
              </div>
 
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('description')">

        <fieldset class="form-group">
          <label for="EditDescription">Description</label>
          
          
          <div mra-richtext-select="EditDescription" [content]="detail['description']"></div>
          <div class="action-buttons" style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-success" (click)="onEdtiorPreview('EditDescription')">Preview</button>
          </div>
        
          <div [hidden]="EditDescription.valid"
           class="alert alert-danger">

            <div *ngIf="EditDescription.errors && EditDescription.errors.required">
              Description is required.
              </div>
 

        
          </div>
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('teacher')">

        <fieldset class="form-group">
          <label for="EditTeacher">Instructor </label>
          
          
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('teacher')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditTeacher" 
                  [ngClass]="{'pointer ref-badge': detail['teacher']['_id']}"
                  (focus)="onRefSelect('teacher')"
                    required
                 
                  [ngModel]="detail['teacher']['value']" name="EditTeacher"
                  #EditTeacher="ngModel"> 
              <div *ngIf="detail['teacher']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('teacher')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditTeacher.valid || EditTeacher.pristine"
               class="alert alert-danger">

            <div *ngIf="EditTeacher.errors && EditTeacher.errors.required && !(detail['teacher']?.date)">
              Teacher is required.
              </div>
 
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('price')">

        <fieldset class="form-group">
          <label for="EditPrice">Price</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditPrice" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['price']" name="EditPrice"
                    #EditPrice="ngModel">
            <div *ngIf="detail['price']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('price')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditPrice.valid || EditPrice.pristine || EditPrice.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditPrice.errors && EditPrice.errors.required">
              Price is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('season')">

        <fieldset class="form-group">
          <label for="EditSeason">Season</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditSeason" 
                    
                    
                    
                 
                    [(ngModel)]="detail['season']" name="EditSeason"
                    #EditSeason="ngModel">
            <div *ngIf="detail['season']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('season')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditSeason.valid || EditSeason.pristine || EditSeason.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('startTime')">

        <fieldset class="form-group">
          <label for="EditStartTime">Start Time </label> <span> ({{dateFormat}})</span>
          
          
          <div class="input-group">
            <input class="form-control" id="EditStartTime" placeholder="{{dateFormat}}"
                    required
                 
                  [(ngModel)]="detail['startTime']['date']" name="EditStartTime"
                  ngbDatepicker [minDate]="minDate" #EditStartTimeDate="ngbDatepicker" #EditStartTime="ngModel">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="EditStartTimeDate.toggle()" type="button">
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div><!-- input group -->         
          <div [hidden]="EditStartTime.valid || EditStartTime.pristine || (EditStartTime.errors && EditStartTime.errors.ngbDate)"
               class="alert alert-danger">

            <div *ngIf="EditStartTime.errors && EditStartTime.errors.required && !(detail['startTime']?.date)">
              StartTime is required.
              </div>
 
          </div>
          <div [hidden]="EditStartTime.valid || EditStartTime.untouched || !(EditStartTime.errors && EditStartTime.errors.ngbDate)"
           class="alert alert-danger">
            <div *ngIf="EditStartTime.errors && EditStartTime.errors.ngbDate">
              StartTime must be in {{dateFormat}} format.
              </div>
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('endTime')">

        <fieldset class="form-group">
          <label for="EditEndTime">End Time </label> <span> ({{dateFormat}})</span>
          
          
          <div class="input-group">
            <input class="form-control" id="EditEndTime" placeholder="{{dateFormat}}"
                    required
                 
                  [(ngModel)]="detail['endTime']['date']" name="EditEndTime"
                  ngbDatepicker [minDate]="minDate" #EditEndTimeDate="ngbDatepicker" #EditEndTime="ngModel">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="EditEndTimeDate.toggle()" type="button">
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div><!-- input group -->         
          <div [hidden]="EditEndTime.valid || EditEndTime.pristine || (EditEndTime.errors && EditEndTime.errors.ngbDate)"
               class="alert alert-danger">

            <div *ngIf="EditEndTime.errors && EditEndTime.errors.required && !(detail['endTime']?.date)">
              EndTime is required.
              </div>
 
          </div>
          <div [hidden]="EditEndTime.valid || EditEndTime.untouched || !(EditEndTime.errors && EditEndTime.errors.ngbDate)"
           class="alert alert-danger">
            <div *ngIf="EditEndTime.errors && EditEndTime.errors.ngbDate">
              EndTime must be in {{dateFormat}} format.
              </div>
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('duration')">

        <fieldset class="form-group">
          <label for="EditDuration">Duration</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditDuration" 
                    
                    
                    
                 
                    [(ngModel)]="detail['duration']" name="EditDuration"
                    #EditDuration="ngModel">
            <div *ngIf="detail['duration']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('duration')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditDuration.valid || EditDuration.pristine || EditDuration.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('dayOfWeek')">

          <fieldset class="form-group">
          <label for="EditDayOfWeek">Day of Week</label>
          
          

            <div class="form-check"
                ngModelGroup="EditDayOfWeek"
                
                #EditDayOfWeek="ngModelGroup" 
            >

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekMon" 
              class="form-check-input"
              id="EditDayOfWeekMon"
              [(ngModel)]="detail['dayOfWeek']['selection']['Mon']"
              #EditDayOfWeekMon="ngModel">
            <label class="form-check-label">Mon</label>
          </div>

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekTue" 
              class="form-check-input"
              id="EditDayOfWeekTue"
              [(ngModel)]="detail['dayOfWeek']['selection']['Tue']"
              #EditDayOfWeekTue="ngModel">
            <label class="form-check-label">Tue</label>
          </div>

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekWed" 
              class="form-check-input"
              id="EditDayOfWeekWed"
              [(ngModel)]="detail['dayOfWeek']['selection']['Wed']"
              #EditDayOfWeekWed="ngModel">
            <label class="form-check-label">Wed</label>
          </div>

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekThu" 
              class="form-check-input"
              id="EditDayOfWeekThu"
              [(ngModel)]="detail['dayOfWeek']['selection']['Thu']"
              #EditDayOfWeekThu="ngModel">
            <label class="form-check-label">Thu</label>
          </div>

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekFri" 
              class="form-check-input"
              id="EditDayOfWeekFri"
              [(ngModel)]="detail['dayOfWeek']['selection']['Fri']"
              #EditDayOfWeekFri="ngModel">
            <label class="form-check-label">Fri</label>
          </div>

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekSat" 
              class="form-check-input"
              id="EditDayOfWeekSat"
              [(ngModel)]="detail['dayOfWeek']['selection']['Sat']"
              #EditDayOfWeekSat="ngModel">
            <label class="form-check-label">Sat</label>
          </div>

            <div class="form-check-inline">
            <input type="checkbox" name="EditDayOfWeekSun" 
              class="form-check-input"
              id="EditDayOfWeekSun"
              [(ngModel)]="detail['dayOfWeek']['selection']['Sun']"
              #EditDayOfWeekSun="ngModel">
            <label class="form-check-label">Sun</label>
          </div>

          <span *ngIf="multiselectionSelected('dayOfWeek')" 
              class="icon-clear" (click)="clearValueFromDetail('dayOfWeek')">
              <i class="fas fa-times-circle" title="Clear"></i></span>
        </div>

          <div [hidden]="EditDayOfWeek.valid || EditDayOfWeek.pristine"
           class="alert alert-danger">

          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('timeSlot')">

        <fieldset class="form-group">
          <label for="EditTimeSlot">Time Slot</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTimeSlot" 
                    
                    
                    
                 
                    [(ngModel)]="detail['timeSlot']" name="EditTimeSlot"
                    #EditTimeSlot="ngModel">
            <div *ngIf="detail['timeSlot']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('timeSlot')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditTimeSlot.valid || EditTimeSlot.pristine || EditTimeSlot.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('hot')">

        <fieldset class="form-group">
          <label for="EditHot">Hot</label>
          
          
          <div class="form-check"

              [ngClass]="{'ng-valid': true} "
            >
            <div class="form-check-inline">
              <input type="radio" name="EditHot" 
                class="form-check-input"
                id="EditHotYes" [value]="true" 
                
                 
                [(ngModel)]="detail['hot']"
                #EditHot="ngModel">
              <label class="form-check-label">Yes</label>
            </div>
            <div class="form-check-inline">
              <input type="radio" name="EditHot" 
                class="form-check-input"
                id="EditHotNo" [value]="false"
                
                 
                [(ngModel)]="detail['hot']"
                #EditHot="ngModel">
              <label class="form-check-label">No</label>
            </div>
            <div *ngIf="detail['hot'] == true || detail['hot'] == false" 
              class="form-check-inline" (click)="clearValueFromDetail('hot')">
              <i class="fas fa-times-circle" title="Clear"></i>
            </div> 
          </div>
          <div [hidden]="EditHot.valid || EditHot.pristine"
           class="alert alert-danger">
 
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('enrollTerm')">

        <fieldset class="form-group">
          <label for="EditEnrollTerm">Enroll Term </label>
          
          
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('enrollTerm')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditEnrollTerm" 
                  [ngClass]="{'pointer ref-badge': detail['enrollTerm']['_id']}"
                  (focus)="onRefSelect('enrollTerm')"
                    required
                 
                  [ngModel]="detail['enrollTerm']['value']" name="EditEnrollTerm"
                  #EditEnrollTerm="ngModel"> 
              <div *ngIf="detail['enrollTerm']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('enrollTerm')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditEnrollTerm.valid || EditEnrollTerm.pristine"
               class="alert alert-danger">

            <div *ngIf="EditEnrollTerm.errors && EditEnrollTerm.errors.required && !(detail['enrollTerm']?.date)">
              EnrollTerm is required.
              </div>
 
          </div>
        </fieldset>
    
</div>

         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			type="button" (click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

<ng-template academics-ref-select></ng-template>
