
<div *ngIf="detail">
	<div class="card text-left">
	  <div class="card-body">
		<div class="card-text">

      <div class="card-body">
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Description:</label></div>
                <div class="ml-3">
                    <div libMddsRichtextShow="classDetailDescription" [content]="detail['description']"></div></div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Program:</label></div>
                <div class="ml-3">
               	  <a routerLink="."  (click)="onDisplayRefClicked('course', detail['course'], $event)">
	            	{{detail['course']?detail['course']['valueMedium']:""}}
	              </a></div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Instructor:</label></div>
                <div class="ml-3">
               	  <a routerLink="."  (click)="onDisplayRefClicked('teacher', detail['teacher'], $event)">
	            	{{detail['teacher']?detail['teacher']['valueMedium']:""}}
	              </a></div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Price:</label></div>
                <div class="ml-3">
                    {{detail['price']}}</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Season:</label></div>
                <div class="ml-3">
                    {{detail['season']}}</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 160px;">
                <div><label>Duration:</label></div>
                <div class="ml-3">
                    {{detail['duration']}}</div>
            </div>
          </div>
      </div>

		</div>
	  </div>
	</div>
</div>
