<div class="detail" *ngIf="detail">
	<div class="action-buttons">
        <a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>
		<a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
		<a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
		<a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
	</div>
	
	<div class="card text-left">
	  <div class="card-body">
	    <h4 class="card-title">{{ItemCamelName}} Detail</h4>    
		<div class="card-text">

			<label><b>title:</b></label>
			<span>  {{detail['title']}}

			</span><br>
			<label><b>description:</b></label>
			<span>  {{detail['description']}}

			</span><br>
		</div>
	  </div>
	</div>

	<br/>
	<hr/>	
	
	<ul class="nav nav-tabs">
	  
	  <li class="nav-item">
	    <a [routerLink]="['./teacher/list']"
	        class="nav-link" routerLinkActive="active">Teacher</a>
	  </li>
	  <li class="nav-item">
	    <a [routerLink]="['./courseinstance/list']"
	        class="nav-link" routerLinkActive="active">CourseInstance</a>
	  </li>
    </ul>
    <router-outlet></router-outlet>
</div>
