<div class="container">
  <div class="row mt-5">
	  	<div class="offset-md-2 col-md-4">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
		  <a routerLink="/publicinfo" class="card-link"></a>
		  <div class="card-header">Public</div>
		  <div class="card-body" style="height: 6rem;">
		    <p class="card-text">Public information visible to visitors.</p>
		  </div>
		</div>
    </div>	

  	<div class="col-md-4">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
		  <a routerLink="/academics" class="card-link"></a>
		  <div class="card-header">Academics</div>
		  <div class="card-body" style="height: 6rem;">
		    <p class="card-text">Teachers, Students, Courses, Classes</p>
		  </div>
		</div>
    </div>	
  </div>
  
  <div class="row mt-5">
  	<div class="offset-md-2 col-md-4">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
		  <a routerLink="/users" class="card-link"></a>
		  <div class="card-header">Users</div>
		  <div class="card-body" style="height: 6rem;">
		    <p class="card-text">User accounts and visits.</p>
		  </div>
		</div>
    </div>	
  	<div class="col-md-4">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
		  <a routerLink="/roles" class="card-link"></a>
		  <div class="card-header">Administrators</div>
		  <div class="card-body" style="height: 6rem;">
		    <p class="card-text">Administrator accounts, roles, and permissions.</p>
		  </div>
		</div>
    </div>	
  </div>
</div>
