<div class="select-model show" (keyup.esc)="uiOnEscapeKey()" tabindex="0" #ManageModal>
  <div class="select-model-content">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Selected {{ItemCamelName}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="uiCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<!--  model body starts -->



<div class="detail" *ngIf="detail">
	<div class="action-buttons">
        <a routerLink="." (click)="detailSelBack()"><i class="fas fa-angle-double-left" title="Back to list">&nbsp; {{ItemCamelName}} List</i></a>
		<a routerLink="." class="btn btn-outline-primary" (click)="detailSelSelected()">Select</a>
	</div>
	
	<div class="card text-left">
	  <div class="card-body">
	    <h4 class="card-title">{{ItemCamelName}} Detail</h4>    
		<div class="card-text">

			<label><b>title:</b></label>
			<span>  {{detail['title']}}

			</span><br>
			<label><b>course:</b></label>
			<span>  
	            	    {{detail['course']?detail['course']['value']:""}} 

			</span><br>
			<label><b>description:</b></label>
			<span>  {{detail['description']}}

			</span><br>
			<label><b>teacher:</b></label>
			<span>  
	            	    {{detail['teacher']?detail['teacher']['value']:""}} 

			</span><br>
			<label><b>price:</b></label>
			<span>  {{detail['price']}}

			</span><br>
			<label><b>startTime:</b></label>
			<span>  {{detail['startTime']?detail['startTime']['value']:""}}

			</span><br>
			<label><b>endTime:</b></label>
			<span>  {{detail['endTime']?detail['endTime']['value']:""}}

			</span><br>
			<label><b>dayOfWeek:</b></label>
			<span>
                    <span class="badge badge-pill badge-secondary" *ngFor="let element of enums['dayOfWeek']">
                         <div *ngIf="detail['dayOfWeek'] && detail['dayOfWeek']['selection'][element]">{{element}}</div>
                    </span>

			</span><br>
		</div>
	  </div>
	</div>
</div>



<!--  model body ends -->

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div> 
