<div class="detail" *ngIf="detail">
	<div class="action-buttons">
        <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
        <a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><span>&nbsp;&nbsp;{{ItemCamelName}} List</span></a>
		<a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
		<a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
		<a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
	</div>
	
	<div class="card text-left">
	  <div class="card-body">
	    <h4 class="card-title">{{ItemCamelName}} Detail</h4>    
		<div class="card-text">

          <div class="row">
      
			<div class="col-3"><label>Title</label></div>
			<div class="col-9">  {{detail['title']}}
</div>

          </div>

          <div class="row">
      
			<div class="col-3"><label>Description</label></div>
			<div class="col-9">  {{detail['description']}}
</div>

          </div>

          <div class="row">
      
			<div class="col-3"><label>Course</label></div>
			<div class="col-3">  <a routerLink="."  (click)="onDisplayRefClicked('course', detail['course'], $event)">
	            	    {{detail['course']?detail['course']['value']:""}} </a>
</div>

			<div class="col-3"><label>Price</label></div>
			<div class="col-3">  {{detail['price']}}
</div>

          </div>

          <div class="row">
      
			<div class="col-3"><label>Teacher</label></div>
			<div class="col-9">  <a routerLink="."  (click)="onDisplayRefClicked('teacher', detail['teacher'], $event)">
	            	    {{detail['teacher']?detail['teacher']['value']:""}} </a>
</div>

          </div>

          <div class="row">
      
			<div class="col-3"><label>Start Time</label></div>
			<div class="col-3">  {{detail['startTime']?detail['startTime']['value']:""}}
</div>

			<div class="col-3"><label>End Time</label></div>
			<div class="col-3">  {{detail['endTime']?detail['endTime']['value']:""}}
</div>

          </div>

          <div class="row">
      
			<div class="col-3"><label>Day of Week</label></div>
			<div class="col-9">
                    <span class="badge badge-pill badge-secondary" *ngFor="let element of enums['dayOfWeek']">
                         <div *ngIf="detail['dayOfWeek'] && detail['dayOfWeek']['selection'][element]">{{element}}</div>
                    </span>
</div>

          </div>

		</div>
	  </div>
	</div>

	<br/>
	
	<ul class="nav nav-tabs">
	  
	  <li class="nav-item">
	    <a [routerLink]="['./studentclass/list']"
	        class="nav-link" routerLinkActive="active">StudentClass</a>
	  </li>
    </ul>
    <router-outlet></router-outlet>
</div>
