<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons">
        <!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title" *ngIf="!embeddedView">{{action}} FAQ</h4>
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('question')">

        <fieldset class="form-group">
          <label for="EditQuestion">Question</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditQuestion" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['question']" name="EditQuestion"
                    #EditQuestion="ngModel">
            <div *ngIf="detail['question']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('question')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditQuestion.valid || EditQuestion.pristine || EditQuestion.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditQuestion.errors && EditQuestion.errors.required">
              Question is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('answer')">

        <fieldset class="form-group">
          <label for="EditAnswer">Answer</label>
          
          
          <div libMddsRichtext="EditAnswer" [content]="detail['answer']"></div>
          <div class="action-buttons" style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-success" (click)="onEdtiorPreview('EditAnswer')">Preview</button>
          </div>
        
          <div [hidden]="EditAnswer.valid"
           class="alert alert-danger">

            <div *ngIf="EditAnswer.errors && EditAnswer.errors.required">
              Answer is required.
              </div>
 

        
          </div>
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('order')">

        <fieldset class="form-group">
          <label for="EditOrder">Order</label>
          
          
          <input type="number" class="form-control" id="EditOrder" 
                  
                  
                  required
               
                  [(ngModel)]="detail['order']" name="EditOrder"
                  #EditOrder="ngModel">
          <div [hidden]="EditOrder.valid || EditOrder.pristine || EditOrder.errors.libMddsMinNumber"
           class="alert alert-danger">

            <div *ngIf="EditOrder.errors && EditOrder.errors.required">
              Order is required.
              </div>
 

          </div>

        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('enable')">

        <fieldset class="form-group">
          <label for="EditEnable">Enable</label>
          
          
          <div class="form-check"

              [ngClass]="{'ng-valid': detail['enable'] == true || detail['enable'] == false,
                          'ng-invalid': detail['enable'] != true && detail['enable'] != false}"
            
            >
            <div class="form-check-inline">
              <input type="radio" name="EditEnable" 
                class="form-check-input"
                id="EditEnableYes" [value]="true" 
                required
                 
                [(ngModel)]="detail['enable']"
                #EditEnable="ngModel">
              <label class="form-check-label">Yes</label>
            </div>
            <div class="form-check-inline">
              <input type="radio" name="EditEnable" 
                class="form-check-input"
                id="EditEnableNo" [value]="false"
                required
                 
                [(ngModel)]="detail['enable']"
                #EditEnable="ngModel">
              <label class="form-check-label">No</label>
            </div>
          </div>
          <div [hidden]="EditEnable.valid || EditEnable.pristine"
           class="alert alert-danger">

            <div *ngIf="EditEnable.errors && EditEnable.errors.required">
              Enable is required.
            </div> 
          </div>
        </fieldset>
    
</div>

         </div>	
	     <div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('question')">

        <fieldset class="form-group">
          <label for="EditQuestion">Question</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditQuestion" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['question']" name="EditQuestion"
                    #EditQuestion="ngModel">
            <div *ngIf="detail['question']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('question')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditQuestion.valid || EditQuestion.pristine || EditQuestion.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditQuestion.errors && EditQuestion.errors.required">
              Question is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('answer')">

        <fieldset class="form-group">
          <label for="EditAnswer">Answer</label>
          
          
          <div libMddsRichtext="EditAnswer" [content]="detail['answer']"></div>
          <div class="action-buttons" style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-success" (click)="onEdtiorPreview('EditAnswer')">Preview</button>
          </div>
        
          <div [hidden]="EditAnswer.valid"
           class="alert alert-danger">

            <div *ngIf="EditAnswer.errors && EditAnswer.errors.required">
              Answer is required.
              </div>
 

        
          </div>
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('order')">

        <fieldset class="form-group">
          <label for="EditOrder">Order</label>
          
          
          <input type="number" class="form-control" id="EditOrder" 
                  
                  
                  required
               
                  [(ngModel)]="detail['order']" name="EditOrder"
                  #EditOrder="ngModel">
          <div [hidden]="EditOrder.valid || EditOrder.pristine || EditOrder.errors.libMddsMinNumber"
           class="alert alert-danger">

            <div *ngIf="EditOrder.errors && EditOrder.errors.required">
              Order is required.
              </div>
 

          </div>

        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('enable')">

        <fieldset class="form-group">
          <label for="EditEnable">Enable</label>
          
          
          <div class="form-check"

              [ngClass]="{'ng-valid': detail['enable'] == true || detail['enable'] == false,
                          'ng-invalid': detail['enable'] != true && detail['enable'] != false}"
            
            >
            <div class="form-check-inline">
              <input type="radio" name="EditEnable" 
                class="form-check-input"
                id="EditEnableYes" [value]="true" 
                required
                 
                [(ngModel)]="detail['enable']"
                #EditEnable="ngModel">
              <label class="form-check-label">Yes</label>
            </div>
            <div class="form-check-inline">
              <input type="radio" name="EditEnable" 
                class="form-check-input"
                id="EditEnableNo" [value]="false"
                required
                 
                [(ngModel)]="detail['enable']"
                #EditEnable="ngModel">
              <label class="form-check-label">No</label>
            </div>
          </div>
          <div [hidden]="EditEnable.valid || EditEnable.pristine"
           class="alert alert-danger">

            <div *ngIf="EditEnable.errors && EditEnable.errors.required">
              Enable is required.
            </div> 
          </div>
        </fieldset>
    
</div>

         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			type="button" (click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

