<div class="container">
    <!--    <div id="slides" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
        <!-- Indicators - ->
        <ul class="carousel-indicators">
          <li data-target="#slides" data-slide-to="0" class="active"></li>
          <li data-target="#slides" data-slide-to="1"></li>
          <li data-target="#slides" data-slide-to="2"></li>
        </ul>
      
        <!-- The slideshow - ->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{imageObject[0].imageURL}}" alt="We Work Together for a Better Tomorrow">
            <div class="carousel-caption d-none d-md-block">
              <p style="font-size:70px;">{{imageObject[0].heading}}</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{imageObject[0].imageURL}}" alt="We Work Together for a Better Tomorrow">
            <div class="carousel-caption d-none d-md-block">
              <p style="font-size:70px;">{{imageObject[0].heading}}</p>
            </div>
          </div>
          
          <div class="carousel-item">
            <img src="{{imageObject[0].imageURL}}" alt="We Work Together for a Better Tomorrow">
            <div class="carousel-caption d-none d-md-block">
              <p style="font-size:70px;">{{imageObject[0].heading}}</p>
            </div>
          </div>
        </div>

        <!-- Left and right controls - ->
        <a class="carousel-control-prev" href="#slides" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#slides" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
        <!-- End of The slideshow - ->
    </div>
  -->
    <div class="slides-session">
        <app-keynote-list-widget-sld [searchObj]="{'tag': 'slides'}" [inputData]="['title', 'subtitle', 'description', 'signaturePicture']"></app-keynote-list-widget-sld>
    </div>

    <section>
        <div class="d-flex flex-column">
            <div>
                <app-generalinfo-detail-widget-info [searchObj]="{'tag': 'classes'}" [disableActionButtions]="true" [style]="{'card': {'background-color': 'white', 'color': '#00274c'}}">
                </app-generalinfo-detail-widget-info>
            </div>
            <div class="align-self-center internal_link" routerLink="/academics/class/list">Check all classes</div>
        </div>
        <div style="">
            <app-class-list [options]="{disableCatetory: true, disablePagination: true,
          disbleActionButtons: true, disableListSearch: true, disableTitle: true, disableRefs: true,
          disableListHead: true, disableTitleRow: true}" [queryParams]="{perPage: 6, listSortOrder: 'desc', listSortField: 'startTime'}" [searchObj]="{'hot': true}">
            </app-class-list>
        </div>
    </section>

    <section>
        <div>
            <app-generalinfo-detail-widget-info [searchObj]="{'tag': 'lka'}" [disableActionButtions]="true" [style]="{
          'card': {'background-color': 'white', 'color': '#00274c'},
          'body-field': {'font-size': '1.2rem', 'font-weight': '400'}
        }">
            </app-generalinfo-detail-widget-info>
        </div>
    </section>

    <section class="row align-items-baseline row-border">
        <div class="col d-flex flex-column">
            <div>
                <app-generalinfo-detail-widget-info [searchObj]="{'tag': 'events'}" [disableActionButtions]="true" [style]="{'card': {'background-color': 'white', 'color': '#00274c'}}">
                </app-generalinfo-detail-widget-info>
            </div>
            <div class="align-self-center internal_link" routerLink="/publicinfo/event">Read all posts</div>
        </div>
        <div class="col-large">
            <app-event-list [options]="{disableCatetory: true, disablePagination: true,
          disbleActionButtons: true, disableListSearch: true, disableTitle: true, disableRefs: true,
          disableListHead: true, disableTitleRow: true}" [queryParams]="{perPage: 3, listSortOrder: 'desc', listSortField: 'publishDate'}">
            </app-event-list>
        </div>
    </section>


    <!--
    <section class="row align-items-baseline row-border">
      <div class="col-small d-flex flex-column">
          <div><app-generalinfo-detail [searchObj]="{'tag': 'resources'}" [disableActionButtions]="true"
            [style]="{'background-color': 'rgba(0, 39, 76, 0.15)'}"
            >
          </app-generalinfo-detail></div>
          <div class="align-self-center internal_link" routerLink="/publicinfo/article">Resource Center</div>
      </div>
      <div class="col-large"><app-article-list-widget-clean></app-article-list-widget-clean></div>
    </section>
    -->
    <section>
        <div>
            <app-keynote-detail-widget-slide [searchObj]="{'tag': 'mission'}" [disableActionButtions]="true"></app-keynote-detail-widget-slide>
        </div>
    </section>
</div>