<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons">
        <!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title" *ngIf="!embeddedView">{{action}} Terms</h4>
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('name')">

        <fieldset class="form-group">
          <label for="EditName">Name</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditName" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['name']" name="EditName"
                    #EditName="ngModel">
                <div *ngIf="detail['name']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('name')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditName.valid || EditName.pristine || EditName.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditName.errors && EditName.errors.required">
              Name is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('content')">

        <fieldset class="form-group">
          <label for="EditContent">Content</label>
          
          <div mra-richtext-select="EditContent" [content]="detail['content']"></div>
          <div class="action-buttons" style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-success" (click)="onEdtiorPreview('EditContent')">Preview</button>
          </div>
        
          <div [hidden]="EditContent.valid"
           class="alert alert-danger">

            <div *ngIf="EditContent.errors && EditContent.errors.required">
              Content is required.
              </div>
 

        
          </div>
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('acknowledge')">

        <fieldset class="form-group">
          <label for="EditAcknowledge">Acknowledge</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditAcknowledge" 
                    
                    
                    
                 
                    [(ngModel)]="detail['acknowledge']" name="EditAcknowledge"
                    #EditAcknowledge="ngModel">
                <div *ngIf="detail['acknowledge']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('acknowledge')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditAcknowledge.valid || EditAcknowledge.pristine || EditAcknowledge.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('tag')">

        <fieldset class="form-group">
          <label for="EditTag">Tag</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTag" 
                    
                    
                    
                 
                    [(ngModel)]="detail['tag']" name="EditTag"
                    #EditTag="ngModel">
                <div *ngIf="detail['tag']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('tag')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditTag.valid || EditTag.pristine || EditTag.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div>
         </div>	
	     <div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('name')">

        <fieldset class="form-group">
          <label for="EditName">Name</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditName" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['name']" name="EditName"
                    #EditName="ngModel">
                <div *ngIf="detail['name']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('name')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditName.valid || EditName.pristine || EditName.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditName.errors && EditName.errors.required">
              Name is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('content')">

        <fieldset class="form-group">
          <label for="EditContent">Content</label>
          
          <div mra-richtext-select="EditContent" [content]="detail['content']"></div>
          <div class="action-buttons" style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-success" (click)="onEdtiorPreview('EditContent')">Preview</button>
          </div>
        
          <div [hidden]="EditContent.valid"
           class="alert alert-danger">

            <div *ngIf="EditContent.errors && EditContent.errors.required">
              Content is required.
              </div>
 

        
          </div>
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('acknowledge')">

        <fieldset class="form-group">
          <label for="EditAcknowledge">Acknowledge</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditAcknowledge" 
                    
                    
                    
                 
                    [(ngModel)]="detail['acknowledge']" name="EditAcknowledge"
                    #EditAcknowledge="ngModel">
                <div *ngIf="detail['acknowledge']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('acknowledge')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditAcknowledge.valid || EditAcknowledge.pristine || EditAcknowledge.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div><div *ngIf="!hiddenFields.includes('tag')">

        <fieldset class="form-group">
          <label for="EditTag">Tag</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTag" 
                    
                    
                    
                 
                    [(ngModel)]="detail['tag']" name="EditTag"
                    #EditTag="ngModel">
                <div *ngIf="detail['tag']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('tag')">
                  <i class="fas fa-times-circle" title="Clear"></i>
                </div>
          </div>

          <div [hidden]="EditTag.valid || EditTag.pristine || EditTag.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div>
         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			type="button" (click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

