<div>

	<div class="container search">
		<div class="row">			<div class="col-3">
			</div>
			<div class="col-6">
			  <div *ngIf="total_pages > 1">
				  <ul class="pagination justify-content-center">
				    <li class="page-item"
				            [ngClass]="{'disabled': page<=1}">
				      <a class="page-link" routerLink="." (click)="onPreviousPage()"
				         aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				    </li>
				    
				    <li *ngIf="left_more" class="page-item"><a class="page-link">...</a></li>
				    
				    <li *ngFor="let p of pages;  let i = index" class="page-item"
				    		[ngClass]="{'active': p==page}">
				    	<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
				    </li>
				    
				    <li *ngIf="right_more" class="page-item"><a class="page-link">...</a></li>
				    
				    <li class="page-item"
				            [ngClass]="{'disabled': page>=total_pages}">
				      <a class="page-link" routerLink="." (click)="onNextPage()"
				         aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Next</span>
				      </a>
				    </li>
				  </ul>
			  </div>
			</div>
			<div class="col-3">
				<div class="total_counts">Total: <b>{{total_count}}</b> items</div>
			</div>			

		</div>
	</div>
	
	<table class="table">
	    <thead>
	    	<tr>
		        <th scope="col">#</th>

		        <th scope="col">
		        	Title
		        </th>
		        <th scope="col">
		        	Time
		        </th>
		        <th *ngIf="referenceFieldsMap['teacher'] != parentItem"  scope="col">
		        	Teacher
		        </th>		        
		        <th scope="col" style="width:2rem;"></th>
		        <th scope="col" style="width:2rem;">
		        </th>
	        </tr>
	    </thead>
	    <tbody>
	      <ng-template ngFor let-detail [ngForOf]="list" let-i="index">
	        <tr [ngClass]="{'clicked-row': clickedId==detail['_id']}"> <!-- *ngFor="let detail of list;  let i = index" -->
	            <td scope="row">{{(page-1)*per_page+i+1}}</td>

	            <td >
	            	  {{detail['title']}}

	            </td>
	            <td >
	            	  {{detail['time']?detail['time']['value']:""}}

	            </td>
	            <td *ngIf="referenceFieldsMap['teacher'] != parentItem"  >
	            	  <a routerLink="."  (click)="onDisplayRefClicked('teacher', detail['teacher'], $event)">
	            	    {{detail['teacher']?detail['teacher']['value']:""}} </a>

	            </td>
	            <td>
			        <span class="pointer" (click)="toggleCheckedItem(i)">
			            <i *ngIf="!checkedItem[i]" class="fas fa-caret-down" title="More"></i>
			            <i *ngIf="checkedItem[i]" class="fas fa-caret-up" title="Less"></i>
			        </span>
	            </td>
	            <td>
	            	<a routerLink="." (click)="onDetailLinkClicked(detail['_id'])"><i class="fas fa-external-link-square-alt" title="View Details"></i></a>
	            </td>
	        </tr>

	        <tr *ngIf="checkedItem[i]" > <td colspan="3"> <app-courseinstance-detail-sub [inputData]="detail['_id']"></app-courseinstance-detail-sub></td></tr>
	      </ng-template>
	    </tbody>
	</table>
	
	<div class="container">
		<div class="row">			<div class="col-3">
			</div>
			<div class="col-6">
			  <div *ngIf="total_pages > 1">
				  <ul class="pagination justify-content-center">
				    <li class="page-item"
				            [ngClass]="{'disabled': page<=1}">
				      <a class="page-link" routerLink="." (click)="onPreviousPage()"
				         aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				    </li>
				    
				    <li *ngIf="left_more" class="page-item"><a class="page-link">...</a></li>
				    
				    <li *ngFor="let p of pages;  let i = index" class="page-item"
				    		[ngClass]="{'active': p==page}">
				    	<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
				    </li>
				    
				    <li *ngIf="right_more" class="page-item"><a class="page-link">...</a></li>
				    
				    <li class="page-item"
				            [ngClass]="{'disabled': page>=total_pages}">
				      <a class="page-link" routerLink="." (click)="onNextPage()"
				         aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Next</span>
				      </a>
				    </li>
				  </ul>
			  </div>
			</div>
			<div class="col-3">
				<div class="total_counts">Total: <b>{{total_count}}</b> items</div>
			</div>			

		</div>
	</div>
	
</div>
