<div class="container">
  <div class="row">
    <div class="col">
		<div class="card">
		  <div class="card-header">
			  <nav class="nav nav-pills">

			    <a class="nav-item nav-link" routerLink="./mfile" 
			    	routerLinkActive="active">Mfile</a>

			    <a class="nav-item nav-link" routerLink="./mfilelabels" 
			    	routerLinkActive="active">Mfilelabels</a>
			    <a class="nav-item nav-link" routerLink="./upload" 
			    	routerLinkActive="active">Upload</a>

			  </nav>
		  </div>
		  <div class="card-body">
			<router-outlet></router-outlet>
		  </div>
		</div>
	</div>
  </div>
</div>