<input type="file" #file style="display: none" (change)="onFilesAdded()"  /><!-- add 'multiple' to allow multiple file selection -->
<div class="container">
  <h1>Upload Files</h1>
  <div>
    <button [disabled]="uploading || uploadSuccessful" (click)="addFiles()">
      Add Files
    </button>
  </div>

  <!-- This is the content of the dialog, containing a list of the files to upload -->
  <div>
    <ul>
      <li *ngFor="let file of files">
        <h4>{{file.name}}</h4>
        <div *ngIf="progress">{{progress[file.name].progress | async}}</div>
      </li>
    </ul>
  </div>

  <!-- This are the actions of the dialog, containing the primary and the cancel button-->
  <div>
    <button *ngIf="showCancelButton">Cancel</button>
    <button [disabled]="!canBeClosed" (click)="uploadFiles()">Upload</button>
  </div>
</div>
