<div class="detail" *ngIf="detail">
	<div *ngIf="!options['disableActionButtions']"><div *ngIf="!disableActionButtions && !options['disableActionButtions']" class="action-buttons my-3">
    <a *ngIf="!options['disableActionList']" routerLink="../../list"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    <a *ngIf="!options['disableActionEdit']" [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
    <a *ngIf="!options['disableActionNew']" [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
    <a *ngIf="!options['disableActionDelete']" routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
</div>
</div>
	<div class="card text-left transparent-border " [ngStyle]="style['card']">
	  <div class="grid-fields">
		<div class="card-header grid-head" [ngStyle]="style['card-header']">
		  <div *ngIf="fieldHasValue(detail['signaturePicture'])" class="grid-head-picture">
                    <lib-mdds-file-display [downloadUrl]="detail['signaturePicture']" [isLarge]="true" [aspectRatio]="1.3333333333333333"></lib-mdds-file-display>
		  </div>
		  <div class="ml-1">
			<h2>
			  <div class="mr-1 ml-2 mt-3 d-inline-block" [ngStyle]="style['header-field']">
				
                    {{detail['title']}}
			  </div>
			</h2>
		  </div>
		</div>
		<div class="card-body" [ngStyle]="style['card-body']">
			<div>
			  <h4 class="info-description-text" [ngStyle]="style['body-field']">
                    <div [innerHTML]="detail['description']"></div>
			  </h4>
			</div>
		</div>
	  </div>
	</div>




</div>
