

<div class="mt-4 mb-4">
	<h3>Classes</h3>
</div>
<ul *ngIf="categoryBy" class="nav nav-pills category-nav">
	<li *ngFor="let ele of categoryDisplays; let idx = index;" class="nav-item" >
		<a class="nav-link" [ngClass]="{'active': idx === selectedCategory }" [routerLink]="['.']" [queryParamsHandling]="preserve" (click)="categorySelected(idx)">{{ele}}</a>
	</li>
</ul>

<div>
	<div class="container search">
		<div class="row">
			<div class="col-9">


			    <div class="input-group">
	              <input type="search" class="form-control border border-secondary" id="classTextSearch" 
						#classTextSearch [(ngModel)]="searchText"
						(keyup.enter)="$event.target.blur();searchList();false"
					    placeholder="Search for title"> 
				  <div *ngIf="searchText" class="input-group-append icon-clear-inside">
					<span >
					    <i class="fas fa-times-circle" (click)="onSearchTextClear()" title="Clear"></i>
				    </span>
				  </div>
				  <div class="input-group-append">
				    <button type="button" class="btn btn-outline-secondary" (click)="searchList()"><i class="fas fa-search"></i></button>
				  </div>
				</div>
			

				<div class="text-center">
                    <span  class="pointer" (click)="toggleMoreSearch()">
                        <span class="refine-search-text">Refine Search &nbsp;</span>
                        <span>
                            <i *ngIf="!moreSearchOpened"  class="fas fa-plus-circle" title="More"></i>
                            <i *ngIf="moreSearchOpened" class="fas fa-minus-circle"  title="Less"></i>
                        </span>
                    </span>
				</div>
			    <div class="shadow" *ngIf="moreSearchOpened">
					<div class="card">
						<div class="card-body">
	    <div class="single-line-edit">
	      <div class="row">
	        <div class="col-3"><label for="classEditTitle">Title</label></div>
	        <div class="col-8">



	        <input type="text" class="form-control" id="classEditTitle" 
		        	 
	                [(ngModel)]="detail['title']" name="classEditTitle"
	                #classEditTitle="ngModel">


	      </div>
	      
	      <div class="col-1">
		    <div class="icon-clear" (click)="clearValueFromDetail('title')"
		        *ngIf="checkValueDefinedFromDetail('title')"
		        ><i class="fas fa-times-circle" title="Clear"></i></div>
	      </div>
	    </div>
      </div>
      
 
	    <div class="single-line-edit">
	      <div class="row">
	        <div class="col-3"><label for="classEditStartTime">Start Time</label></div>
	        <div class="col-8">

 
	        <div class="input-group">
		      <input class="form-control" id="classEditStartTime" placeholder="{{dateFormat}}"
		             [(ngModel)]="detail['startTime']['from']" name="classEditStartTime"
		             ngbDatepicker #classEditStartTime="ngModel">
		      <span>&nbsp; ~ &nbsp;</span>
		      <input class="form-control" id="classEditStartTime" placeholder="{{dateFormat}}"
		             [(ngModel)]="detail['startTime']['to']" name="classEditStartTime"
		             ngbDatepicker #classEditStartTime="ngModel">

		      <div class="input-group-append">
		        <button class="btn btn-outline-secondary" (click)="onDateSelectionToggle('startTime')" type="button">
		          <i class="fas fa-calendar-alt"></i>
		        </button>
		      </div>
		    </div><!-- input group --> 
		    <div class="date-selection-pop" *ngIf="detail['startTime']['pop']">
			    <ngb-datepicker #dp [minDate]="minDate" (select)="onDateSelection('startTime', $event)" [displayMonths]="2" [dayTemplate]="classEditStartTimeT">
				</ngb-datepicker>
				<ng-template #classEditStartTimeT let-classEditStartTimeDate="date" let-classEditStartTimeFocused="focused">
				  <span class="custom-day"
				        [class.focused]="classEditStartTimeFocused"
				        [class.range]="isRange('startTime', classEditStartTimeDate)"
				        [class.faded]="isHovered('startTime', classEditStartTimeDate) || isInside('startTime', classEditStartTimeDate)"
				        (mouseenter)="hoveredDate = classEditStartTimeDate"
				        (mouseleave)="hoveredDate = null">
				    {{ classEditStartTimeDate.day }}
				  </span>
				</ng-template>
		    </div>      

	      </div>
	      
	      <div class="col-1">
		    <div class="icon-clear" (click)="clearValueFromDetail('startTime')"
		        *ngIf="checkValueDefinedFromDetail('startTime')"
		        ><i class="fas fa-times-circle" title="Clear"></i></div>
	      </div>
	    </div>
      </div>
      
 
	    <div class="single-line-edit">
	      <div class="row">
	        <div class="col-3"><label for="classEditEndTime">End Time</label></div>
	        <div class="col-8">

 
	        <div class="input-group">
		      <input class="form-control" id="classEditEndTime" placeholder="{{dateFormat}}"
		             [(ngModel)]="detail['endTime']['from']" name="classEditEndTime"
		             ngbDatepicker #classEditEndTime="ngModel">
		      <span>&nbsp; ~ &nbsp;</span>
		      <input class="form-control" id="classEditEndTime" placeholder="{{dateFormat}}"
		             [(ngModel)]="detail['endTime']['to']" name="classEditEndTime"
		             ngbDatepicker #classEditEndTime="ngModel">

		      <div class="input-group-append">
		        <button class="btn btn-outline-secondary" (click)="onDateSelectionToggle('endTime')" type="button">
		          <i class="fas fa-calendar-alt"></i>
		        </button>
		      </div>
		    </div><!-- input group --> 
		    <div class="date-selection-pop" *ngIf="detail['endTime']['pop']">
			    <ngb-datepicker #dp [minDate]="minDate" (select)="onDateSelection('endTime', $event)" [displayMonths]="2" [dayTemplate]="classEditEndTimeT">
				</ngb-datepicker>
				<ng-template #classEditEndTimeT let-classEditEndTimeDate="date" let-classEditEndTimeFocused="focused">
				  <span class="custom-day"
				        [class.focused]="classEditEndTimeFocused"
				        [class.range]="isRange('endTime', classEditEndTimeDate)"
				        [class.faded]="isHovered('endTime', classEditEndTimeDate) || isInside('endTime', classEditEndTimeDate)"
				        (mouseenter)="hoveredDate = classEditEndTimeDate"
				        (mouseleave)="hoveredDate = null">
				    {{ classEditEndTimeDate.day }}
				  </span>
				</ng-template>
		    </div>      

	      </div>
	      
	      <div class="col-1">
		    <div class="icon-clear" (click)="clearValueFromDetail('endTime')"
		        *ngIf="checkValueDefinedFromDetail('endTime')"
		        ><i class="fas fa-times-circle" title="Clear"></i></div>
	      </div>
	    </div>
      </div>
      
 
	    <div class="single-line-edit">
	      <div class="row">
	        <div class="col-3"><label for="classEditDayOfWeek">Day of Week</label></div>
	        <div class="col-8">





	        <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekMon" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekMon"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Mon']"
		        	#classEditDayOfWeekMon="ngModel">
		      	<span class="form-check-label">Mon</span>
		    </div>

	        <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekTue" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekTue"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Tue']"
		        	#classEditDayOfWeekTue="ngModel">
		      	<span class="form-check-label">Tue</span>
		    </div>

	        <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekWed" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekWed"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Wed']"
		        	#classEditDayOfWeekWed="ngModel">
		      	<span class="form-check-label">Wed</span>
		    </div>

	        <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekThu" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekThu"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Thu']"
		        	#classEditDayOfWeekThu="ngModel">
		      	<span class="form-check-label">Thu</span>
		    </div>

	        <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekFri" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekFri"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Fri']"
		        	#classEditDayOfWeekFri="ngModel">
		      	<span class="form-check-label">Fri</span>
		    </div>

	        <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekSat" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekSat"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Sat']"
		        	#classEditDayOfWeekSat="ngModel">
		      	<span class="form-check-label">Sat</span>
		    </div>

	        <div class="form-check-inline">
		        <input type="checkbox" name="classEditDayOfWeekSun" 
		        	class="form-check-input"
		        	id="classEditDayOfWeekSun"
		        	[(ngModel)]="detail['dayOfWeek']['selection']['Sun']"
		        	#classEditDayOfWeekSun="ngModel">
		      	<span class="form-check-label">Sun</span>
		    </div>


 

	      </div>
	      
	      <div class="col-1">
		    <div class="icon-clear" (click)="clearValueFromDetail('dayOfWeek')"
		        *ngIf="checkValueDefinedFromDetail('dayOfWeek')"
		        ><i class="fas fa-times-circle" title="Clear"></i></div>
	      </div>
	    </div>
      </div>
      
 

						  <div class="action-buttons" style="margin-top: 10px;">
								<button type="button" class="btn btn-outline-success" (click)="onSearchClear()">Reset</button>
								<button type="button" class="btn btn-success" (click)="searchList()">Search</button>
						  </div>
						</div>
					</div>
		        </div>
		        <div *ngIf="!moreSearchOpened" style="text-align: left;">
					<span class="badge badge-pill badge-info" *ngFor="let value of searchMoreDetail">
					    <a (click)="toggleMoreSearch()" class="pointer"> {{value[0]}}: {{value[1]}}</a>
					    <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromDetailAndSearchList(value[0])" title="Clear"></i>
					</span>
				</div>
		    
			
		    </div>
		</div>
		<div class="row">
			<div class="col">
		        <div class="action-buttons">
					
					
				</div>
			</div>
		</div>
		<hr/>
		
		<div class="row justify-content-end" *ngIf="list.length > 6">
			<div class="sort-selection">
					<div class="dropdown" style="width: 100%;">
						<button class="sort-dropdown btn btn-light btn-sm dropdown-toggle"
							type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Sort: <span *ngIf="listSortField && !viewHiddenFields.includes(listSortField)">{{listSortFieldDisplay}}
									<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up"></i>
									<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down"></i>
							</span>
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item pointer" (click)="setListSortAndRefresh('title', 'Title', 'asc')">Title<i class="fas fa-arrow-up"></i></a>
							<a class="dropdown-item pointer" (click)="setListSortAndRefresh('title', 'Title', 'desc')">Title<i class="fas fa-arrow-down"></i></a>
							<a class="dropdown-item pointer" (click)="setListSortAndRefresh('startTime', 'Start Time', 'asc')">StartTime<i class="fas fa-arrow-up"></i></a>
							<a class="dropdown-item pointer" (click)="setListSortAndRefresh('startTime', 'Start Time', 'desc')">StartTime<i class="fas fa-arrow-down"></i></a>
							<a class="dropdown-item pointer" (click)="setListSortAndRefresh('endTime', 'End Time', 'asc')">EndTime<i class="fas fa-arrow-up"></i></a>
							<a class="dropdown-item pointer" (click)="setListSortAndRefresh('endTime', 'End Time', 'desc')">EndTime<i class="fas fa-arrow-down"></i></a>
						</div>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div *ngIf="list.length > 0">

					<input type="radio" name="view-filter" id="table-view" class="view-radio"
						(click)="setListViewFilter('table')" [checked]="isShowListView('table')">
						<label for="table-view"><i class="fa fa-list-alt"></i></label>

					<input type="radio" name="view-filter" id="list-view" class="view-radio"
						(click)="setListViewFilter('list')" [checked]="isShowListView('list')">
					<label for="list-view"><i class="fa fa-th-list"></i></label>

					<input type="radio" name="view-filter" id="grid-view" class="view-radio"
						(click)="setListViewFilter('grid')" [checked]="isShowListView('grid')">
						<label for="grid-view"><i class="fa fa-th"></i></label>

				</div>

			</div>
			<div class="col-6">
			  <div *ngIf="total_pages > 1">
				  <ul class="pagination justify-content-center">
				    <li class="page-item"
				            [ngClass]="{'disabled': page<=1}">
				      <a class="page-link" routerLink="." (click)="onPreviousPage()"
				         aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				    </li>

				    <li *ngIf="left_more" class="page-item"><a class="page-link">...</a></li>

				    <li *ngFor="let p of pages;  let i = index" class="page-item"
				    		[ngClass]="{'active': p==page}">
				    	<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
				    </li>

				    <li *ngIf="right_more" class="page-item"><a class="page-link">...</a></li>
				    <li class="page-item"
				            [ngClass]="{'disabled': page>=total_pages}">
				      <a class="page-link" routerLink="." (click)="onNextPage()"
				         aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Next</span>
				      </a>
				    </li>
				  </ul>
			  </div>
			</div>
			<div class="col-3">
				<div class="total_counts">
					<span *ngIf="list.length > 6">Total: <b>{{total_count}}</b></span>
					<a class="ml-3" routerLink="." (click)="onRefresh()"><i class="fa fa-sync-alt"></i></a>
				</div>
			</div>
		</div>

	</div>
	<div class="no-records" *ngIf="list.length === 0">
		<span *ngIf="loaded">No records found.</span>
		<span *ngIf="!loaded">Loading...</span>
	</div>
	<div *ngIf="list.length > 0">
	<table *ngIf="isShowListView('table')" class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>

				<th class="pointer" scope="col" (click)="toggleListSort('title', 'Title')">
					Title
					<span *ngIf="listSortField === 'title'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th class="pointer" scope="col" (click)="toggleListSort('course', 'Course')">
					Course
					<span *ngIf="listSortField === 'course'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th class="pointer" scope="col" (click)="toggleListSort('startTime', 'Start Time')">
					Start Time
					<span *ngIf="listSortField === 'startTime'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th class="pointer" scope="col" (click)="toggleListSort('endTime', 'End Time')">
					End Time
					<span *ngIf="listSortField === 'endTime'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th scope="col">Day of Week</th>

	    	</tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index; let list_index = index;" [ngClass]="{'clicked-row': clickedId==detail['_id']}">
	            <td scope="row" (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	{{(page-1)*per_page+i+1}}
	            </td>

	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                
                    {{detail['title']}}

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                
               	  <a routerLink="."  (click)="onDisplayRefClicked('course', detail['course'], $event)">
	            	{{detail['course']?detail['course']['value']:""}}
	              </a>

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                  {{detail['startTime']?detail['startTime']['value']:""}}

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                  {{detail['endTime']?detail['endTime']['value']:""}}

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                
                    <div class="badge badge-pill badge-secondary" *ngFor="let element of enums['dayOfWeek']">
                         <div *ngIf="detail['dayOfWeek'] && detail['dayOfWeek']['selection'][element]">{{element}}</div>
                    </div>

	            </td>
	        </tr>
	    </tbody>
	</table>


	<div class="listview" *ngIf="isShowListView('list')">
		<div class="list-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<hr *ngIf="i==0" class="list-diverder">
			<div class="list-card text-left clickable-card "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="list-fields w-75 pointer" (click)="onDetailLinkClicked(detail['_id'])" >

      <div class="list-body-fields ml-1 d-inline-block">
        <h5>
          <div class="mr-1 d-inline-block">
                            
                    {{detail['title']}}

          </div>
        </h5>
        <div *ngIf="detail['course']" class="mr-3 d-inline-block">
          <div class="d-inline-block"><label>Course:</label></div>
          <div class="ml-3 d-inline-block">                
               	  <a routerLink="."  (click)="onDisplayRefClicked('course', detail['course'], $event)">
	            	{{detail['course']?detail['course']['value']:""}}
	              </a>

          </div>
        </div>
        <div *ngIf="detail['startTime']" class="mr-3 d-inline-block">
          <div class="d-inline-block"><label>Start Time:</label></div>
          <div class="ml-3 d-inline-block">                  {{detail['startTime']?detail['startTime']['value']:""}}

          </div>
        </div>
        <div *ngIf="detail['endTime']" class="mr-3 d-inline-block">
          <div class="d-inline-block"><label>End Time:</label></div>
          <div class="ml-3 d-inline-block">                  {{detail['endTime']?detail['endTime']['value']:""}}

          </div>
        </div>
        <div *ngIf="detail['dayOfWeek']" class="mr-3 d-inline-block">
          <div class="d-inline-block"><label>Day of Week:</label></div>
          <div class="ml-3 d-inline-block">                
                    <div class="badge badge-pill badge-secondary" *ngFor="let element of enums['dayOfWeek']">
                         <div *ngIf="detail['dayOfWeek'] && detail['dayOfWeek']['selection'][element]">{{element}}</div>
                    </div>

          </div>
        </div>
      </div>

				</div>
			</div>
			<hr class="list-diverder">
		</div>
	</div>


	<div class="gridview" *ngIf="isShowListView('grid')">
		<div class="grid-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<div class="card text-left h-100 clickable-card "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="grid-fields pointer" (click)="onDetailLinkClicked(detail['_id'])" >

      <div class="card-header grid-head">
        <div class="ml-1 d-inline-block">
          <h5>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['title']}}

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div *ngIf="detail['course']">
            <div class="d-inline-block"><label>Course:</label></div>
            <div class="ml-3 d-inline-block">                
               	  <a routerLink="."  (click)="onDisplayRefClicked('course', detail['course'], $event)">
	            	{{detail['course']?detail['course']['value']:""}}
	              </a>

            </div>
          </div>
          <div *ngIf="detail['startTime']">
            <div class="d-inline-block"><label>Start Time:</label></div>
            <div class="ml-3 d-inline-block">                  {{detail['startTime']?detail['startTime']['value']:""}}

            </div>
          </div>
          <div *ngIf="detail['endTime']">
            <div class="d-inline-block"><label>End Time:</label></div>
            <div class="ml-3 d-inline-block">                  {{detail['endTime']?detail['endTime']['value']:""}}

            </div>
          </div>
          <div *ngIf="detail['dayOfWeek']">
            <div class="d-inline-block"><label>Day of Week:</label></div>
            <div class="ml-3 d-inline-block">                
                    <div class="badge badge-pill badge-secondary" *ngFor="let element of enums['dayOfWeek']">
                         <div *ngIf="detail['dayOfWeek'] && detail['dayOfWeek']['selection'][element]">{{element}}</div>
                    </div>

            </div>
          </div>
      </div>

				</div>
			</div>
		</div>
	</div>


	</div>
	<div class="container">
		
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-6">
			  <div *ngIf="total_pages > 1">
				  <ul class="pagination justify-content-center">
				    <li class="page-item"
				            [ngClass]="{'disabled': page<=1}">
				      <a class="page-link" routerLink="." (click)="onPreviousPage()"
				         aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				    </li>

				    <li *ngIf="left_more" class="page-item"><a class="page-link">...</a></li>

				    <li *ngFor="let p of pages;  let i = index" class="page-item"
				    		[ngClass]="{'active': p==page}">
				    	<a class="page-link" routerLink="." (click)="onGotoPage(p)">{{p}}</a>
				    </li>

				    <li *ngIf="right_more" class="page-item"><a class="page-link">...</a></li>
				    <li class="page-item"
				            [ngClass]="{'disabled': page>=total_pages}">
				      <a class="page-link" routerLink="." (click)="onNextPage()"
				         aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Next</span>
				      </a>
				    </li>
				  </ul>
			  </div>
			</div>
			<div class="col-3">
				<div class="total_counts">
					<span *ngIf="list.length > 6">Total: <b>{{total_count}}</b></span>
				</div>
			</div>
		</div>

	</div>
	
</div>


<ng-template academics-ref-select></ng-template>
