
	<table *ngIf="isShowListView('table')" class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>

				<th class="pointer" scope="col" (click)="toggleListSort('title', 'Title')">
					Title
					<span *ngIf="listSortField === 'title'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th class="pointer" scope="col" (click)="toggleListSort('course', 'Course')">
					Course
					<span *ngIf="listSortField === 'course'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th class="pointer" scope="col" (click)="toggleListSort('startTime', 'Start Time')">
					Start Time
					<span *ngIf="listSortField === 'startTime'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th class="pointer" scope="col" (click)="toggleListSort('endTime', 'End Time')">
					End Time
					<span *ngIf="listSortField === 'endTime'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th scope="col">Day of Week</th>

	    	</tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index; let list_index = index;" [ngClass]="{'clicked-row': clickedId==detail['_id']}">
	            <td scope="row" (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	{{(page-1)*per_page+i+1}}
	            </td>

	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                
                    {{detail['title']}}

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                
               	  <a routerLink="."  (click)="onDisplayRefClicked('course', detail['course'], $event)">
	            	{{detail['course']?detail['course']['value']:""}}
	              </a>

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                  {{detail['startTime']?detail['startTime']['value']:""}}

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                  {{detail['endTime']?detail['endTime']['value']:""}}

	            </td>
	            <td (click)="onDetailLinkClicked(detail['_id'])"  class="pointer">
	            	                
                    <div class="badge badge-pill badge-secondary" *ngFor="let element of enums['dayOfWeek']">
                         <div *ngIf="detail['dayOfWeek'] && detail['dayOfWeek']['selection'][element]">{{element}}</div>
                    </div>

	            </td>
	        </tr>
	    </tbody>
	</table>
