
		<table *ngIf="isShowListView('table')" class="table table-bordered table-hover">
	    <thead class="thead-light">
	    	<tr>
		        <th scope="col">#</th>

				<th class="pointer" scope="col" (click)="toggleListSort('title', 'Title')">
					Title
					<span *ngIf="listSortField === 'title'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th class="pointer" scope="col" (click)="toggleListSort('startTime', 'Start Time')">
					Start Time
					<span *ngIf="listSortField === 'startTime'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th class="pointer" scope="col" (click)="toggleListSort('endTime', 'End Time')">
					End Time
					<span *ngIf="listSortField === 'endTime'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th>
				<th scope="col">Day of Week</th>

				<th class="pointer" scope="col" (click)="toggleListSort('timeSlot', 'Time Slot')">
					Time Slot
					<span *ngIf="listSortField === 'timeSlot'">
						<i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
						<i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
					</span>
				</th><th scope="col" style="width:4.8rem;"></th>
	    	</tr>
	    </thead>
	    <tbody>
	        <tr *ngFor="let detail of list;  let i = index; let list_index = index;" [ngClass]="{'clicked-row': clickedId==detail['_id']}">
	            <td scope="row" >
	            	{{(page-1)*per_page+i+1}}
	            </td>

	            <td >
	            	                
                    {{detail['title']}}

	            </td>
	            <td >
	            	                  {{detail['startTime']?detail['startTime']['value']:""}}

	            </td>
	            <td >
	            	                  {{detail['endTime']?detail['endTime']['value']:""}}

	            </td>
	            <td >
	            	                
                    <div class="badge badge-pill badge-secondary" *ngFor="let element of enums['dayOfWeek']">
                         <div *ngIf="detail['dayOfWeek'] && detail['dayOfWeek']['selection'][element]">{{element}}</div>
                    </div>

	            </td>
	            <td >
	            	                
                    {{detail['timeSlot']}}

	            </td>
	            <td>
					
	            	
					
					<span class="read-more-in-table" (click)="onDetailLinkClicked(detail['_id'])">Detail <i class="fas fa-arrow-right" ></i></span>
	            </td>
	        </tr>
	    </tbody>
	</table>

		<div class="listview" *ngIf="isShowListView('list')">
		<div class="list-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<hr *ngIf="i==0" class="list-diverder">
			<div class="list-card text-left  "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="list-fields "  >

      <div class="list-body-fields">
        <h5>
          <div class="mr-1 d-inline-block">
                            
                    {{detail['title']}}

          </div>
        </h5>
        <div *ngIf="detail['startTime']" class="mr-3 d-inline-flex flex-wrap">
          <div><label>Start Time:</label></div>
          <div class="ml-3">                  {{detail['startTime']?detail['startTime']['value']:""}}

          </div>
        </div>
        <div *ngIf="detail['endTime']" class="mr-3 d-inline-flex flex-wrap">
          <div><label>End Time:</label></div>
          <div class="ml-3">                  {{detail['endTime']?detail['endTime']['value']:""}}

          </div>
        </div>
        <div *ngIf="detail['dayOfWeek']" class="mr-3 d-inline-flex flex-wrap">
          <div><label>Day of Week:</label></div>
          <div class="ml-3">                
                    <div class="badge badge-pill badge-secondary" *ngFor="let element of enums['dayOfWeek']">
                         <div *ngIf="detail['dayOfWeek'] && detail['dayOfWeek']['selection'][element]">{{element}}</div>
                    </div>

          </div>
        </div>
        <div *ngIf="detail['timeSlot']" class="mr-3 d-inline-flex flex-wrap">
          <div><label>Time Slot:</label></div>
          <div class="ml-3">                
                    {{detail['timeSlot']}}

          </div>
        </div>
        <div class="read-more" (click)="onDetailLinkClicked(detail['_id'])">
        Read more ...
        </div>
      </div>

				</div>
			</div>
			<hr class="list-diverder">
		</div>
	</div>

	
	<div class="gridview" *ngIf="isShowListView('grid')">
		<div class="grid-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
			<div class="card text-left h-100  "
				[ngClass]="{'clicked-row': clickedId==detail['_id']}" >
				<div class="grid-fields "  >

      <div class="card-header grid-head">
        <div>
          <h5>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['title']}}

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div *ngIf="detail['startTime']" class="d-flex flex-wrap">
            <div class=""><label>Start Time:</label></div>
            <div class="ml-3">                  {{detail['startTime']?detail['startTime']['value']:""}}
</div>
          </div>
          <div *ngIf="detail['endTime']" class="d-flex flex-wrap">
            <div class=""><label>End Time:</label></div>
            <div class="ml-3">                  {{detail['endTime']?detail['endTime']['value']:""}}
</div>
          </div>
          <div *ngIf="detail['dayOfWeek']" class="d-flex flex-wrap">
            <div class=""><label>Day of Week:</label></div>
            <div class="ml-3">                
                    <div class="badge badge-pill badge-secondary" *ngFor="let element of enums['dayOfWeek']">
                         <div *ngIf="detail['dayOfWeek'] && detail['dayOfWeek']['selection'][element]">{{element}}</div>
                    </div>
</div>
          </div>
          <div *ngIf="detail['timeSlot']" class="d-flex flex-wrap">
            <div class=""><label>Time Slot:</label></div>
            <div class="ml-3">                
                    {{detail['timeSlot']}}
</div>
          </div>
        <div class="read-more" (click)="onDetailLinkClicked(detail['_id'])">
          Read more ...
        </div>
      </div>

				</div>
			</div>
		</div>
	</div>

