
<div class="detail" *ngIf="detail">
	<div *ngIf="!options['disableActionButtions']"><div *ngIf="!disableActionButtions" class="action-buttons">
    <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
    <a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    <a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
    <a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
    <a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
</div>
</div>
	<div class="card text-left transparent-border ">
		<div class="grid-fields">

      <div class="card-header grid-head">
        <div class="ml-1">
          <h5>
            <div class="mr-1 d-inline-block">
                              
                    {{detail['title']}}

            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Description:</label></div>
                <div class="ml-3">                 
                    <div mra-richtext-show="classDetailDescription" [content]="detail['description']"></div>
</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Program:</label></div>
                <div class="ml-3">                
               	  <a routerLink="."  (click)="onDisplayRefClicked('course', detail['course'], $event)">
	            	{{detail['course']?detail['course']['value']:""}}
	              </a>
</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Instructor:</label></div>
                <div class="ml-3">                
               	  <a routerLink="."  (click)="onDisplayRefClicked('teacher', detail['teacher'], $event)">
	            	{{detail['teacher']?detail['teacher']['value']:""}}
	              </a>
</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Price:</label></div>
                <div class="ml-3">                
                    {{detail['price']}}
</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Season:</label></div>
                <div class="ml-3">                
                    {{detail['season']}}
</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Start Time:</label></div>
                <div class="ml-3">                  {{detail['startTime']?detail['startTime']['value']:""}}
</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>End Time:</label></div>
                <div class="ml-3">                  {{detail['endTime']?detail['endTime']['value']:""}}
</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Duration:</label></div>
                <div class="ml-3">                
                    {{detail['duration']}}
</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Day of Week:</label></div>
                <div class="ml-3">                
                    <div class="badge badge-pill badge-secondary" *ngFor="let element of enums['dayOfWeek']">
                         <div *ngIf="detail['dayOfWeek'] && detail['dayOfWeek']['selection'][element]">{{element}}</div>
                    </div>
</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Time Slot:</label></div>
                <div class="ml-3">                
                    {{detail['timeSlot']}}
</div>
            </div>
          </div>
          <div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Hot:</label></div>
                <div class="ml-3">                  {{detail['hot']}} 
</div>
            </div>
            <div class="d-inline-flex flex-wrap mr-5" style="min-width: 200px;">
                <div><label>Enroll Term:</label></div>
                <div class="ml-3">                
               	  <a routerLink="."  (click)="onDisplayRefClicked('enrollTerm', detail['enrollTerm'], $event)">
	            	{{detail['enrollTerm']?detail['enrollTerm']['value']:""}}
	              </a>
</div>
            </div>
          </div>
      </div>

		</div>
	</div>
	<div *ngIf="!options['disablePipeline']">
</div>
	<div *ngIf="!options['disableRefLink']">
    <br/>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a [routerLink]="['./classenroll/list']"
                    class="nav-link" routerLinkActive="active">Class Enrollments</a>
        </li><li class="nav-item">
            <a [routerLink]="['./studentclass/list']"
                    class="nav-link" routerLinkActive="active">Class Students</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>
</div>

