<div class="edit" *ngIf="detail">
	<div class="action-buttons">
        <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a>
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title">{{action}} Studentcourseinstance</h4>    
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">

	      <fieldset class="form-group">
	        <label for="studentcourseinstanceEditStudent">Student </label>
		    <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('student')"><i class="fas fa-list" title="Search"></i></a>  -->
		    <div class="input-group">
		    	<!--  [attr.disabled]="true" -->
		        <input class="form-control rounded" id="studentcourseinstanceEditStudent" 
		             [ngClass]="{'pointer ref-badge': detail['student']['_id']}"
		             (focus)="onRefSelect('student')"
	                 required
		        	  
		             [ngModel]="detail['student']['value']" name="studentcourseinstanceEditStudent"
		             #studentcourseinstanceEditStudent="ngModel"> 
		    <div *ngIf="detail['student']['value']" 
		          class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('student')">
		          <i class="fas fa-times-circle" title="Clear"></i></div>
			</div>
	        <div [hidden]="studentcourseinstanceEditStudent.valid || studentcourseinstanceEditStudent.pristine"
	             class="alert alert-danger">

	          <div *ngIf="studentcourseinstanceEditStudent.errors && studentcourseinstanceEditStudent.errors.required && !(detail['student']?.date)">
    	        Student is required.
  	          </div>
 
	        </div>
	      </fieldset>
    

	      <fieldset class="form-group">
	        <label for="studentcourseinstanceEditCourseInstance">CourseInstance </label>
		    <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('courseInstance')"><i class="fas fa-list" title="Search"></i></a>  -->
		    <div class="input-group">
		    	<!--  [attr.disabled]="true" -->
		        <input class="form-control rounded" id="studentcourseinstanceEditCourseInstance" 
		             [ngClass]="{'pointer ref-badge': detail['courseInstance']['_id']}"
		             (focus)="onRefSelect('courseInstance')"
	                 required
		        	  
		             [ngModel]="detail['courseInstance']['value']" name="studentcourseinstanceEditCourseInstance"
		             #studentcourseinstanceEditCourseInstance="ngModel"> 
		    <div *ngIf="detail['courseInstance']['value']" 
		          class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('courseInstance')">
		          <i class="fas fa-times-circle" title="Clear"></i></div>
			</div>
	        <div [hidden]="studentcourseinstanceEditCourseInstance.valid || studentcourseinstanceEditCourseInstance.pristine"
	             class="alert alert-danger">

	          <div *ngIf="studentcourseinstanceEditCourseInstance.errors && studentcourseinstanceEditCourseInstance.errors.required && !(detail['courseInstance']?.date)">
    	        CourseInstance is required.
  	          </div>
 
	        </div>
	      </fieldset>
    

         </div>	
	     <div *ngIf="action == 'Create'">

	      <fieldset class="form-group">
	        <label for="studentcourseinstanceEditStudent">Student </label>
		    <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('student')"><i class="fas fa-list" title="Search"></i></a>  -->
		    <div class="input-group">
		    	<!--  [attr.disabled]="true" -->
		        <input class="form-control rounded" id="studentcourseinstanceEditStudent" 
		             [ngClass]="{'pointer ref-badge': detail['student']['_id']}"
		             (focus)="onRefSelect('student')"
	                 required
		        	  
		             [ngModel]="detail['student']['value']" name="studentcourseinstanceEditStudent"
		             #studentcourseinstanceEditStudent="ngModel"> 
		    <div *ngIf="detail['student']['value']" 
		          class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('student')">
		          <i class="fas fa-times-circle" title="Clear"></i></div>
			</div>
	        <div [hidden]="studentcourseinstanceEditStudent.valid || studentcourseinstanceEditStudent.pristine"
	             class="alert alert-danger">

	          <div *ngIf="studentcourseinstanceEditStudent.errors && studentcourseinstanceEditStudent.errors.required && !(detail['student']?.date)">
    	        Student is required.
  	          </div>
 
	        </div>
	      </fieldset>
    

	      <fieldset class="form-group">
	        <label for="studentcourseinstanceEditCourseInstance">CourseInstance </label>
		    <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('courseInstance')"><i class="fas fa-list" title="Search"></i></a>  -->
		    <div class="input-group">
		    	<!--  [attr.disabled]="true" -->
		        <input class="form-control rounded" id="studentcourseinstanceEditCourseInstance" 
		             [ngClass]="{'pointer ref-badge': detail['courseInstance']['_id']}"
		             (focus)="onRefSelect('courseInstance')"
	                 required
		        	  
		             [ngModel]="detail['courseInstance']['value']" name="studentcourseinstanceEditCourseInstance"
		             #studentcourseinstanceEditCourseInstance="ngModel"> 
		    <div *ngIf="detail['courseInstance']['value']" 
		          class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('courseInstance')">
		          <i class="fas fa-times-circle" title="Clear"></i></div>
			</div>
	        <div [hidden]="studentcourseinstanceEditCourseInstance.valid || studentcourseinstanceEditCourseInstance.pristine"
	             class="alert alert-danger">

	          <div *ngIf="studentcourseinstanceEditCourseInstance.errors && studentcourseinstanceEditCourseInstance.errors.required && !(detail['courseInstance']?.date)">
    	        CourseInstance is required.
  	          </div>
 
	        </div>
	      </fieldset>
    

         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

<ng-template manage-ref-select></ng-template>
