
<div *ngIf="detail">
	<div class="card text-left">
	  <div class="card-body">
		<div class="card-text">

			<label><b>description:</b></label>
			<span>  {{detail['description']}}

			</span><br>
			<label><b>price:</b></label>
			<span>  {{detail['price']}}

			</span><br>
			<label><b>course:</b></label>
			<span>  <a routerLink="."  (click)="onDisplayRefClicked('course', detail['course'], $event)">
	            	    {{detail['course']?detail['course']['value']:""}} </a>

			</span><br>
		</div>
	  </div>
	</div>
</div>
