

		<div *ngIf="detail && showFields.includes('student')">
                    <div *ngIf="detail['student'] && detail['student']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['student']['selection']" let-idx="index">
                            <div class="badge-click badge badge-pill badge-secondary" 
                                (click)="onDisplayRefClicked('student', detail['student']['selection'][idx], $event)">
                                {{element.valueMedium}}
                            </div>
                        </ng-template>
                    </div>
		</div>
		<div *ngIf="detail && showFields.includes('class')">
               	  <a routerLink="."  (click)="onDisplayRefClicked('class', detail['class'], $event)">
	            	{{detail['class']?detail['class']['valueMedium']:""}}
	              </a>
		</div>
		<div *ngIf="detail && showFields.includes('status')">
                    {{detail['status']}}
		</div>
		<div *ngIf="detail && showFields.includes('notes')">
                    <div [innerHTML]="detail['notes']"></div>
		</div>
		<div *ngIf="detail && showFields.includes('createdAt')">  {{detail['createdAt']? (detail['createdAt']['originalValue'] | date:'medium') : ''}}
		</div>
		<div *ngIf="detail && showFields.includes('updatedAt')">  {{detail['updatedAt']? (detail['updatedAt']['originalValue'] | date:'medium') : ''}}
		</div>
		<div *ngIf="detail && showFields.includes('muser_id')">
                    {{detail['muser_id']}}
		</div>
