
<div *ngIf="detail">
	<div class="card text-left">
	  <div class="card-body">
		<div class="card-text">

          <div class="row">
      
			<div class="col-3"><label>Notes</label></div>
			<div class="col-9">                
                    <div *ngIf="detail['notes'] && detail['notes']['selection']">
                        <ng-template ngFor let-element [ngForOf]="detail['notes']['selection']" let-idx="index">
                            <div class="badge badge-pill badge-secondary">
                                {{element}}
                            </div>
                        </ng-template>
                    </div>
</div>

          </div>

          <div class="row">
      
			<div class="col-3"><label>Updated At</label></div>
			<div class="col-9">                  {{detail['updatedAt']?detail['updatedAt']['value']:""}}
</div>

          </div>

          <div class="row">
      
			<div class="col-3"><label>Muser Id</label></div>
			<div class="col-9">                
                    {{detail['muser_id']}}
</div>

          </div>
 
 
		</div>
	  </div>
	</div>
</div>
