
<div *ngIf="detail">
	<div class="card text-left">
	  <div class="card-body">
		<div class="card-text">

          <div class="row">
      
			<div class="col-3"><label>Resource Permission</label></div>
			<div class="col-9">                
                    <div *ngIf="detail['resourcePermission'] && detail['resourcePermission']['selection']">
                    	<ng-template ngFor let-element [ngForOf]="detail['resourcePermission']['selection']" let-idx="index">
                            <div class="badge badge-pill badge-secondary">
                                {{element}}
                            </div>
						</ng-template>
                    </div>
</div>

          </div>
      
		</div>
	  </div>
	</div>
</div>
