<div class="select-model show" (keyup.esc)="uiOnEscapeKey()" tabindex="0" #ManageModal>
  <div class="select-model-content">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ItemCamelName}} Detail</h5>
        <button type="button" class="close" aria-label="Close" (click)="uiCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<!--  model body starts -->


<div class="detail" *ngIf="detail">
	<div class="action-buttons">
	</div>
	
	<div class="card text-left">
	  <div class="card-body">
		<div class="card-text">

          <div class="row">
      
			<div class="col-3"><label>First Name</label></div>
			<div class="col-3">  {{detail['firstName']}}
</div>

			<div class="col-3"><label>Last Name</label></div>
			<div class="col-3">  {{detail['lastName']}}
</div>

          </div>

          <div class="row">
      
			<div class="col-3"><label>Email</label></div>
			<div class="col-9">  {{detail['email']}}
</div>

          </div>

          <div class="row">
      
			<div class="col-3"><label>Phone Number</label></div>
			<div class="col-3">  {{detail['phoneNumber']}}
</div>

			<div class="col-3"><label>Courses</label></div>
			<div class="col-3">  <a routerLink="."  (click)="onDisplayRefClicked('courses', detail['courses'], $event)">
	            	    {{detail['courses']?detail['courses']['value']:""}} </a>
</div>

          </div>

          <div class="row">
      
			<div class="col-3"><label>Introduction</label></div>
			<div class="col-9">  {{detail['introduction']}}
</div>

          </div>
      
		</div>
	  </div>
	</div>
</div>



<!--  model body ends -->

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div> 
