<div class="select-model show" (keyup.esc)="uiOnEscapeKey()" tabindex="0" #ManageModal>
  <div class="select-model-content">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ItemName}} Detail</h5>
        <button type="button" class="close" aria-label="Close" (click)="uiCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<!--  model body starts -->


<div class="detail" *ngIf="detail">
	<div class="action-buttons">
	</div>
	
	<div class="card text-left">
	  <div class="card-body">
		<div class="card-text">

			<label><b>firstName:</b></label>
			<span>  {{detail['firstName']}}

			</span><br>
			<label><b>lastName:</b></label>
			<span>  {{detail['lastName']}}

			</span><br>
			<label><b>introduction:</b></label>
			<span>  {{detail['introduction']}}

			</span><br>
			<label><b>email:</b></label>
			<span>  {{detail['email']}}

			</span><br>
			<label><b>phoneNumber:</b></label>
			<span>  {{detail['phoneNumber']}}

			</span><br>
		</div>
	  </div>
	</div>
</div>



<!--  model body ends -->

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div> 
