<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons">
        <!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title" *ngIf="!embeddedView">{{action}} Programs</h4>
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('title')">

        <fieldset class="form-group">
          <label for="EditTitle">Title</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTitle" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['title']" name="EditTitle"
                    #EditTitle="ngModel">
            <div *ngIf="detail['title']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('title')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditTitle.valid || EditTitle.pristine || EditTitle.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditTitle.errors && EditTitle.errors.required">
              Title is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('description')">

        <fieldset class="form-group">
          <label for="EditDescription">Description</label>
          
          <div mra-richtext-select="EditDescription" [content]="detail['description']"></div>
          <div class="action-buttons" style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-success" (click)="onEdtiorPreview('EditDescription')">Preview</button>
          </div>
        
          <div [hidden]="EditDescription.valid"
           class="alert alert-danger">

            <div *ngIf="EditDescription.errors && EditDescription.errors.required">
              Description is required.
              </div>
 

        
          </div>
        </fieldset>

    
</div>

         </div>	
	     <div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('title')">

        <fieldset class="form-group">
          <label for="EditTitle">Title</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditTitle" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['title']" name="EditTitle"
                    #EditTitle="ngModel">
            <div *ngIf="detail['title']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('title')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditTitle.valid || EditTitle.pristine || EditTitle.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditTitle.errors && EditTitle.errors.required">
              Title is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('description')">

        <fieldset class="form-group">
          <label for="EditDescription">Description</label>
          
          <div mra-richtext-select="EditDescription" [content]="detail['description']"></div>
          <div class="action-buttons" style="margin-top: 10px;">
            <button type="button" class="btn btn-outline-success" (click)="onEdtiorPreview('EditDescription')">Preview</button>
          </div>
        
          <div [hidden]="EditDescription.valid"
           class="alert alert-danger">

            <div *ngIf="EditDescription.errors && EditDescription.errors.required">
              Description is required.
              </div>
 

        
          </div>
        </fieldset>

    
</div>

         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			type="button" (click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

