<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons">
        <!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title" *ngIf="!embeddedView">{{action}} System Module</h4>
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('module')">

        <fieldset class="form-group">
          <label for="EditModule">Module</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditModule" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['module']" name="EditModule"
                    #EditModule="ngModel">
            <div *ngIf="detail['module']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('module')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditModule.valid || EditModule.pristine || EditModule.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditModule.errors && EditModule.errors.required">
              Module is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('resources')">

          <fieldset class="form-group">
          <label for="EditResources">Resources</label>
          

            <div class="form-check"
                ngModelGroup="EditResources"
                
                #EditResources="ngModelGroup" 
            >
                <ng-template [ngIf]="detail['resources'] && detail['resources']['selection']">
                     <div class="badge badge-pill badge-secondary" *ngFor="let element of detail['resources']['selection']; let i = index;">
                        {{element}}
              <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromArrayField('resources', i)" title="Remove"></i>
          </div>
                </ng-template>

          <span *ngIf="arraySelected('resources')" 
                class="icon-clear" (click)="clearValueFromDetail('resources')">
                <i class="fas fa-times-circle" title="Clear"></i></span>

                <div class="input-group input-group-sm w-50 mt-3">
                <input type="search" class="form-control border"
                    id="EditResourcesNew" #EditResourcesNew="ngModel"
            [(ngModel)]="detail['resources']['new']" [ngModelOptions]="{standalone: true}"
                    
                    
                 
            (keydown.enter)="$event.target.blur();onAddArrayItem('resources');false"
              > 
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="onAddArrayItem('resources')"><i class="fas fa-plus"></i></button>
          </div>
        </div>
            <div [hidden]="EditResourcesNew.valid
                           || EditResourcesNew.pristine 
                           || EditResourcesNew.errors.minlength"
             class="alert alert-danger small p-1">
 

            </div>
        

                <!-- fake hidden input ngModel for directive to check the values-->
            <input type="checkbox" name="EditResourcesSelection" 
               style="display:none"
               id="EditResourcesSelection"
                 [(ngModel)]="detail['resources']['selection'].length" 
                 #EditResourcesSelection="ngModel">
        </div>

          <div [hidden]="EditResources.valid || EditResources.pristine"
           class="alert alert-danger">

          </div>
        </fieldset>
    
</div>

         </div>	
	     <div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('module')">

        <fieldset class="form-group">
          <label for="EditModule">Module</label>
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditModule" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['module']" name="EditModule"
                    #EditModule="ngModel">
            <div *ngIf="detail['module']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('module')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditModule.valid || EditModule.pristine || EditModule.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditModule.errors && EditModule.errors.required">
              Module is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('resources')">

          <fieldset class="form-group">
          <label for="EditResources">Resources</label>
          

            <div class="form-check"
                ngModelGroup="EditResources"
                
                #EditResources="ngModelGroup" 
            >
                <ng-template [ngIf]="detail['resources'] && detail['resources']['selection']">
                     <div class="badge badge-pill badge-secondary" *ngFor="let element of detail['resources']['selection']; let i = index;">
                        {{element}}
              <i class="fas fa-times-circle icon-clear-badge" (click)="clearValueFromArrayField('resources', i)" title="Remove"></i>
          </div>
                </ng-template>

          <span *ngIf="arraySelected('resources')" 
                class="icon-clear" (click)="clearValueFromDetail('resources')">
                <i class="fas fa-times-circle" title="Clear"></i></span>

                <div class="input-group input-group-sm w-50 mt-3">
                <input type="search" class="form-control border"
                    id="EditResourcesNew" #EditResourcesNew="ngModel"
            [(ngModel)]="detail['resources']['new']" [ngModelOptions]="{standalone: true}"
                    
                    
                 
            (keydown.enter)="$event.target.blur();onAddArrayItem('resources');false"
              > 
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="onAddArrayItem('resources')"><i class="fas fa-plus"></i></button>
          </div>
        </div>
            <div [hidden]="EditResourcesNew.valid
                           || EditResourcesNew.pristine 
                           || EditResourcesNew.errors.minlength"
             class="alert alert-danger small p-1">
 

            </div>
        

                <!-- fake hidden input ngModel for directive to check the values-->
            <input type="checkbox" name="EditResourcesSelection" 
               style="display:none"
               id="EditResourcesSelection"
                 [(ngModel)]="detail['resources']['selection'].length" 
                 #EditResourcesSelection="ngModel">
        </div>

          <div [hidden]="EditResources.valid || EditResources.pristine"
           class="alert alert-danger">

          </div>
        </fieldset>
    
</div>

         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			type="button" (click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

