<div class="detail" *ngIf="detail">
	
	<div class="action-buttons">
        <!--<a href="javascript:void(0)" (click)="goBack()"><i class="fas fa-angle-double-left" title="Back"></i></a>-->
    <a [routerLink]="['../../list' ]"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
		<a [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
		<a [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
		<a routerLink="." class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</a>
	</div>
	
	<div class="card transparent-border">
		<div class="post-head-picture" *ngIf="detail['signaturePicture']">
			                
                    <file-display [downloadUrl]="detail['signaturePicture']" [isLarge]="true"></file-display>

		</div>
		<div class="card-body">
			<h3 class="card-title">                
                    {{detail['title']}}
</h3>
			<h6 class="card-subtitle mb-2 text-muted">
				                
                    {{detail['author']}}
, 
				                  {{detail['publishDate']?detail['publishDate']['value']:""}}

			</h6>

			<div class="card-text">
					                 
                    <div mra-richtext-show="eventDetailContent"></div>
                   {{detail['content']?detail['content']['value']:""}}

			</div>
		</div>
	</div>


	<router-outlet></router-outlet>

</div>
