<div class="edit" *ngIf="detail">
	<div *ngIf="!subEdit" class="action-buttons">
        <!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title" *ngIf="!subEdit">{{action}} User</h4>    
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('username')">

	      <fieldset class="form-group">
	        <label for="muserEditUsername">Username</label>

	        <input type="text" class="form-control" id="muserEditUsername" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['username']" name="muserEditUsername"
	                #muserEditUsername="ngModel">

	        <div [hidden]="muserEditUsername.valid || muserEditUsername.pristine || muserEditUsername.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="muserEditUsername.errors && muserEditUsername.errors.required">
    	        Username is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('email')">

	      <fieldset class="form-group">
	        <label for="muserEditEmail">Email</label>

	        <input type="text" class="form-control" id="muserEditEmail" 
	                
	                
	                
		        	 
	                [(ngModel)]="detail['email']" name="muserEditEmail"
	                #muserEditEmail="ngModel">

	        <div [hidden]="muserEditEmail.valid || muserEditEmail.pristine || muserEditEmail.errors.minlength"
     			class="alert alert-danger">

 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('phone')">

	      <fieldset class="form-group">
	        <label for="muserEditPhone">Phone</label>

	        <input type="text" class="form-control" id="muserEditPhone" 
	                
	                
	                
		        	 
	                [(ngModel)]="detail['phone']" name="muserEditPhone"
	                #muserEditPhone="ngModel">

	        <div [hidden]="muserEditPhone.valid || muserEditPhone.pristine || muserEditPhone.errors.minlength"
     			class="alert alert-danger">

 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('status')">

	      <fieldset class="form-group">
	        <label for="muserEditStatus">Status</label>

	        <div class="form-check"

		          [ngClass]="{'ng-valid': true} "
		        >

	          <div class="form-check-inline">
		        <input type="radio" name="muserEditStatus" 
		        	class="form-check-input"
		        	
		        	id="muserEditStatusEnabled" [value]="'Enabled'"
		        	 
		        	[(ngModel)]="detail['status']"
		        	#muserEditStatus="ngModel">
		      	<label class="form-check-label">Enabled</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="radio" name="muserEditStatus" 
		        	class="form-check-input"
		        	
		        	id="muserEditStatusDisabled" [value]="'Disabled'"
		        	 
		        	[(ngModel)]="detail['status']"
		        	#muserEditStatus="ngModel">
		      	<label class="form-check-label">Disabled</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="radio" name="muserEditStatus" 
		        	class="form-check-input"
		        	
		        	id="muserEditStatusPending" [value]="'Pending'"
		        	 
		        	[(ngModel)]="detail['status']"
		        	#muserEditStatus="ngModel">
		      	<label class="form-check-label">Pending</label>
		      </div>

		      <span *ngIf="enums['status'].includes(detail['status'])" 
		          class="icon-clear" (click)="clearValueFromDetail('status')">
		          <i class="fas fa-times-circle" title="Clear"></i></span> 
		    </div>

	        <div [hidden]="muserEditStatus.valid || muserEditStatus.pristine || muserEditStatus.errors.minlength"
     			class="alert alert-danger">

 

	        </div>
        
	      </fieldset>
    
</div>
         </div>	
	     <div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('username')">

	      <fieldset class="form-group">
	        <label for="muserEditUsername">Username</label>

	        <input type="text" class="form-control" id="muserEditUsername" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['username']" name="muserEditUsername"
	                #muserEditUsername="ngModel">

	        <div [hidden]="muserEditUsername.valid || muserEditUsername.pristine || muserEditUsername.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="muserEditUsername.errors && muserEditUsername.errors.required">
    	        Username is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('email')">

	      <fieldset class="form-group">
	        <label for="muserEditEmail">Email</label>

	        <input type="text" class="form-control" id="muserEditEmail" 
	                
	                
	                
		        	 
	                [(ngModel)]="detail['email']" name="muserEditEmail"
	                #muserEditEmail="ngModel">

	        <div [hidden]="muserEditEmail.valid || muserEditEmail.pristine || muserEditEmail.errors.minlength"
     			class="alert alert-danger">

 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('phone')">

	      <fieldset class="form-group">
	        <label for="muserEditPhone">Phone</label>

	        <input type="text" class="form-control" id="muserEditPhone" 
	                
	                
	                
		        	 
	                [(ngModel)]="detail['phone']" name="muserEditPhone"
	                #muserEditPhone="ngModel">

	        <div [hidden]="muserEditPhone.valid || muserEditPhone.pristine || muserEditPhone.errors.minlength"
     			class="alert alert-danger">

 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('status')">

	      <fieldset class="form-group">
	        <label for="muserEditStatus">Status</label>

	        <div class="form-check"

		          [ngClass]="{'ng-valid': true} "
		        >

	          <div class="form-check-inline">
		        <input type="radio" name="muserEditStatus" 
		        	class="form-check-input"
		        	
		        	id="muserEditStatusEnabled" [value]="'Enabled'"
		        	 
		        	[(ngModel)]="detail['status']"
		        	#muserEditStatus="ngModel">
		      	<label class="form-check-label">Enabled</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="radio" name="muserEditStatus" 
		        	class="form-check-input"
		        	
		        	id="muserEditStatusDisabled" [value]="'Disabled'"
		        	 
		        	[(ngModel)]="detail['status']"
		        	#muserEditStatus="ngModel">
		      	<label class="form-check-label">Disabled</label>
		      </div>

	          <div class="form-check-inline">
		        <input type="radio" name="muserEditStatus" 
		        	class="form-check-input"
		        	
		        	id="muserEditStatusPending" [value]="'Pending'"
		        	 
		        	[(ngModel)]="detail['status']"
		        	#muserEditStatus="ngModel">
		      	<label class="form-check-label">Pending</label>
		      </div>

		      <span *ngIf="enums['status'].includes(detail['status'])" 
		          class="icon-clear" (click)="clearValueFromDetail('status')">
		          <i class="fas fa-times-circle" title="Clear"></i></span> 
		    </div>

	        <div [hidden]="muserEditStatus.valid || muserEditStatus.pristine || muserEditStatus.errors.minlength"
     			class="alert alert-danger">

 

	        </div>
        
	      </fieldset>
    
</div><div *ngIf="!hiddenFields.includes('password')">

	      <fieldset class="form-group">
	        <label for="muserEditPassword">Password</label>

	        <input type="text" class="form-control" id="muserEditPassword" 
	                required
	                
	                
		        	 
	                [(ngModel)]="detail['password']" name="muserEditPassword"
	                #muserEditPassword="ngModel">

	        <div [hidden]="muserEditPassword.valid || muserEditPassword.pristine || muserEditPassword.errors.minlength"
     			class="alert alert-danger">

	          <div *ngIf="muserEditPassword.errors && muserEditPassword.errors.required">
    	        Password is required.
  	          </div>
 

	        </div>
        
	      </fieldset>
    
</div>
         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			type="button" (click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

