.header {
  padding: 10px;
  background: #00BFFF;
  color: white;
  margin-bottom: 30px;
}

.logo {
    max-width:100%;
}

.big-header{
  margin-top: -25px;
  margin-bottom: -20px;
  font-size: 50px;
}

.small-header{
  font-size: 30px;
  margin-top: 50px;
}

.footer {
  font-size: 30px;
  background-color: #00BFFF;
  color: white;
  text-align: center;
  padding: 50px;
  
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #00BFFF;
  padding: 25px;
  color: white;
  margin-bottom: 30px;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}