.header {
  padding: 10px;
  background: #00BFFF;
  color: white;
  margin-bottom: 30px;
}

.logo {
    max-width:100px;
}

.logo-text {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 110px; /*loto max-width + 10 */
}

.contact-info {
    margin-top: 0.5rem;
}


.footer {
  font-size: 30px;
  background-color: #00BFFF;
  color: white;
  text-align: center;
  padding: 50px;
  
}

.active {
  background-color: #4CAF50;
}