<div class="header">
  <div class="row"> 
    <div class="col-6">
        <img src="assets/LKA.png" align="left" class="logo">
        <div class="logo-text">Light of Knowledge Acadamy</div>
    </div>
    <div class="col-3">
		<div class="contact-info">
            <div><i class="fas fa-phone"></i> (408)996-1236</div>
		    <div><i class="fa fa-map-marker" aria-hidden="true"></i>
                 20432 Silverado Ave STE 6,
            </div> 
            <div>&nbsp;&nbsp;&nbsp;Cupertino, CA 95014</div>
        </div>
	</div>
    <div class="col-2"></div>
    <div class="col-1" align="center">
        <div style="padding-top: 0.6rem"><app-auth-icon></app-auth-icon></div>
    </div>
  </div> <!-- row -->
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/la.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="assets/images/chicago.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="assets/images/ny.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<router-outlet></router-outlet>

<div id="footer" class="footer">

<p>© 2019 Light of Knowledge Academy, Inc. All rights reserved.</p>
<p>20432 Silverado Ave STE 6, Cupertino, CA 95014</p>
</div>
