.header {
  padding: 10px;
  background: #00BFFF;
  color: white;
  margin-bottom: 30px;
}

.logo {
  height: 150px;
}

.big-header{
  margin-top: -25px;
  margin-bottom: -20px;
  font-size: 100px;
}

.small-header{
  font-size: 30px;
}

.footer {
  font-size: 30px;
  background-color: #00BFFF;
  color: white;
  text-align: center;
  padding: 50px;
}