<div class="edit" *ngIf="detail">
	<div *ngIf="!embeddedView" class="action-buttons">
        <!-- <a href="javascript:void(0)" (click)="goBack()" ><i class="fas fa-angle-double-left" title="Back"></i></a> -->
	</div>
	
	<div class="card" style="text-align: left;">
	  <div class="card-body">
	    <h4 class="card-title" *ngIf="!embeddedView">{{action}} Instructors</h4>
	    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
	    
	     <div *ngIf="action == 'Edit'">
<div *ngIf="!hiddenFields.includes('firstName')">

        <fieldset class="form-group">
          <label for="EditFirstName">First Name</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditFirstName" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['firstName']" name="EditFirstName"
                    #EditFirstName="ngModel">
            <div *ngIf="detail['firstName']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('firstName')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditFirstName.valid || EditFirstName.pristine || EditFirstName.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditFirstName.errors && EditFirstName.errors.required">
              FirstName is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('lastName')">

        <fieldset class="form-group">
          <label for="EditLastName">Last Name</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditLastName" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['lastName']" name="EditLastName"
                    #EditLastName="ngModel">
            <div *ngIf="detail['lastName']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('lastName')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditLastName.valid || EditLastName.pristine || EditLastName.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditLastName.errors && EditLastName.errors.required">
              LastName is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('courses')">

        <fieldset class="form-group">
          <label for="EditCourses">Program </label>
          
          
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('courses')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditCourses" 
                  [ngClass]="{'pointer ref-badge': detail['courses']['_id']}"
                  (focus)="onRefSelect('courses')"
                    required
                 
                  [ngModel]="detail['courses']['value']" name="EditCourses"
                  #EditCourses="ngModel"> 
              <div *ngIf="detail['courses']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('courses')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditCourses.valid || EditCourses.pristine"
               class="alert alert-danger">

            <div *ngIf="EditCourses.errors && EditCourses.errors.required && !(detail['courses']?.date)">
              Courses is required.
              </div>
 
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('introduction')">

        <fieldset class="form-group">
          <label for="EditIntroduction">Introduction</label>
          
          

          <div class="input-group">
            <textarea rows="8" class="form-control rounded" id="EditIntroduction"
                    required
                    
                    
                 
                    [(ngModel)]="detail['introduction']" name="EditIntroduction"
                    #EditIntroduction="ngModel"></textarea>
            <div *ngIf="detail['introduction']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('introduction')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditIntroduction.valid || EditIntroduction.pristine || EditIntroduction.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditIntroduction.errors && EditIntroduction.errors.required">
              Introduction is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('email')">

        <fieldset class="form-group">
          <label for="EditEmail">Email</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditEmail" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['email']" name="EditEmail"
                    #EditEmail="ngModel">
            <div *ngIf="detail['email']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('email')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditEmail.valid || EditEmail.pristine || EditEmail.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditEmail.errors && EditEmail.errors.required">
              Email is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('phoneNumber')">

        <fieldset class="form-group">
          <label for="EditPhoneNumber">Phone Number</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditPhoneNumber" 
                    
                    
                    
                 
                    [(ngModel)]="detail['phoneNumber']" name="EditPhoneNumber"
                    #EditPhoneNumber="ngModel">
            <div *ngIf="detail['phoneNumber']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('phoneNumber')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditPhoneNumber.valid || EditPhoneNumber.pristine || EditPhoneNumber.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('photo')">

        <fieldset class="form-group">
          <label for="EditPhoto">Photo</label>
          
          
          <div class="form-check"

                [ngClass]="{'ng-valid': detail['photo'],
                            'ng-invalid': !detail['photo']}"
              
              >
              <input type="text" class="form-control rounded" id="EditPhoto" style="display: none;"
                  required
                  [(ngModel)]="detail['photo']" name="EditPhoto"
                  #EditPhoto="ngModel">
              <div style="display: inline-block; width: 80%;" >
                  <file-select [(downloadUrl)]="detail['photo']" [aspectRatio]=""></file-select>
              </div>
              <span *ngIf="detail['photo']" 
                class="icon-clear" (click)="clearValueFromDetail('photo')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </span>     
          </div>
          <div [hidden]="EditPhoto.valid || EditPhoto.pristine"
            class="alert alert-danger">

              <div *ngIf="EditPhoto.errors && EditPhoto.errors.required">
               Photo is required.
              </div>
          </div>
        </fieldset>				

    
</div>

         </div>	
	     <div *ngIf="action == 'Create' || action == 'Add' ">
<div *ngIf="!hiddenFields.includes('firstName')">

        <fieldset class="form-group">
          <label for="EditFirstName">First Name</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditFirstName" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['firstName']" name="EditFirstName"
                    #EditFirstName="ngModel">
            <div *ngIf="detail['firstName']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('firstName')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditFirstName.valid || EditFirstName.pristine || EditFirstName.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditFirstName.errors && EditFirstName.errors.required">
              FirstName is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('lastName')">

        <fieldset class="form-group">
          <label for="EditLastName">Last Name</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditLastName" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['lastName']" name="EditLastName"
                    #EditLastName="ngModel">
            <div *ngIf="detail['lastName']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('lastName')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditLastName.valid || EditLastName.pristine || EditLastName.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditLastName.errors && EditLastName.errors.required">
              LastName is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('courses')">

        <fieldset class="form-group">
          <label for="EditCourses">Program </label>
          
          
          <!-- <a class="icon-search" [routerLink]="['.']" (click)="onRefSelect('courses')"><i class="fas fa-list" title="Search"></i></a>  -->
          <div class="input-group">
            <!--  [attr.disabled]="true" -->
              <input class="form-control rounded" id="EditCourses" 
                  [ngClass]="{'pointer ref-badge': detail['courses']['_id']}"
                  (focus)="onRefSelect('courses')"
                    required
                 
                  [ngModel]="detail['courses']['value']" name="EditCourses"
                  #EditCourses="ngModel"> 
              <div *ngIf="detail['courses']['value']" 
                class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('courses')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </div>
          </div>
          <div [hidden]="EditCourses.valid || EditCourses.pristine"
               class="alert alert-danger">

            <div *ngIf="EditCourses.errors && EditCourses.errors.required && !(detail['courses']?.date)">
              Courses is required.
              </div>
 
          </div>
        </fieldset>
    
</div>
<div *ngIf="!hiddenFields.includes('introduction')">

        <fieldset class="form-group">
          <label for="EditIntroduction">Introduction</label>
          
          

          <div class="input-group">
            <textarea rows="8" class="form-control rounded" id="EditIntroduction"
                    required
                    
                    
                 
                    [(ngModel)]="detail['introduction']" name="EditIntroduction"
                    #EditIntroduction="ngModel"></textarea>
            <div *ngIf="detail['introduction']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('introduction')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditIntroduction.valid || EditIntroduction.pristine || EditIntroduction.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditIntroduction.errors && EditIntroduction.errors.required">
              Introduction is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('email')">

        <fieldset class="form-group">
          <label for="EditEmail">Email</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditEmail" 
                    required
                    
                    
                 
                    [(ngModel)]="detail['email']" name="EditEmail"
                    #EditEmail="ngModel">
            <div *ngIf="detail['email']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('email')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditEmail.valid || EditEmail.pristine || EditEmail.errors.minlength"
           class="alert alert-danger">

            <div *ngIf="EditEmail.errors && EditEmail.errors.required">
              Email is required.
              </div>
 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('phoneNumber')">

        <fieldset class="form-group">
          <label for="EditPhoneNumber">Phone Number</label>
          
          

          <div class="input-group">
            <input type="text" class="form-control rounded" id="EditPhoneNumber" 
                    
                    
                    
                 
                    [(ngModel)]="detail['phoneNumber']" name="EditPhoneNumber"
                    #EditPhoneNumber="ngModel">
            <div *ngIf="detail['phoneNumber']" 
                  class="input-group-append icon-clear-inside " (click)="clearValueFromDetail('phoneNumber')">
                  <i class="fas fa-times-circle" title="Clear"></i>
            </div>
          </div>

          <div [hidden]="EditPhoneNumber.valid || EditPhoneNumber.pristine || EditPhoneNumber.errors.minlength"
           class="alert alert-danger">

 

          </div>
        
        </fieldset>

    
</div>
<div *ngIf="!hiddenFields.includes('photo')">

        <fieldset class="form-group">
          <label for="EditPhoto">Photo</label>
          
          
          <div class="form-check"

                [ngClass]="{'ng-valid': detail['photo'],
                            'ng-invalid': !detail['photo']}"
              
              >
              <input type="text" class="form-control rounded" id="EditPhoto" style="display: none;"
                  required
                  [(ngModel)]="detail['photo']" name="EditPhoto"
                  #EditPhoto="ngModel">
              <div style="display: inline-block; width: 80%;" >
                  <file-select [(downloadUrl)]="detail['photo']" [aspectRatio]=""></file-select>
              </div>
              <span *ngIf="detail['photo']" 
                class="icon-clear" (click)="clearValueFromDetail('photo')">
                <i class="fas fa-times-circle" title="Clear"></i>
              </span>     
          </div>
          <div [hidden]="EditPhoto.valid || EditPhoto.pristine"
            class="alert alert-danger">

              <div *ngIf="EditPhoto.errors && EditPhoto.errors.required">
               Photo is required.
              </div>
          </div>
        </fieldset>				

    
</div>

         </div>	
         
		<div class="action-buttons-center">
	     	<button type="submit" class="btn btn-success" 
     			[disabled]="!editForm.form.valid">Submit</button>
	     	<button class="btn btn-outline-success" 
     			type="button" (click)="editCancel()">Cancel</button>
		</div>
	    </form>
	  </div>
	</div>
</div>

<ng-template academics-ref-select></ng-template>
